[data-mesh-id="comp-klm8lymkinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lymt"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lymx"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lymz1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lyn72"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lyn92"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynb"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynd1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynh1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynj2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynl2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynn"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lyno3"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynq2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynt"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynu2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lynx"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-klm8lyo0"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lymkinlineContent-gridContainer"]
  > [id="comp-kmdpc4bc"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyog2"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyop"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyoq2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyos2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyov"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyox"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyoy2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyp0"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyp2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyp4"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyp53"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyodinlineContent-gridContainer"]
  > [id="comp-klm8lyp72"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lypy1"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyq0"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyq11"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyq5"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyq82"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqa2"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqc"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqd1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyql"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqq1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqv"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqw2"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqy"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyqz1"] {
  position: relative;
  margin: 0px 0px 62px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyr9"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyrf"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-gridContainer"]
  > [id="comp-klm8lyrh1"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lypu1inlineContent-wedge-10"] {
  visibility: hidden;
  height: 1297px;
  width: 0;
  grid-area: 1 / 1 / 10 / 2;
}
[data-mesh-id="comp-klm8lyqd1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klm8lyqd1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lyqd1inlineContent-gridContainer"]
  > [id="comp-klm8lyqf"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyqd1inlineContent-gridContainer"]
  > [id="comp-klm8lyqh"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyqlinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klm8lyqlinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lyqlinlineContent-gridContainer"]
  > [id="comp-klm8lyqm2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyqlinlineContent-gridContainer"]
  > [id="comp-klm8lyqp"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyqq1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klm8lyqq1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klm8lyqq1inlineContent-gridContainer"]
  > [id="comp-klm8lyqs"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klm8lyqq1inlineContent-gridContainer"]
  > [id="comp-klm8lyqu"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-kmafv1x8"] {
  position: relative;
  margin: 9px 0px 21px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyl1"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyoa"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyp91"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lypf"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lypp"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrj"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrm1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyro"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrq1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrs"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrt2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrv1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lyrz"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lys02"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-gridContainer"]
  > [id="comp-klm8lys3"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerfy67cinlineContent-wedge-8"] {
  visibility: hidden;
  height: 377px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containerfy67cinlineContent-wedge-10"] {
  visibility: hidden;
  height: 968px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containerfy67cinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1297px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containerfy67cinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1426px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klm8lyph {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafv1x8 {
  width: 310px;
  height: 38px;
}
#comp-klm8lyp91 {
  width: 136px;
  height: 40px;
}
#comp-klm8lypf {
  width: 136px;
  height: 135px;
}
#comp-klm8lyrj {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm8lyrm1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm8lyro {
  width: 192px;
  height: 52px;
}
#comp-klm8lyrq1 {
  width: 192px;
  height: 52px;
}
#comp-klm8lyrs {
  width: 192px;
  height: 52px;
}
#comp-klm8lyrt2 {
  width: 192px;
  height: 52px;
}
#comp-klm8lyrv1 {
  width: 192px;
  height: 52px;
}
#comp-klm8lyrz {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm8lys02 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm8lys3 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm8lymt {
  width: 5px;
  height: 246px;
}
#comp-klm8lymx {
  width: 5px;
  height: 246px;
}
#comp-klm8lymz1 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyn72 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyn92 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynb {
  width: 20px;
  height: 19px;
}
#comp-klm8lynd1 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynh1 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynj2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynl2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynn {
  width: 20px;
  height: 19px;
}
#comp-klm8lyno3 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynq2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynt {
  width: 20px;
  height: 19px;
}
#comp-klm8lynu2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lynx {
  width: 20px;
  height: 19px;
}
#comp-klm8lyo0 {
  width: 20px;
  height: 19px;
}
#comp-kmdpc4bc {
  width: 600px;
  height: 290px;
}
#comp-klm8lyog2 {
  width: 382px;
  height: 245px;
}
#comp-klm8lyop {
  width: 320px;
  height: 232px;
}
#comp-klm8lyoq2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyos2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyov {
  width: 20px;
  height: 19px;
}
#comp-klm8lyox {
  width: 20px;
  height: 19px;
}
#comp-klm8lyoy2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyp0 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyp2 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyp4 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyp53 {
  width: 20px;
  height: 19px;
}
#comp-klm8lyp72 {
  width: 20px;
  height: 19px;
}
#comp-klm8lypy1 {
  width: 979px;
  height: 77px;
}
#comp-klm8lyq0 {
  width: 979px;
  height: 230px;
}
#comp-klm8lyq11 {
  width: 979px;
  height: 5px;
}
#comp-klm8lyq5 {
  width: 979px;
  height: 518px;
}
#comp-klm8lyq82 {
  width: 123px;
  height: 40px;
}
#comp-klm8lyqa2 {
  width: 979px;
  height: 5px;
}
#comp-klm8lyqc {
  width: 979px;
  height: 78px;
}
#comp-klm8lyqv {
  width: 979px;
  height: 5px;
}
#comp-klm8lyqw2 {
  width: 979px;
  height: 78px;
}
#comp-klm8lyqy {
  width: 979px;
  height: 5px;
}
#comp-klm8lyqz1 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 110px;
}
#comp-klm8lyr9 {
  width: 121px;
  height: 40px;
}
#comp-klm8lyrf {
  width: 121px;
  height: 40px;
}
#comp-klm8lyrh1 {
  width: 121px;
  height: 40px;
}
#comp-klm8lyqf {
  width: 58px;
  height: 40px;
}
#comp-klm8lyqh {
  width: 158px;
  height: 43px;
}
#comp-klm8lyqm2 {
  width: 43px;
  height: 40px;
}
#comp-klm8lyqp {
  width: 151px;
  height: 43px;
}
#comp-klm8lyqs {
  width: 32px;
  height: 40px;
}
#comp-klm8lyqu {
  width: 143px;
  height: 43px;
}
#fy67c {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klm8lyl1 {
  width: 980px;
}
#comp-klm8lyoa {
  width: 980px;
}
#comp-klm8lypp {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klm8lymk {
  width: 980px;
}
#comp-klm8lyod {
  width: 980px;
}
#comp-klm8lypu1 {
  width: 980px;
}
#comp-klm8lyqd1 {
  width: 223px;
}
#comp-klm8lyql {
  width: 223px;
}
#comp-klm8lyqq1 {
  width: 223px;
}
#comp-klm8lyph-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafv1x8 {
  height: auto;
}
#comp-klm8lyp91 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klm8lypf {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klm8lyph {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klm8lymt {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klm8lymx {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klm8lymz1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyn72 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyn92 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynd1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynh1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynj2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynl2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynn {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyno3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynt {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynu2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lynx {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyo0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpc4bc {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klm8lyog2 {
  --min-height: 185px;
  height: auto;
}
#comp-klm8lyop {
  --min-height: 210px;
  height: auto;
}
#comp-klm8lyoq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyos2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyov {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyox {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyoy2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyp0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyp2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyp4 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyp53 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lyp72 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klm8lypy1 {
  height: auto;
  scroll-margin-top: 100px;
}
#comp-klm8lyq0 {
  height: auto;
}
#comp-klm8lyq11 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klm8lyq5 {
  height: auto;
  scroll-margin-top: 95px;
}
#comp-klm8lyq82 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klm8lyqa2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klm8lyqc {
  --min-height: 78px;
  height: auto;
  scroll-margin-top: 95px;
}
#comp-klm8lyqv {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klm8lyqw2 {
  --min-height: 78px;
  height: auto;
  scroll-margin-top: 100px;
}
#comp-klm8lyqy {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klm8lyqf {
  --opacity: 1;
}
#comp-klm8lyqh {
  height: auto;
}
#comp-klm8lyqm2 {
  --opacity: 1;
}
#comp-klm8lyqp {
  height: auto;
}
#comp-klm8lyqs {
  --opacity: 1;
}
#comp-klm8lyqu {
  height: auto;
}
#fy67c {
  width: auto;
  min-height: 2420px;
}
#comp-klm8lyl1 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klm8lyoa {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klm8lypp {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klm8lymk {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klm8lyod {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klm8lypu1 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klm8lyqd1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klm8lyql {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klm8lyqq1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_fy67c {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyro .style-klv8auna__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyro .style-klv8auna__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klm8lyro .style-klv8auna__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klm8lyro .style-klv8auna__root:disabled {
  background: #e2e2e2;
}

#comp-klm8lyro .style-klv8auna__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyro .style-klv8auna__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyro .style-klv8auna__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klm8lyro .style-klv8auna__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klm8lyro .style-klv8auna__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klm8lyro .style-klv8auna__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klm8lyro .style-klv8auna__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrq1 .style-klv8b0gj__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrq1 .style-klv8b0gj__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klm8lyrq1 .style-klv8b0gj__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klm8lyrq1 .style-klv8b0gj__root:disabled {
  background: #e2e2e2;
}

#comp-klm8lyrq1
  .style-klv8b0gj__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrq1 .style-klv8b0gj__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrq1 .style-klv8b0gj__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klm8lyrq1 .style-klv8b0gj__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klm8lyrq1 .style-klv8b0gj__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klm8lyrq1 .style-klv8b0gj__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klm8lyrq1 .style-klv8b0gj__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrs .style-klv8b7oe__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrs .style-klv8b7oe__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klm8lyrs .style-klv8b7oe__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klm8lyrs .style-klv8b7oe__root:disabled {
  background: #e2e2e2;
}

#comp-klm8lyrs .style-klv8b7oe__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrs .style-klv8b7oe__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrs .style-klv8b7oe__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klm8lyrs .style-klv8b7oe__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klm8lyrs .style-klv8b7oe__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klm8lyrs .style-klv8b7oe__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klm8lyrs .style-klv8b7oe__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrt2 .style-klv8bfli__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrt2 .style-klv8bfli__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klm8lyrt2 .style-klv8bfli__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klm8lyrt2 .style-klv8bfli__root:disabled {
  background: #e2e2e2;
}

#comp-klm8lyrt2
  .style-klv8bfli__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrt2 .style-klv8bfli__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrt2 .style-klv8bfli__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klm8lyrt2 .style-klv8bfli__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klm8lyrt2 .style-klv8bfli__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klm8lyrt2 .style-klv8bfli__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrv1 .style-klv8bm53__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrv1 .style-klv8bm53__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klm8lyrv1 .style-klv8bm53__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klm8lyrv1 .style-klv8bm53__root:disabled {
  background: #e2e2e2;
}

#comp-klm8lyrv1
  .style-klv8bm53__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrv1 .style-klv8bm53__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrv1 .style-klv8bm53__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klm8lyrv1 .style-klv8bm53__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klm8lyrv1 .style-klv8bm53__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klm8lyrv1 .style-klv8bm53__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klm8lyrv1 .style-klv8bm53__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyr9 .style-klv8cvg3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyr9 .style-klv8cvg3__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klm8lyr9 .style-klv8cvg3__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klm8lyr9 .style-klv8cvg3__root[disabled] {
  background: #e2e2e2;
}

#comp-klm8lyr9
  .style-klv8cvg3__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyr9 .style-klv8cvg3__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyr9 .style-klv8cvg3__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klm8lyr9 .style-klv8cvg3__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klm8lyr9 .style-klv8cvg3__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrf .style-klv8d2ad__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrf .style-klv8d2ad__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klm8lyrf .style-klv8d2ad__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klm8lyrf .style-klv8d2ad__root[disabled] {
  background: #e2e2e2;
}

#comp-klm8lyrf
  .style-klv8d2ad__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrf .style-klv8d2ad__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrf .style-klv8d2ad__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klm8lyrf .style-klv8d2ad__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klm8lyrf .style-klv8d2ad__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klm8lyrh1 .style-klv8d80f__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klm8lyrh1 .style-klv8d80f__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klm8lyrh1 .style-klv8d80f__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klm8lyrh1 .style-klv8d80f__root[disabled] {
  background: #e2e2e2;
}

#comp-klm8lyrh1
  .style-klv8d80f__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klm8lyrh1
  .style-klv8d80f__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klm8lyrh1 .style-klv8d80f__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klm8lyrh1 .style-klv8d80f__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klm8lyrh1 .style-klv8d80f__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klm8lyqf svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klm8lyqm2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klm8lyqs svg [data-color="1"] {
  fill: #454a6e;
}
