[data-mesh-id="comp-klhvstqpinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(6, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstra1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 1px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstre2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstrg"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstrh1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstrs"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstru"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstrw"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstry"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstrz2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvsts2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvsts4"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvsts6"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvsts82"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstsb"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstsd"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstsf"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstsg2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-klhvstsj"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstqpinlineContent-gridContainer"]
  > [id="comp-kmdpsjzp"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstsv"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstsw2"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstsy"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstt0"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstt2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstt32"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstt72"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstt91"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvsttb1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvsttd1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klhvstti"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstsrinlineContent-gridContainer"]
  > [id="comp-klmd0m9t"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-kmmeymw8"] {
  position: relative;
  margin: 46px 0px 58px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-kmmeyoc0"] {
  position: relative;
  margin: 46px 0px 10px calc((100% - 980px) * 0.5);
  left: 267px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhxra2c"] {
  position: relative;
  margin: 178px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-kmmexz2q"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhxs8x9"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-kmmf9mo9"] {
  position: relative;
  margin: 0px 0px 5px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstu5"] {
  position: relative;
  margin: 0px 0px 35px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhxshyo"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstu7"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstu8"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstud1"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstuj"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-kmmfqpek"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstur"] {
  position: relative;
  margin: 0px 0px 30px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhxstq2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstut"] {
  position: relative;
  margin: 0px 0px 38px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstuw"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstuz"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvsttrinlineContent-gridContainer"]
  > [id="comp-klhvstv2"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 767px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstu8inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klhvstu8inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvstu8inlineContent-gridContainer"]
  > [id="comp-klhvstua"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstu8inlineContent-gridContainer"]
  > [id="comp-klhvstuc"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstud1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klhvstud1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvstud1inlineContent-gridContainer"]
  > [id="comp-klhvstue2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstud1inlineContent-gridContainer"]
  > [id="comp-klhvstug2"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstujinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klhvstujinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klhvstujinlineContent-gridContainer"]
  > [id="comp-klhvstum"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klhvstujinlineContent-gridContainer"]
  > [id="comp-klhvstup"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 3399px; */
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-kmag3ifb"] {
  position: relative;
  margin: 18px 0px 28px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstqd"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstso"] {
  position: relative;
  margin: 104px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvsttk"] {
  position: relative;
  margin: 130px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvsttm"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstv32"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstv51"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstv62"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstv9"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstvb"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstvd"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstve2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstvg1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstvh1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-gridContainer"]
  > [id="comp-klhvstvi1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerxwom9inlineContent-wedge-6"] {
  visibility: hidden;
  height: 885px;
  width: 0;
  grid-area: 4 / 1 / 6 / 2;
}
[data-mesh-id="Containerxwom9inlineContent-wedge-8"] {
  visibility: hidden;
  height: 1666px;
  width: 0;
  grid-area: 4 / 1 / 8 / 2;
}
[data-mesh-id="Containerxwom9inlineContent-wedge-10"] {
  visibility: hidden;
  height: 1953px;
  width: 0;
  grid-area: 4 / 1 / 10 / 2;
}
[data-mesh-id="Containerxwom9inlineContent-wedge-12"] {
  visibility: hidden;
  height: 2208px;
  width: 0;
  grid-area: 4 / 1 / 12 / 2;
}
#comp-kljryfgy {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag3ifb {
  width: 310px;
  height: 38px;
}
#comp-klhvsttk {
  width: 136px;
  height: 40px;
}
#comp-klhvstv32 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klhvstv51 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klhvstv62 {
  width: 192px;
  height: 52px;
}
#comp-klhvstv9 {
  width: 192px;
  height: 52px;
}
#comp-klhvstvb {
  width: 192px;
  height: 52px;
}
#comp-klhvstvd {
  width: 192px;
  height: 52px;
}
#comp-klhvstve2 {
  width: 192px;
  height: 52px;
}
#comp-klhvstvg1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klhvstvh1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klhvstvi1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klhvstra1 {
  width: 136px;
  height: 135px;
}
#comp-klhvstre2 {
  width: 5px;
  height: 246px;
}
#comp-klhvstrg {
  width: 5px;
  height: 246px;
}
#comp-klhvstrh1 {
  width: 20px;
  height: 19px;
}
#comp-klhvstrs {
  width: 20px;
  height: 19px;
}
#comp-klhvstru {
  width: 20px;
  height: 19px;
}
#comp-klhvstrw {
  width: 20px;
  height: 19px;
}
#comp-klhvstry {
  width: 20px;
  height: 19px;
}
#comp-klhvstrz2 {
  width: 20px;
  height: 19px;
}
#comp-klhvsts2 {
  width: 20px;
  height: 19px;
}
#comp-klhvsts4 {
  width: 20px;
  height: 19px;
}
#comp-klhvsts6 {
  width: 20px;
  height: 19px;
}
#comp-klhvsts82 {
  width: 20px;
  height: 19px;
}
#comp-klhvstsb {
  width: 20px;
  height: 19px;
}
#comp-klhvstsd {
  width: 20px;
  height: 19px;
}
#comp-klhvstsf {
  width: 20px;
  height: 19px;
}
#comp-klhvstsg2 {
  width: 20px;
  height: 19px;
}
#comp-klhvstsj {
  width: 20px;
  height: 19px;
}
#comp-kmdpsjzp {
  width: 600px;
  height: 290px;
}
#comp-klhvstsv {
  width: 382px;
  height: 245px;
}
#comp-klhvstsw2 {
  width: 320px;
  height: 232px;
}
#comp-klhvstsy {
  width: 20px;
  height: 19px;
}
#comp-klhvstt0 {
  width: 20px;
  height: 19px;
}
#comp-klhvstt2 {
  width: 20px;
  height: 19px;
}
#comp-klhvstt32 {
  width: 20px;
  height: 19px;
}
#comp-klhvstt72 {
  width: 20px;
  height: 19px;
}
#comp-klhvstt91 {
  width: 20px;
  height: 19px;
}
#comp-klhvsttb1 {
  width: 20px;
  height: 19px;
}
#comp-klhvsttd1 {
  width: 20px;
  height: 19px;
}
#comp-klhvstti {
  width: 20px;
  height: 19px;
}
#comp-klmd0m9t {
  width: 20px;
  height: 19px;
}
#comp-kmmeymw8 {
  width: 224px;
  height: 166px;
}
#comp-kmmeyoc0 {
  width: 224px;
  height: 70px;
}
#comp-klhxra2c {
  width: 980px;
  height: 5px;
}
#comp-kmmexz2q {
  width: 979px;
  height: 595px;
}
#comp-klhxs8x9 {
  width: 980px;
  height: 5px;
}
#comp-kmmf9mo9 {
  width: 979px;
  height: 678px;
}
#comp-klhvstu5 {
  width: 123px;
  height: 40px;
}
#comp-klhxshyo {
  width: 980px;
  height: 5px;
}
#comp-klhvstu7 {
  width: 979px;
  height: 58px;
}
#comp-kmmfqpek {
  width: 980px;
  height: 5px;
}
#comp-klhvstur {
  width: 979px;
  height: 198px;
}
#comp-klhxstq2 {
  width: 980px;
  height: 5px;
}
#comp-klhvstut {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klhvstuw {
  width: 121px;
  height: 40px;
}
#comp-klhvstuz {
  width: 121px;
  height: 40px;
}
#comp-klhvstv2 {
  width: 121px;
  height: 40px;
}
#comp-klhvstua {
  width: 58px;
  height: 40px;
}
#comp-klhvstuc {
  width: 151px;
  height: 43px;
}
#comp-klhvstue2 {
  width: 43px;
  height: 40px;
}
#comp-klhvstug2 {
  width: 151px;
  height: 43px;
}
#comp-klhvstum {
  width: 32px;
  height: 40px;
}
#comp-klhvstup {
  width: 143px;
  height: 43px;
}
#xwom9 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klhvstqd {
  width: 980px;
}
#comp-klhvstso {
  width: 980px;
}
#comp-klhvsttm {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klhvstqp {
  width: 980px;
}
#comp-klhvstsr {
  width: 980px;
}
#comp-klhvsttr {
  width: 980px;
}
#comp-klhvstu8 {
  width: 223px;
}
#comp-klhvstud1 {
  width: 223px;
}
#comp-klhvstuj {
  width: 223px;
}
#comp-kljryfgy-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag3ifb {
  height: auto;
}
#comp-klhvsttk {
  --rd: 0px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kljryfgy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klhvstra1 {
  --rd: 5px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 0px;
  --sizeRd: 5px;
  --sizeBrw: 0px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingBottom: 0px;
  --contentPaddingTop: 0px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0;
  --height: 135px;
  --width: 136px;
}
#comp-klhvstre2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klhvstrg {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klhvstrh1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstrs {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstru {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstrw {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstry {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstrz2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsts2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsts4 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsts6 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsts82 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstsb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstsd {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstsf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstsg2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstsj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpsjzp {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klhvstsv {
  --min-height: 185px;
  height: auto;
}
#comp-klhvstsw2 {
  --min-height: 210px;
  height: auto;
}
#comp-klhvstsy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstt0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstt2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstt32 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstt72 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstt91 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsttb1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvsttd1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klhvstti {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmd0m9t {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmmeymw8 {
  height: auto;
}
#comp-kmmeyoc0 {
  height: auto;
}
#comp-klhxra2c {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmmexz2q {
  --min-height: 307px;
  height: auto;
  scroll-margin-top: 100px;
}
#comp-klhxs8x9 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmmf9mo9 {
  --min-height: 324px;
  height: auto;
  scroll-margin-top: 100px;
}
#comp-klhvstu5 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klhxshyo {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klhvstu7 {
  --min-height: 40px;
  height: auto;
  scroll-margin-top: 100px;
}
#comp-kmmfqpek {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klhvstur {
  --min-height: 78px;
  height: auto;
  scroll-margin-top: 100px;
}
#comp-klhxstq2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klhvstua {
  --opacity: 1;
}
#comp-klhvstuc {
  height: auto;
}
#comp-klhvstue2 {
  --opacity: 1;
}
#comp-klhvstug2 {
  height: auto;
}
#comp-klhvstum {
  --opacity: 1;
}
#comp-klhvstup {
  height: auto;
}
#xwom9 {
  width: auto;
  /* min-height: 3399px; */
}
#comp-klhvstqd {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klhvstso {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klhvsttm {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klhvstqp {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klhvstsr {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klhvsttr {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klhvstu8 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klhvstud1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klhvstuj {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_xwom9 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstv62 .style-klva28yh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstv62 .style-klva28yh__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klhvstv62 .style-klva28yh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klhvstv62 .style-klva28yh__root:disabled {
  background: #e2e2e2;
}

#comp-klhvstv62
  .style-klva28yh__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstv62 .style-klva28yh__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstv62 .style-klva28yh__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klhvstv62 .style-klva28yh__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klhvstv62 .style-klva28yh__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klhvstv62 .style-klva28yh__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klhvstv62 .style-klva28yh__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstv9 .style-klva2ekk__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstv9 .style-klva2ekk__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klhvstv9 .style-klva2ekk__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klhvstv9 .style-klva2ekk__root:disabled {
  background: #e2e2e2;
}

#comp-klhvstv9 .style-klva2ekk__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstv9 .style-klva2ekk__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstv9 .style-klva2ekk__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klhvstv9 .style-klva2ekk__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klhvstv9 .style-klva2ekk__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klhvstv9 .style-klva2ekk__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klhvstv9 .style-klva2ekk__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstvb .style-klva2kb7__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstvb .style-klva2kb7__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klhvstvb .style-klva2kb7__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klhvstvb .style-klva2kb7__root:disabled {
  background: #e2e2e2;
}

#comp-klhvstvb .style-klva2kb7__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstvb .style-klva2kb7__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstvb .style-klva2kb7__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klhvstvb .style-klva2kb7__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klhvstvb .style-klva2kb7__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klhvstvb .style-klva2kb7__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klhvstvb .style-klva2kb7__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstvd .style-klva2rbn__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstvd .style-klva2rbn__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klhvstvd .style-klva2rbn__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klhvstvd .style-klva2rbn__root:disabled {
  background: #e2e2e2;
}

#comp-klhvstvd .style-klva2rbn__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstvd .style-klva2rbn__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstvd .style-klva2rbn__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klhvstvd .style-klva2rbn__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klhvstvd .style-klva2rbn__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klhvstvd .style-klva2rbn__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstve2 .style-klva2w1l__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstve2 .style-klva2w1l__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klhvstve2 .style-klva2w1l__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klhvstve2 .style-klva2w1l__root:disabled {
  background: #e2e2e2;
}

#comp-klhvstve2
  .style-klva2w1l__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstve2 .style-klva2w1l__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstve2 .style-klva2w1l__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klhvstve2 .style-klva2w1l__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klhvstve2 .style-klva2w1l__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klhvstve2 .style-klva2w1l__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klhvstve2 .style-klva2w1l__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstuw .style-klva4ou0__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstuw .style-klva4ou0__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klhvstuw .style-klva4ou0__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klhvstuw .style-klva4ou0__root[disabled] {
  background: #e2e2e2;
}

#comp-klhvstuw
  .style-klva4ou0__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstuw .style-klva4ou0__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstuw .style-klva4ou0__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klhvstuw .style-klva4ou0__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klhvstuw .style-klva4ou0__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstuz .style-klva4urw__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstuz .style-klva4urw__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klhvstuz .style-klva4urw__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klhvstuz .style-klva4urw__root[disabled] {
  background: #e2e2e2;
}

#comp-klhvstuz
  .style-klva4urw__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstuz .style-klva4urw__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstuz .style-klva4urw__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klhvstuz .style-klva4urw__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klhvstuz .style-klva4urw__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klhvstv2 .style-klva50v6__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klhvstv2 .style-klva50v6__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klhvstv2 .style-klva50v6__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klhvstv2 .style-klva50v6__root[disabled] {
  background: #e2e2e2;
}

#comp-klhvstv2
  .style-klva50v6__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klhvstv2 .style-klva50v6__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klhvstv2 .style-klva50v6__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klhvstv2 .style-klva50v6__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klhvstv2 .style-klva50v6__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}
#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klhvstua svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klhvstue2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klhvstum svg [data-color="1"] {
  fill: #454a6e;
}
