[data-mesh-id="comp-klw8tvu6inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvug1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvul"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvum2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvut"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvuv2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvuz"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvv2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvv5"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvv81"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvc"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvve1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvg"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvi"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvj2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvl1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvn2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-klw8tvvp2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvu6inlineContent-gridContainer"]
  > [id="comp-kmdpqmwn"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvw41"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvw8"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwc"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwf1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwj"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwm"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwo"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwr"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwu1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvww2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvwz"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvvz2inlineContent-gridContainer"]
  > [id="comp-klw8tvx21"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvxw1"] {
  position: relative;
  margin: 46px 0px 56px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvxz1"] {
  position: relative;
  margin: 46px 0px 69px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvy11"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvy6"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvy92"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyb"] {
  position: relative;
  margin: 0px 0px 32px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyc3"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvye"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyg"] {
  position: relative;
  margin: 0px 0px 62px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyk2"] {
  position: relative;
  margin: 0px 0px 62px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyo3"] {
  position: relative;
  margin: 0px 0px 62px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyu2"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyx1"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvyz1"] {
  position: relative;
  margin: 0px 0px 30px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvz02"] {
  position: relative;
  margin: 0px 0px 38px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvz51"] {
  position: relative;
  margin: 367px 0px 56px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvz72"] {
  position: relative;
  margin: 367px 0px 56px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvxqinlineContent-gridContainer"]
  > [id="comp-klw8tvz9"] {
  position: relative;
  margin: 367px 0px 56px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyginlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klw8tvyginlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvyginlineContent-gridContainer"]
  > [id="comp-klw8tvyh2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyginlineContent-gridContainer"]
  > [id="comp-klw8tvyj1"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyk2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klw8tvyk2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvyk2inlineContent-gridContainer"]
  > [id="comp-klw8tvym"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyk2inlineContent-gridContainer"]
  > [id="comp-klw8tvyn3"] {
  position: relative;
  margin: 0px 0px 10px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyo3inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klw8tvyo3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klw8tvyo3inlineContent-gridContainer"]
  > [id="comp-klw8tvyr2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klw8tvyo3inlineContent-gridContainer"]
  > [id="comp-klw8tvyt"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-kmag2xs1"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvtu"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvvx"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvx6"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvx9"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvxg"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzb"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzd"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvze"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzf2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzh"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzi1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzj3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzl"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzm"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-gridContainer"]
  > [id="comp-klw8tvzn"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containery8kcxinlineContent-wedge-8"] {
  visibility: hidden;
  height: 748px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containery8kcxinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1817px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containery8kcxinlineContent-wedge-12"] {
  visibility: hidden;
  height: 2112px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containery8kcxinlineContent-wedge-14"] {
  visibility: hidden;
  height: 2292px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klw8tvxc {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag2xs1 {
  width: 310px;
  height: 38px;
}
#comp-klw8tvx6 {
  width: 136px;
  height: 40px;
}
#comp-klw8tvx9 {
  width: 136px;
  height: 135px;
}
#comp-klw8tvzb {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8tvzd {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8tvze {
  width: 192px;
  height: 52px;
}
#comp-klw8tvzf2 {
  width: 192px;
  height: 52px;
}
#comp-klw8tvzh {
  width: 192px;
  height: 52px;
}
#comp-klw8tvzi1 {
  width: 192px;
  height: 52px;
}
#comp-klw8tvzj3 {
  width: 192px;
  height: 52px;
}
#comp-klw8tvzl {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8tvzm {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8tvzn {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8tvug1 {
  width: 5px;
  height: 246px;
}
#comp-klw8tvul {
  width: 5px;
  height: 246px;
}
#comp-klw8tvum2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvut {
  width: 20px;
  height: 19px;
}
#comp-klw8tvuv2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvuz {
  width: 20px;
  height: 19px;
}
#comp-klw8tvv2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvv5 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvv81 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvc {
  width: 20px;
  height: 19px;
}
#comp-klw8tvve1 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvg {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvi {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvj2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvl1 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvn2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvvp2 {
  width: 20px;
  height: 19px;
}
#comp-kmdpqmwn {
  width: 600px;
  height: 290px;
}
#comp-klw8tvw41 {
  width: 382px;
  height: 245px;
}
#comp-klw8tvw8 {
  width: 320px;
  height: 232px;
}
#comp-klw8tvwc {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwf1 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwj {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwm {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwo {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwr {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwu1 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvww2 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvwz {
  width: 20px;
  height: 19px;
}
#comp-klw8tvx21 {
  width: 20px;
  height: 19px;
}
#comp-klw8tvxw1 {
  width: 224px;
  height: 134px;
}
#comp-klw8tvxz1 {
  width: 224px;
  height: 121px;
}
#comp-klw8tvy11 {
  width: 979px;
  height: 499px;
  scroll-margin-top: 100px;
}
#comp-klw8tvy6 {
  width: 979px;
  height: 5px;
}
#comp-klw8tvy92 {
  width: 979px;
  height: 960px;
  scroll-margin-top: 100px;
}
#comp-klw8tvyb {
  width: 123px;
  height: 40px;
}
#comp-klw8tvyc3 {
  width: 979px;
  height: 5px;
}
#comp-klw8tvye {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klw8tvyu2 {
  width: 979px;
  height: 5px;
}
#comp-klw8tvyx1 {
  width: 979px;
  height: 160px;
  scroll-margin-top: 90px;
}
#comp-klw8tvyz1 {
  width: 979px;
  height: 5px;
}
#comp-klw8tvz02 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klw8tvz51 {
  width: 121px;
  height: 40px;
}
#comp-klw8tvz72 {
  width: 121px;
  height: 40px;
}
#comp-klw8tvz9 {
  width: 121px;
  height: 40px;
}
#comp-klw8tvyh2 {
  width: 58px;
  height: 40px;
}
#comp-klw8tvyj1 {
  width: 194px;
  height: 43px;
}
#comp-klw8tvym {
  width: 43px;
  height: 40px;
}
#comp-klw8tvyn3 {
  width: 207px;
  height: 67px;
}
#comp-klw8tvyr2 {
  width: 32px;
  height: 40px;
}
#comp-klw8tvyt {
  width: 207px;
  height: 43px;
}
#y8kcx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klw8tvtu {
  width: 980px;
}
#comp-klw8tvvx {
  width: 980px;
}
#comp-klw8tvxg {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klw8tvu6 {
  width: 980px;
}
#comp-klw8tvvz2 {
  width: 980px;
}
#comp-klw8tvxq {
  width: 980px;
}
#comp-klw8tvyg {
  width: 223px;
}
#comp-klw8tvyk2 {
  width: 223px;
}
#comp-klw8tvyo3 {
  width: 223px;
}
#comp-klw8tvxc-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag2xs1 {
  height: auto;
}
#comp-klw8tvx6 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klw8tvx9 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klw8tvxc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klw8tvug1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klw8tvul {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klw8tvum2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvut {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvuv2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvuz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvv2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvv5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvv81 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvve1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvi {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvj2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvl1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvn2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvvp2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpqmwn {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klw8tvw41 {
  --min-height: 185px;
  height: auto;
}
#comp-klw8tvw8 {
  --min-height: 210px;
  height: auto;
}
#comp-klw8tvwc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwf1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwm {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwo {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwr {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwu1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvww2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvwz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvx21 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klw8tvxw1 {
  height: auto;
}
#comp-klw8tvxz1 {
  --min-height: 121px;
  height: auto;
}
#comp-klw8tvy11 {
  --min-height: 342px;
  height: auto;
}
#comp-klw8tvy6 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klw8tvy92 {
  --min-height: 324px;
  height: auto;
}
#comp-klw8tvyb {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klw8tvyc3 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klw8tvye {
  --min-height: 78px;
  height: auto;
}
#comp-klw8tvyu2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klw8tvyx1 {
  --min-height: 121px;
  height: auto;
}
#comp-klw8tvyz1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klw8tvyh2 {
  --opacity: 1;
}
#comp-klw8tvyj1 {
  height: auto;
}
#comp-klw8tvym {
  --opacity: 1;
}
#comp-klw8tvyn3 {
  --min-height: 67px;
  height: auto;
}
#comp-klw8tvyr2 {
  --opacity: 1;
}
#comp-klw8tvyt {
  height: auto;
}
#y8kcx {
  width: auto;
  min-height: 2420px;
}
#comp-klw8tvtu {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klw8tvvx {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klw8tvxg {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klw8tvu6 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klw8tvvz2 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klw8tvxq {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klw8tvyg {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klw8tvyk2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klw8tvyo3 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_y8kcx {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvze .style-klw8tvzf__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvze .style-klw8tvzf__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klw8tvze .style-klw8tvzf__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klw8tvze .style-klw8tvzf__root:disabled {
  background: #e2e2e2;
}

#comp-klw8tvze .style-klw8tvzf__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvze .style-klw8tvzf__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvze .style-klw8tvzf__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klw8tvze .style-klw8tvzf__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klw8tvze .style-klw8tvzf__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klw8tvze .style-klw8tvzf__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klw8tvze .style-klw8tvzf__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvzf2 .style-klw8tvzg1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvzf2 .style-klw8tvzg1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root:disabled {
  background: #e2e2e2;
}

#comp-klw8tvzf2
  .style-klw8tvzg1__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvzf2
  .style-klw8tvzg1__root:disabled
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klw8tvzf2 .style-klw8tvzg1__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klw8tvzf2 .style-klw8tvzg1__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvzh .style-klw8tvzh4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvzh .style-klw8tvzh4__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klw8tvzh .style-klw8tvzh4__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klw8tvzh .style-klw8tvzh4__root:disabled {
  background: #e2e2e2;
}

#comp-klw8tvzh
  .style-klw8tvzh4__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvzh .style-klw8tvzh4__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvzh .style-klw8tvzh4__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klw8tvzh .style-klw8tvzh4__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klw8tvzh .style-klw8tvzh4__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klw8tvzh .style-klw8tvzh4__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klw8tvzh .style-klw8tvzh4__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvzi1 .style-klw8tvzj1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvzi1 .style-klw8tvzj1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root:disabled {
  background: #e2e2e2;
}

#comp-klw8tvzi1
  .style-klw8tvzj1__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvzi1
  .style-klw8tvzj1__root:disabled
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klw8tvzi1 .style-klw8tvzj1__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvzj3 .style-klw8tvzk3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvzj3 .style-klw8tvzk3__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root:disabled {
  background: #e2e2e2;
}

#comp-klw8tvzj3
  .style-klw8tvzk3__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvzj3
  .style-klw8tvzk3__root:disabled
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klw8tvzj3 .style-klw8tvzk3__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klw8tvzj3 .style-klw8tvzk3__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvz51 .style-klw8tvz7__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvz51 .style-klw8tvz7__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klw8tvz51 .style-klw8tvz7__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klw8tvz51 .style-klw8tvz7__root[disabled] {
  background: #e2e2e2;
}

#comp-klw8tvz51
  .style-klw8tvz7__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvz51
  .style-klw8tvz7__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvz51 .style-klw8tvz7__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klw8tvz51 .style-klw8tvz7__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klw8tvz51 .style-klw8tvz7__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvz72 .style-klw8tvz83__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvz72 .style-klw8tvz83__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klw8tvz72 .style-klw8tvz83__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klw8tvz72 .style-klw8tvz83__root[disabled] {
  background: #e2e2e2;
}

#comp-klw8tvz72
  .style-klw8tvz83__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvz72
  .style-klw8tvz83__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvz72 .style-klw8tvz83__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klw8tvz72 .style-klw8tvz83__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klw8tvz72 .style-klw8tvz83__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klw8tvz9 .style-klw8tvza1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klw8tvz9 .style-klw8tvza1__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klw8tvz9 .style-klw8tvza1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klw8tvz9 .style-klw8tvza1__root[disabled] {
  background: #e2e2e2;
}

#comp-klw8tvz9
  .style-klw8tvza1__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klw8tvz9
  .style-klw8tvza1__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klw8tvz9 .style-klw8tvza1__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klw8tvz9 .style-klw8tvza1__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klw8tvz9 .style-klw8tvza1__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klw8tvyh2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klw8tvym svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klw8tvyr2 svg [data-color="1"] {
  fill: #454a6e;
}
