[data-mesh-id="comp-klrv95zlinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv95zz"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv9603"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv96042"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960f1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960h2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960j2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960l1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960n1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960q"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960s2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960u2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960w1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv960y1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv96102"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv96122"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv96142"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-klrv96171"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv95zlinlineContent-gridContainer"]
  > [id="comp-kmdpms3t"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv961m1"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv961t1"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv961x"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv961z"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv9621"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv9624"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv9626"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv96273"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv96292"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv962b1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv962d1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv961i1inlineContent-gridContainer"]
  > [id="comp-klrv962f1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv962y"] {
  position: relative;
  margin: 46px 0px 62px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv962z2"] {
  position: relative;
  margin: 46px 0px 56px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv9631"] {
  position: relative;
  margin: 0px 0px 4px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv96322"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv9637"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv96381"] {
  position: relative;
  margin: 0px 0px 32px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963a"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963b1"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963d"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963j1"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963o"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963t2"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963v"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963w1"] {
  position: relative;
  margin: 0px 0px 30px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv963y"] {
  position: relative;
  margin: 0px 0px 40px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv9645"] {
  position: relative;
  margin: 367px 0px 57px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv964a1"] {
  position: relative;
  margin: 367px 0px 57px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv962t2inlineContent-gridContainer"]
  > [id="comp-klrv964d1"] {
  position: relative;
  margin: 367px 0px 57px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963dinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klrv963dinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv963dinlineContent-gridContainer"]
  > [id="comp-klrv963f1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963dinlineContent-gridContainer"]
  > [id="comp-klrv963i"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963j1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klrv963j1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv963j1inlineContent-gridContainer"]
  > [id="comp-klrv963l"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963j1inlineContent-gridContainer"]
  > [id="comp-klrv963m2"] {
  position: relative;
  margin: 0px 0px 9px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963oinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klrv963oinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klrv963oinlineContent-gridContainer"]
  > [id="comp-klrv963q"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klrv963oinlineContent-gridContainer"]
  > [id="comp-klrv963s"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-kmag1rhv"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv95z8"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv961f"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv962h1"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv962k"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv962p"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964g1"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964i"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964j1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964m1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964o"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964q"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964s"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964t1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964u1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-gridContainer"]
  > [id="comp-klrv964w1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineradxaginlineContent-wedge-8"] {
  visibility: hidden;
  height: 569px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContaineradxaginlineContent-wedge-10"] {
  visibility: hidden;
  height: 1321px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContaineradxaginlineContent-wedge-12"] {
  visibility: hidden;
  height: 1610px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="ContaineradxaginlineContent-wedge-14"] {
  visibility: hidden;
  height: 1755px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klrv962m2 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag1rhv {
  width: 310px;
  height: 38px;
}
#comp-klrv962h1 {
  width: 136px;
  height: 40px;
}
#comp-klrv962k {
  width: 136px;
  height: 135px;
}
#comp-klrv964g1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv964i {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv964j1 {
  width: 192px;
  height: 52px;
}
#comp-klrv964m1 {
  width: 192px;
  height: 52px;
}
#comp-klrv964o {
  width: 192px;
  height: 52px;
}
#comp-klrv964q {
  width: 192px;
  height: 52px;
}
#comp-klrv964s {
  width: 192px;
  height: 52px;
}
#comp-klrv964t1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv964u1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv964w1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv95zz {
  width: 5px;
  height: 246px;
}
#comp-klrv9603 {
  width: 5px;
  height: 246px;
}
#comp-klrv96042 {
  width: 20px;
  height: 19px;
}
#comp-klrv960f1 {
  width: 20px;
  height: 19px;
}
#comp-klrv960h2 {
  width: 20px;
  height: 19px;
}
#comp-klrv960j2 {
  width: 20px;
  height: 19px;
}
#comp-klrv960l1 {
  width: 20px;
  height: 19px;
}
#comp-klrv960n1 {
  width: 20px;
  height: 19px;
}
#comp-klrv960q {
  width: 20px;
  height: 19px;
}
#comp-klrv960s2 {
  width: 20px;
  height: 19px;
}
#comp-klrv960u2 {
  width: 20px;
  height: 19px;
}
#comp-klrv960w1 {
  width: 20px;
  height: 19px;
}
#comp-klrv960y1 {
  width: 20px;
  height: 19px;
}
#comp-klrv96102 {
  width: 20px;
  height: 19px;
}
#comp-klrv96122 {
  width: 20px;
  height: 19px;
}
#comp-klrv96142 {
  width: 20px;
  height: 19px;
}
#comp-klrv96171 {
  width: 20px;
  height: 19px;
}
#comp-kmdpms3t {
  width: 600px;
  height: 290px;
}
#comp-klrv961m1 {
  width: 382px;
  height: 245px;
}
#comp-klrv961t1 {
  width: 320px;
  height: 232px;
}
#comp-klrv961x {
  width: 20px;
  height: 19px;
}
#comp-klrv961z {
  width: 20px;
  height: 19px;
}
#comp-klrv9621 {
  width: 20px;
  height: 19px;
}
#comp-klrv9624 {
  width: 20px;
  height: 19px;
}
#comp-klrv9626 {
  width: 20px;
  height: 19px;
}
#comp-klrv96273 {
  width: 20px;
  height: 19px;
}
#comp-klrv96292 {
  width: 20px;
  height: 19px;
}
#comp-klrv962b1 {
  width: 20px;
  height: 19px;
}
#comp-klrv962d1 {
  width: 20px;
  height: 19px;
}
#comp-klrv962f1 {
  width: 20px;
  height: 19px;
}
#comp-klrv962y {
  width: 224px;
  height: 115px;
}
#comp-klrv962z2 {
  width: 224px;
  height: 121px;
}
#comp-klrv9631 {
  width: 979px;
  height: 342px;
  scroll-margin-top: 100px;
}
#comp-klrv96322 {
  width: 979px;
  height: 5px;
}
#comp-klrv9637 {
  width: 979px;
  height: 634px;
  scroll-margin-top: 100px;
}
#comp-klrv96381 {
  width: 123px;
  height: 40px;
}
#comp-klrv963a {
  width: 979px;
  height: 5px;
}
#comp-klrv963b1 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klrv963t2 {
  width: 979px;
  height: 5px;
}
#comp-klrv963v {
  width: 979px;
  height: 121px;
  scroll-margin-top: 95px;
}
#comp-klrv963w1 {
  width: 979px;
  height: 5px;
}
#comp-klrv963y {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klrv9645 {
  width: 121px;
  height: 40px;
}
#comp-klrv964a1 {
  width: 121px;
  height: 40px;
}
#comp-klrv964d1 {
  width: 121px;
  height: 40px;
}
#comp-klrv963f1 {
  width: 58px;
  height: 40px;
}
#comp-klrv963i {
  width: 194px;
  height: 43px;
}
#comp-klrv963l {
  width: 43px;
  height: 40px;
}
#comp-klrv963m2 {
  width: 207px;
  height: 67px;
}
#comp-klrv963q {
  width: 32px;
  height: 40px;
}
#comp-klrv963s {
  width: 207px;
  height: 43px;
}
#adxag {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klrv95z8 {
  width: 980px;
}
#comp-klrv961f {
  width: 980px;
}
#comp-klrv962p {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klrv95zl {
  width: 980px;
}
#comp-klrv961i1 {
  width: 980px;
}
#comp-klrv962t2 {
  width: 980px;
}
#comp-klrv963d {
  width: 223px;
}
#comp-klrv963j1 {
  width: 223px;
}
#comp-klrv963o {
  width: 223px;
}
#comp-klrv962m2-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag1rhv {
  height: auto;
}
#comp-klrv962h1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klrv962k {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klrv962m2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klrv95zz {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klrv9603 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klrv96042 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960f1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960h2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960j2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960l1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960n1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960q {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960s2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960u2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960w1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv960y1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96102 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96122 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96142 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96171 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpms3t {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klrv961m1 {
  --min-height: 185px;
  height: auto;
}
#comp-klrv961t1 {
  --min-height: 210px;
  height: auto;
}
#comp-klrv961x {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv961z {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv9621 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv9624 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv9626 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96273 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv96292 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv962b1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv962d1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv962f1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klrv962y {
  height: auto;
}
#comp-klrv962z2 {
  --min-height: 121px;
  height: auto;
}
#comp-klrv9631 {
  --min-height: 342px;
  height: auto;
}
#comp-klrv96322 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klrv9637 {
  --min-height: 324px;
  height: auto;
}
#comp-klrv96381 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klrv963a {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klrv963b1 {
  --min-height: 78px;
  height: auto;
}
#comp-klrv963t2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klrv963v {
  --min-height: 121px;
  height: auto;
}
#comp-klrv963w1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klrv963f1 {
  --opacity: 1;
}
#comp-klrv963i {
  height: auto;
}
#comp-klrv963l {
  --opacity: 1;
}
#comp-klrv963m2 {
  --min-height: 67px;
  height: auto;
}
#comp-klrv963q {
  --opacity: 1;
}
#comp-klrv963s {
  height: auto;
}
#adxag {
  width: auto;
  min-height: 2420px;
}
#comp-klrv95z8 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klrv961f {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klrv962p {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klrv95zl {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klrv961i1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klrv962t2 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klrv963d {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klrv963j1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klrv963o {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_adxag {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964j1 .style-klv9cbod__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964j1 .style-klv9cbod__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klrv964j1 .style-klv9cbod__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klrv964j1 .style-klv9cbod__root:disabled {
  background: #e2e2e2;
}

#comp-klrv964j1
  .style-klv9cbod__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964j1 .style-klv9cbod__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964j1 .style-klv9cbod__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klrv964j1 .style-klv9cbod__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klrv964j1 .style-klv9cbod__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klrv964j1 .style-klv9cbod__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klrv964j1 .style-klv9cbod__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964m1 .style-klv9ci2t__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964m1 .style-klv9ci2t__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klrv964m1 .style-klv9ci2t__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klrv964m1 .style-klv9ci2t__root:disabled {
  background: #e2e2e2;
}

#comp-klrv964m1
  .style-klv9ci2t__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964m1 .style-klv9ci2t__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964m1 .style-klv9ci2t__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klrv964m1 .style-klv9ci2t__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klrv964m1 .style-klv9ci2t__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klrv964m1 .style-klv9ci2t__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klrv964m1 .style-klv9ci2t__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964o .style-klv9cn5i__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964o .style-klv9cn5i__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klrv964o .style-klv9cn5i__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klrv964o .style-klv9cn5i__root:disabled {
  background: #e2e2e2;
}

#comp-klrv964o .style-klv9cn5i__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964o .style-klv9cn5i__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964o .style-klv9cn5i__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klrv964o .style-klv9cn5i__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klrv964o .style-klv9cn5i__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klrv964o .style-klv9cn5i__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klrv964o .style-klv9cn5i__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964q .style-klv9csun__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964q .style-klv9csun__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klrv964q .style-klv9csun__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klrv964q .style-klv9csun__root:disabled {
  background: #e2e2e2;
}

#comp-klrv964q .style-klv9csun__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964q .style-klv9csun__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964q .style-klv9csun__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klrv964q .style-klv9csun__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klrv964q .style-klv9csun__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klrv964q .style-klv9csun__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964s .style-klv9cydc__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964s .style-klv9cydc__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klrv964s .style-klv9cydc__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klrv964s .style-klv9cydc__root:disabled {
  background: #e2e2e2;
}

#comp-klrv964s .style-klv9cydc__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964s .style-klv9cydc__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964s .style-klv9cydc__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klrv964s .style-klv9cydc__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klrv964s .style-klv9cydc__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klrv964s .style-klv9cydc__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klrv964s .style-klv9cydc__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv9645 .style-klv9erl8__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv9645 .style-klv9erl8__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klrv9645 .style-klv9erl8__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klrv9645 .style-klv9erl8__root[disabled] {
  background: #e2e2e2;
}

#comp-klrv9645
  .style-klv9erl8__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv9645 .style-klv9erl8__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv9645 .style-klv9erl8__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klrv9645 .style-klv9erl8__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klrv9645 .style-klv9erl8__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964a1 .style-klv9exuw__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964a1 .style-klv9exuw__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klrv964a1 .style-klv9exuw__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klrv964a1 .style-klv9exuw__root[disabled] {
  background: #e2e2e2;
}

#comp-klrv964a1
  .style-klv9exuw__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964a1
  .style-klv9exuw__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964a1 .style-klv9exuw__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klrv964a1 .style-klv9exuw__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klrv964a1 .style-klv9exuw__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klrv964d1 .style-klv9f3ia__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klrv964d1 .style-klv9f3ia__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klrv964d1 .style-klv9f3ia__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klrv964d1 .style-klv9f3ia__root[disabled] {
  background: #e2e2e2;
}

#comp-klrv964d1
  .style-klv9f3ia__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klrv964d1
  .style-klv9f3ia__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klrv964d1 .style-klv9f3ia__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klrv964d1 .style-klv9f3ia__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klrv964d1 .style-klv9f3ia__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klrv963f1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klrv963l svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klrv963q svg [data-color="1"] {
  fill: #454a6e;
}
