.qDqoW {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
}

.bItEI ._1VWbH {
  -webkit-appearance: none;
  box-shadow: var(--shd, 0 0 0 transparent);
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  font: var(--fnt, var(--font_8));
  border-width: var(--corvid-border-width, var(--brw, 1px));
  resize: none;
  background-color: var(
    --corvid-background-color,
    rgba(var(--bg, 255, 255, 255), var(--alpha-bg, 1))
  );
  box-sizing: border-box !important;
  color: var(--corvid-color, rgb(var(--txt, var(--color_15))));
  border-style: solid;
  border-color: var(
    --corvid-border-color,
    rgba(var(--brd, 227, 227, 227), var(--alpha-brd, 1))
  );
  padding: var(--textPadding, 3px);
  margin: 0;
  padding-top: 0.75em;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
  text-align: var(--textAlign);
  direction: var(--dir);
  height: var(--inputHeight);
  display: block;
}
.bItEI ._1VWbH::-moz-placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
.bItEI ._1VWbH:-ms-input-placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
.bItEI ._1VWbH::placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
.bItEI ._1VWbH:hover {
  border-width: var(--brwh, 1px);
  background-color: rgba(var(--bgh, 255, 255, 255), var(--alpha-bgh, 1));
  border-style: solid;
  border-color: rgba(var(--brdh, 163, 217, 246), var(--alpha-brdh, 1));
}
.bItEI ._1VWbH:disabled {
  background-color: rgba(var(--bgd, 204, 204, 204), var(--alpha-bgd, 1));
  color: rgb(var(--txtd, 255, 255, 255));
  border-width: var(--brwd, 1px);
  border-style: solid;
  border-color: rgba(var(--brdd, 163, 217, 246), var(--alpha-brdd, 1));
}
.bItEI:not(.gPrpT) ._1VWbH:focus {
  border-width: var(--brwf, 1px);
  background-color: rgba(var(--bgf, 255, 255, 255), var(--alpha-bgf, 1));
  border-style: solid;
  border-color: rgba(var(--brdf, 163, 217, 246), var(--alpha-brdf, 1));
}
.bItEI.gPrpT ._1VWbH:invalid {
  border-width: var(--brwe, 1px);
  background-color: rgba(var(--bge, 255, 255, 255), var(--alpha-bge, 1));
  border-style: solid;
  border-color: rgba(var(--brde, 163, 217, 246), var(--alpha-brde, 1));
}
.bItEI.gPrpT ._1VWbH:not(:invalid):focus {
  border-width: var(--brwf, 1px);
  background-color: rgba(var(--bgf, 255, 255, 255), var(--alpha-bgf, 1));
  border-style: solid;
  border-color: rgba(var(--brdf, 163, 217, 246), var(--alpha-brdf, 1));
}
.bItEI ._20uhs {
  display: none;
}
.bItEI._1mQNr ._20uhs {
  font: var(--fntlbl, var(--font_8));
  color: rgb(var(--txtlbl, var(--color_15)));
  word-break: break-word;
  display: inline-block;
  line-height: 1;
  margin-bottom: var(--labelMarginBottom, 14px);
  padding: var(--labelPadding, 0);
  text-align: var(--textAlign);
  direction: var(--dir);
  width: 100%;
  box-sizing: border-box;
}
.bItEI._1mQNr._22Vl0 ._20uhs:after {
  display: var(--requiredIndicationDisplay, none);
  content: " *";
  color: rgba(var(--txtlblrq, 0, 0, 0), var(--alpha-txtlblrq, 0));
}
._1kepl {
  display: flex;
  flex-direction: column;
}
._1kepl ._1VWbH {
  flex: 1;
  -webkit-appearance: none;
  box-shadow: var(--shd, 0 0 0 transparent);
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  font: var(--fnt, var(--font_8));
  border-width: var(--corvid-border-width, var(--brw, 1px));
  resize: none;
  background-color: var(
    --corvid-background-color,
    rgba(var(--bg, 255, 255, 255), var(--alpha-bg, 1))
  );
  box-sizing: border-box !important;
  color: var(--corvid-color, rgb(var(--txt, var(--color_15))));
  border-style: solid;
  border-color: var(
    --corvid-border-color,
    rgba(var(--brd, 227, 227, 227), var(--alpha-brd, 1))
  );
  padding: var(--textPadding, 3px);
  margin: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  text-align: var(--textAlign);
  direction: var(--dir);
}
._1kepl ._1VWbH::-moz-placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
._1kepl ._1VWbH:-ms-input-placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
._1kepl ._1VWbH::placeholder {
  color: rgb(var(--txt2, var(--color_15)));
}
._1kepl ._1VWbH:hover {
  border-width: var(--brwh, 1px);
  background-color: rgba(var(--bgh, 255, 255, 255), var(--alpha-bgh, 1));
  border-style: solid;
  border-color: rgba(var(--brdh, 163, 217, 246), var(--alpha-brdh, 1));
}
._1kepl ._1VWbH:disabled {
  background-color: rgba(var(--bgd, 204, 204, 204), var(--alpha-bgd, 1));
  color: rgb(var(--txtd, 255, 255, 255));
  border-width: var(--brwd, 1px);
  border-style: solid;
  border-color: rgba(var(--brdd, 163, 217, 246), var(--alpha-brdd, 1));
}
._1kepl:not(.gPrpT) ._1VWbH:focus {
  border-width: var(--brwf, 1px);
  background-color: rgba(var(--bgf, 255, 255, 255), var(--alpha-bgf, 1));
  border-style: solid;
  border-color: rgba(var(--brdf, 163, 217, 246), var(--alpha-brdf, 1));
}
._1kepl.gPrpT ._1VWbH:invalid {
  border-width: var(--brwe, 1px);
  background-color: rgba(var(--bge, 255, 255, 255), var(--alpha-bge, 1));
  border-style: solid;
  border-color: rgba(var(--brde, 163, 217, 246), var(--alpha-brde, 1));
}
._1kepl.gPrpT ._1VWbH:not(:invalid):focus {
  border-width: var(--brwf, 1px);
  background-color: rgba(var(--bgf, 255, 255, 255), var(--alpha-bgf, 1));
  border-style: solid;
  border-color: rgba(var(--brdf, 163, 217, 246), var(--alpha-brdf, 1));
}
._1kepl ._20uhs {
  display: none;
}
._1kepl._1mQNr ._20uhs {
  font: var(--fntlbl, var(--font_8));
  color: rgb(var(--txtlbl, var(--color_15)));
  word-break: break-word;
  display: inline-block;
  line-height: 1;
  margin-bottom: var(--labelMarginBottom, 14px);
  padding: var(--labelPadding, 0);
  text-align: var(--textAlign);
  direction: var(--dir);
  width: 100%;
  box-sizing: border-box;
}
._1kepl._1mQNr._22Vl0 ._20uhs:after {
  display: var(--requiredIndicationDisplay, none);
  content: " *";
  color: rgba(var(--txtlblrq, 0, 0, 0), var(--alpha-txtlblrq, 0));
}

[data-mesh-id="comp-kldpaefeinlineContent"] {
  height: auto;
}
[data-mesh-id="comp-kldpaefeinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kldpaefeinlineContent-gridContainer"]
  > [id="comp-kldpaegl1"] {
  position: relative;
  margin: 27px 0px 42px 0;
  /* left: 480px; */
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gftinlineContent"] {
  height: auto;
  width: 656px;
}
[data-mesh-id="comp-kldp8gftinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kldp8gftinlineContent-gridContainer"]
  > [id="comp-kldp8gg3"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent"] {
  height: auto;
  width: 656px;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8gg7"] {
  position: relative;
  margin: 0px 0px 26px 0;
  left: 61px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8gg91"] {
  position: relative;
  margin: 1px 0px 68px 0;
  left: 61px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8ggb2"] {
  position: relative;
  margin: 0px 0px 65px 0;
  left: 381px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8gge"] {
  position: relative;
  margin: 0px 0px 64px 0;
  left: 61px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8ggf2"] {
  position: relative;
  margin: 0px 0px 64px 0;
  left: 381px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8ggh1"] {
  position: relative;
  margin: 0px 0px 35px 0;
  left: 61px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8ggk1"] {
  position: relative;
  margin: 0px 0px 14px 0;
  left: 58px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kldp8gg3inlineContent-gridContainer"]
  > [id="comp-kldp8ggn"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 99px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerc24vqinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerc24vqinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 778px;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerc24vqinlineContent-gridContainer"]
  > [id="comp-kldpaefe"] {
  position: relative;
  /* margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: -272px; */
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 100%;
}
[data-mesh-id="Containerc24vqinlineContent-gridContainer"]
  > [id="comp-kldp8gft"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 160px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerc24vqinlineContent-wedge-3"] {
  visibility: hidden;
  height: 215px;
  width: 0;
  grid-area: 1 / 1 / 3 / 2;
}
#comp-kldpaegl1 {
  width: 100%;
  height: 68px;
}
#comp-kldp8gg7 {
  width: 400px;
  height: 45px;
}
#comp-kldp8gg91 {
  width: 270px;
  height: 52px;
}
#comp-kldp8ggb2 {
  width: 270px;
  height: 56px;
}
#comp-kldp8gge {
  width: 270px;
  height: 56px;
}
#comp-kldp8ggf2 {
  width: 270px;
  height: 56px;
}
#comp-kldp8ggh1 {
  width: 590px;
  height: 116px;
}
#comp-kldp8ggk1 {
  width: 600px;
  height: 51px;
}
#comp-kldp8ggn {
  /* width: 512px; */
  height: 21px;
}
#c24vq {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kldp8gft {
  width: 656px;
}
#comp-kldp8gg3 {
  width: 656px;
}
#masterPage {
  --pinned-layers-in-page: 0;
}

#comp-kldpaegl1 {
  --min-height: 31px;
  height: auto;
}
#comp-kldp8gg7 {
  --min-height: 35px;
  height: auto;
}
#comp-kldp8gg91 {
  --shd: none;
  --txtlblrq: 186, 218, 85;
  --rd: 0px 0px 0px 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  --brw: 0px 0px 2px 0px;
  --bg: 255, 255, 255;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brd: 186, 218, 85;
  --txt2: var(--color_15);
  --alpha-txt2: 1;
  --brwh: 0px 0px 2px 0px;
  --bgh: var(--color_11);
  --brdh: var(--color_33);
  --brwf: 0px 0px 2px 0px;
  --bgf: 255, 255, 255;
  --brdf: var(--color_33);
  --brwe: 0px 0px 2px 0px;
  --bge: 255, 255, 255;
  --brde: 255, 64, 64;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --alpha-bg: 1;
  --alpha-bgd: 1;
  --alpha-bge: 0;
  --alpha-bgf: 0;
  --alpha-bgh: 0;
  --alpha-brd: 1;
  --fntlbl: normal normal normal 16px/1.4em nimbus-sans-tw01con, sans-serif;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-brdh: 1;
  --alpha-btn_brd: 0.55;
  --boxShadowToggleOn-shd: none;
  --btn_brd: var(--color_15);
  --btn_brw: 1;
  --btn_fnt: var(--font_8);
  --fnt2: var(--font_8);
  --txt-placeholder: var(--color_14);
  --txtlbl: 69, 74, 110;
  --alpha-txt-placeholder: 1;
  --alpha-txtlblrq: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 3px 3px 0px;
  --labelPadding: 0 20px 0 0px;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 0px;
  height: auto;
  --alpha-txtlbl: 1;
  --inputHeight: 36px;
}
#comp-kldp8ggb2 {
  --shd: none;
  --txtlblrq: 186, 218, 85;
  --rd: 0px 0px 0px 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  --brw: 0px 0px 2px 0px;
  --bg: 255, 255, 255;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brd: 186, 218, 85;
  --txt2: var(--color_15);
  --alpha-txt2: 1;
  --brwh: 0px 0px 2px 0px;
  --bgh: var(--color_11);
  --brdh: var(--color_33);
  --brwf: 0px 0px 2px 0px;
  --bgf: 255, 255, 255;
  --brdf: var(--color_33);
  --brwe: 0px 0px 2px 0px;
  --bge: 255, 255, 255;
  --brde: 255, 64, 64;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --alpha-bg: 1;
  --alpha-bgd: 1;
  --alpha-bge: 0;
  --alpha-bgf: 0;
  --alpha-bgh: 0;
  --fntlbl: normal normal normal 16px/1.4em nimbus-sans-tw01con, sans-serif;
  --alpha-brd: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-brdh: 1;
  --alpha-btn_brd: 0.55;
  --boxShadowToggleOn-shd: none;
  --btn_brd: var(--color_15);
  --btn_brw: 1;
  --btn_fnt: var(--font_8);
  --fnt2: var(--font_8);
  --txtlbl: 69, 74, 110;
  --txt-placeholder: var(--color_14);
  --alpha-txt-placeholder: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 3px 3px 7px;
  --labelPadding: 0 20px 0 0px;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 0px;
  height: auto;
  --alpha-txtlbl: 1;
  --inputHeight: 40px;
}
#comp-kldp8gge {
  --shd: none;
  --txtlblrq: 186, 218, 85;
  --rd: 0px 0px 0px 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  --brw: 0px 0px 2px 0px;
  --bg: 255, 255, 255;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brd: 186, 218, 85;
  --txt2: var(--color_15);
  --alpha-txt2: 1;
  --brwh: 0px 0px 2px 0px;
  --bgh: var(--color_11);
  --brdh: var(--color_33);
  --brwf: 0px 0px 2px 0px;
  --bgf: 255, 255, 255;
  --brdf: var(--color_33);
  --brwe: 0px 0px 2px 0px;
  --bge: 255, 255, 255;
  --brde: 255, 64, 64;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --alpha-bg: 1;
  --alpha-bgd: 1;
  --alpha-bge: 0;
  --alpha-bgf: 0;
  --alpha-bgh: 0;
  --fntlbl: normal normal normal 16px/1.4em nimbus-sans-tw01con, sans-serif;
  --alpha-brd: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-brdh: 1;
  --alpha-btn_brd: 0.55;
  --boxShadowToggleOn-shd: none;
  --btn_brd: var(--color_15);
  --btn_brw: 1;
  --btn_fnt: var(--font_8);
  --fnt2: var(--font_8);
  --txtlbl: 69, 74, 110;
  --txt-placeholder: var(--color_14);
  --alpha-txt-placeholder: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 3px 3px 7px;
  --labelPadding: 0 20px 0 0px;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 0px;
  height: auto;
  --alpha-txtlbl: 1;
  --inputHeight: 40px;
}
#comp-kldp8ggf2 {
  --shd: none;
  --txtlblrq: 186, 218, 85;
  --rd: 0px 0px 0px 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  --brw: 0px 0px 2px 0px;
  --bg: 255, 255, 255;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brd: 186, 218, 85;
  --txt2: var(--color_15);
  --alpha-txt2: 1;
  --brwh: 0px 0px 2px 0px;
  --bgh: var(--color_11);
  --brdh: var(--color_33);
  --brwf: 0px 0px 2px 0px;
  --bgf: 255, 255, 255;
  --brdf: var(--color_33);
  --brwe: 0px 0px 2px 0px;
  --bge: 255, 255, 255;
  --brde: 255, 64, 64;
  --trns: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --alpha-txtlblrq: 1;
  --fntprefix: normal normal normal 16px/1.4em helvetica-w01-roman,
    helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  --alpha-bg: 1;
  --alpha-bgd: 1;
  --alpha-bge: 0;
  --alpha-bgf: 0;
  --alpha-bgh: 0;
  --fntlbl: normal normal normal 16px/1.4em nimbus-sans-tw01con, sans-serif;
  --alpha-brd: 1;
  --alpha-brde: 1;
  --alpha-brdf: 1;
  --alpha-brdh: 1;
  --alpha-btn_brd: 0.55;
  --boxShadowToggleOn-shd: none;
  --btn_brd: var(--color_15);
  --btn_brw: 1;
  --btn_fnt: var(--font_8);
  --fnt2: var(--font_8);
  --txtlbl: 69, 74, 110;
  --txt-placeholder: var(--color_14);
  --alpha-txt-placeholder: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 3px 3px 7px;
  --labelPadding: 0 20px 0 0px;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 0px;
  height: auto;
  --alpha-txtlbl: 1;
  --inputHeight: 40px;
}
#comp-kldp8ggh1 {
  --shd: none;
  --alpha-txtlblrq: 1;
  --rd: 0px 0px 0px 0px;
  --fnt: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  --brw: 0px 0px 2px 0px;
  --bg: 255, 255, 255;
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brd: 186, 218, 85;
  --txt2: var(--color_15);
  --alpha-txt2: 1;
  --brwh: 0px 0px 2px 0px;
  --bgh: var(--color_11);
  --brdh: var(--color_33);
  --bgd: 255, 255, 255;
  --txtd: 219, 219, 219;
  --alpha-txtd: 1;
  --brwd: 1px;
  --brdd: 219, 219, 219;
  --alpha-brdd: 1;
  --brwf: 0px 0px 2px 0px;
  --bgf: 255, 255, 255;
  --brdf: var(--color_33);
  --brwe: 0px 0px 2px 0px;
  --bge: 255, 255, 255;
  --brde: 255, 64, 64;
  --fntlbl: normal normal normal 16px/1.4em nimbus-sans-tw01con, sans-serif;
  --alpha-bg: 1;
  --alpha-bgd: 1;
  --alpha-bge: 0;
  --alpha-bgf: 0;
  --alpha-bgh: 0;
  --alpha-brd: 1;
  --alpha-brde: 1;
  --txtlbl: 69, 74, 110;
  --alpha-brdf: 1;
  --alpha-brdh: 1;
  --alpha-btn_brd: 0.55;
  --bg2: 170, 170, 170;
  --alpha-bg2: 1;
  --boxShadowToggleOn-shd: none;
  --btn_brd: var(--color_15);
  --btn_brw: 1;
  --btn_fnt: var(--font_8);
  --fnt2: var(--font_8);
  --alpha-txtlbl: 1;
  --txt-placeholder: var(--color_14);
  --alpha-txt-placeholder: 1;
  --dir: ltr;
  --textAlign: left;
  --textPadding: 3px 10px 3px 7px;
  --labelPadding: 0 20px 0 0px;
  --labelMarginBottom: 0px;
  --requiredIndicationDisplay: inline;
  height: auto;
  --txtlblrq: 186, 218, 85;
  --inputHeight: 100px;
}
#comp-kldp8ggk1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal 700 30px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 222, 247, 143;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kldp8ggn {
  height: auto;
  display: none;
}
#c24vq {
  width: auto;
  min-height: 778px;
}
#comp-kldpaefe {
  --bg: 60, 64, 82;
  --alpha-bg: 1;
  --shc-mutated-brightness: 30, 32, 41;
}
#comp-kldp8gg3 {
  --rd: 0px;
  --shd: 0 0 0 rgba(0, 0, 0, 0);
  --bg: 255, 255, 255;
  --alpha-bg: 1;
  --brd: 227, 227, 227;
  --alpha-brd: 1;
  --brw: 0px;
}
#pageBackground_c24vq {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --fill-layer-background-overlay-color: transparent;
  --fill-layer-background-overlay-position: absolute;
}
