[data-mesh-id="comp-klmjkwk7inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwkj"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwkm"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwko"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwkz"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwl02"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwl21"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwl42"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwl7"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwl9"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwlc2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwle1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwlg"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwlh2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwlj1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwll"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwln"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-klmjkwlp"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwk7inlineContent-gridContainer"]
  > [id="comp-kmdphoaf"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwm3"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwm51"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwm7"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwm9"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwma3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwmc1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwme"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwmf2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwmh"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwmj"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwml2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwlzinlineContent-gridContainer"]
  > [id="comp-klmjkwmn1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(9, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klnx0kb1"] {
  position: relative;
  margin: 52px 0px 45px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klnx0qnn"] {
  position: relative;
  margin: 52px 0px 10px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwna1"] {
  position: relative;
  margin: 0px 0px 16px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwne"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwni1"] {
  position: relative;
  margin: 796px 0px 42px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnk2"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnm"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnn2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwns1"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnx"] {
  position: relative;
  margin: 0px 0px 70px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwo5"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmkxngw"] {
  position: relative;
  margin: 0px 0px 36px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmjkwo9"] {
  position: relative;
  margin: 0px 0px 29px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmk3xuc"] {
  position: relative;
  margin: 0px 0px 48px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmk4q0p"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmk4v2j"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwn2inlineContent-gridContainer"]
  > [id="comp-klmk521a"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwnn2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmjkwnn2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwnn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnp"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwnn2inlineContent-gridContainer"]
  > [id="comp-klmjkwnr"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwns1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmjkwns1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwns1inlineContent-gridContainer"]
  > [id="comp-klmjkwnt2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwns1inlineContent-gridContainer"]
  > [id="comp-klmjkwnv2"] {
  position: relative;
  margin: 0px 0px 14px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwnxinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmjkwnxinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmjkwnxinlineContent-gridContainer"]
  > [id="comp-klmjkwo0"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmjkwnxinlineContent-gridContainer"]
  > [id="comp-klmjkwo3"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 2756px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-kmag0gfi"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwjv"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwlw1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwmp"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwmr2"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwmx"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwof1"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwoh1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwoi1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwon"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwoo2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwoq1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwos"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwot2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwou2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-gridContainer"]
  > [id="comp-klmjkwow"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerpc2giinlineContent-wedge-8"] {
  visibility: hidden;
  height: 231px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containerpc2giinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1130px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containerpc2giinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1452px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containerpc2giinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1558px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klmjkwmt1 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag0gfi {
  width: 310px;
  height: 38px;
}
#comp-klmjkwmp {
  width: 136px;
  height: 40px;
}
#comp-klmjkwmr2 {
  width: 136px;
  height: 135px;
}
#comp-klmjkwof1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmjkwoh1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmjkwoi1 {
  width: 192px;
  height: 52px;
}
#comp-klmjkwon {
  width: 192px;
  height: 52px;
}
#comp-klmjkwoo2 {
  width: 192px;
  height: 52px;
}
#comp-klmjkwoq1 {
  width: 192px;
  height: 52px;
}
#comp-klmjkwos {
  width: 192px;
  height: 52px;
}
#comp-klmjkwot2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmjkwou2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmjkwow {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmjkwkj {
  width: 5px;
  height: 246px;
}
#comp-klmjkwkm {
  width: 5px;
  height: 246px;
}
#comp-klmjkwko {
  width: 20px;
  height: 19px;
}
#comp-klmjkwkz {
  width: 20px;
  height: 19px;
}
#comp-klmjkwl02 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwl21 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwl42 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwl7 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwl9 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwlc2 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwle1 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwlg {
  width: 20px;
  height: 19px;
}
#comp-klmjkwlh2 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwlj1 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwll {
  width: 20px;
  height: 19px;
}
#comp-klmjkwln {
  width: 20px;
  height: 19px;
}
#comp-klmjkwlp {
  width: 20px;
  height: 19px;
}
#comp-kmdphoaf {
  width: 600px;
  height: 290px;
}
#comp-klmjkwm3 {
  width: 382px;
  height: 245px;
}
#comp-klmjkwm51 {
  width: 320px;
  height: 232px;
}
#comp-klmjkwm7 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwm9 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwma3 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwmc1 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwme {
  width: 20px;
  height: 19px;
}
#comp-klmjkwmf2 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwmh {
  width: 20px;
  height: 19px;
}
#comp-klmjkwmj {
  width: 20px;
  height: 19px;
}
#comp-klmjkwml2 {
  width: 20px;
  height: 19px;
}
#comp-klmjkwmn1 {
  width: 20px;
  height: 19px;
}
#comp-klnx0kb1 {
  width: 314px;
  height: 134px;
  scroll-margin-top: 100px;
}
#comp-klnx0qnn {
  width: 313px;
  height: 58px;
}
#comp-klmjkwna1 {
  width: 979px;
  height: 5px;
}
#comp-klmjkwne {
  width: 979px;
  height: 851px;
  scroll-margin-top: 100px;
}
#comp-klmjkwni1 {
  width: 123px;
  height: 40px;
}
#comp-klmjkwnk2 {
  width: 979px;
  height: 5px;
}
#comp-klmjkwnm {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klmjkwo5 {
  width: 979px;
  height: 5px;
}
#comp-klmkxngw {
  width: 979px;
  height: 58px;
  scroll-margin-top: 95px;
}
#comp-klmjkwo9 {
  width: 979px;
  height: 5px;
}
#comp-klmk3xuc {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klmk4q0p {
  width: 121px;
  height: 40px;
}
#comp-klmk4v2j {
  width: 121px;
  height: 40px;
}
#comp-klmk521a {
  width: 121px;
  height: 40px;
}
#comp-klmjkwnp {
  width: 58px;
  height: 40px;
}
#comp-klmjkwnr {
  width: 158px;
  height: 43px;
}
#comp-klmjkwnt2 {
  width: 43px;
  height: 40px;
}
#comp-klmjkwnv2 {
  width: 151px;
  height: 67px;
}
#comp-klmjkwo0 {
  width: 32px;
  height: 40px;
}
#comp-klmjkwo3 {
  width: 143px;
  height: 46px;
}
#pc2gi {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmjkwjv {
  width: 980px;
}
#comp-klmjkwlw1 {
  width: 980px;
}
#comp-klmjkwmx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmjkwk7 {
  width: 980px;
}
#comp-klmjkwlz {
  width: 980px;
}
#comp-klmjkwn2 {
  width: 980px;
}
#comp-klmjkwnn2 {
  width: 223px;
}
#comp-klmjkwns1 {
  width: 223px;
}
#comp-klmjkwnx {
  width: 223px;
}
#comp-klmjkwmt1-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag0gfi {
  height: auto;
}
#comp-klmjkwmp {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmjkwmr2 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klmjkwmt1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klmjkwkj {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmjkwkm {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmjkwko {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwkz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwl02 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwl21 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwl42 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwl7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwl9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwlc2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwle1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwlg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwlh2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwlj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwll {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwln {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwlp {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdphoaf {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klmjkwm3 {
  --min-height: 185px;
  height: auto;
}
#comp-klmjkwm51 {
  --min-height: 210px;
  height: auto;
}
#comp-klmjkwm7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwm9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwma3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwmc1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwme {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwmf2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwmh {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwmj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwml2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmjkwmn1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnx0kb1 {
  height: auto;
}
#comp-klnx0qnn {
  height: auto;
}
#comp-klmjkwna1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmjkwne {
  --min-height: 851px;
  height: auto;
}
#comp-klmjkwni1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmjkwnk2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmjkwnm {
  --min-height: 78px;
  height: auto;
}
#comp-klmjkwo5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmkxngw {
  height: auto;
}
#comp-klmjkwo9 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmjkwnp {
  --opacity: 1;
}
#comp-klmjkwnr {
  height: auto;
}
#comp-klmjkwnt2 {
  --opacity: 1;
}
#comp-klmjkwnv2 {
  --min-height: 67px;
  height: auto;
}
#comp-klmjkwo0 {
  --opacity: 1;
}
#comp-klmjkwo3 {
  height: auto;
}
#pc2gi {
  width: auto;
  /* min-height: 2756px; */
}
#comp-klmjkwjv {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmjkwlw1 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmjkwmx {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmjkwk7 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmjkwlz {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmjkwn2 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmjkwnn2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmjkwns1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmjkwnx {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_pc2gi {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmjkwoi1 .style-klv8ni50__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmjkwoi1 .style-klv8ni50__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmjkwoi1 .style-klv8ni50__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmjkwoi1 .style-klv8ni50__root:disabled {
  background: #e2e2e2;
}

#comp-klmjkwoi1
  .style-klv8ni50__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmjkwoi1 .style-klv8ni50__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmjkwoi1 .style-klv8ni50__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmjkwoi1 .style-klv8ni50__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmjkwoi1 .style-klv8ni50__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmjkwoi1 .style-klv8ni50__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmjkwoi1 .style-klv8ni50__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmjkwon .style-klv8ntit__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmjkwon .style-klv8ntit__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmjkwon .style-klv8ntit__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmjkwon .style-klv8ntit__root:disabled {
  background: #e2e2e2;
}

#comp-klmjkwon .style-klv8ntit__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmjkwon .style-klv8ntit__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmjkwon .style-klv8ntit__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmjkwon .style-klv8ntit__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmjkwon .style-klv8ntit__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmjkwon .style-klv8ntit__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmjkwon .style-klv8ntit__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmjkwoo2 .style-klv8o04w__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmjkwoo2 .style-klv8o04w__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmjkwoo2 .style-klv8o04w__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmjkwoo2 .style-klv8o04w__root:disabled {
  background: #e2e2e2;
}

#comp-klmjkwoo2
  .style-klv8o04w__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmjkwoo2 .style-klv8o04w__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmjkwoo2 .style-klv8o04w__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmjkwoo2 .style-klv8o04w__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmjkwoo2 .style-klv8o04w__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmjkwoo2 .style-klv8o04w__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmjkwoo2 .style-klv8o04w__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmjkwoq1 .style-klv8o5ph__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmjkwoq1 .style-klv8o5ph__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmjkwoq1 .style-klv8o5ph__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmjkwoq1 .style-klv8o5ph__root:disabled {
  background: #e2e2e2;
}

#comp-klmjkwoq1
  .style-klv8o5ph__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmjkwoq1 .style-klv8o5ph__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmjkwoq1 .style-klv8o5ph__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmjkwoq1 .style-klv8o5ph__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmjkwoq1 .style-klv8o5ph__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmjkwoq1 .style-klv8o5ph__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmjkwos .style-klv8obch__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmjkwos .style-klv8obch__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmjkwos .style-klv8obch__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmjkwos .style-klv8obch__root:disabled {
  background: #e2e2e2;
}

#comp-klmjkwos .style-klv8obch__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmjkwos .style-klv8obch__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmjkwos .style-klv8obch__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmjkwos .style-klv8obch__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmjkwos .style-klv8obch__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmjkwos .style-klv8obch__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmjkwos .style-klv8obch__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmk4q0p .style-klv8po4q__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmk4q0p .style-klv8po4q__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmk4q0p .style-klv8po4q__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmk4q0p .style-klv8po4q__root[disabled] {
  background: #e2e2e2;
}

#comp-klmk4q0p
  .style-klv8po4q__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmk4q0p .style-klv8po4q__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmk4q0p .style-klv8po4q__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmk4q0p .style-klv8po4q__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klmk4q0p .style-klv8po4q__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmk4v2j .style-klv8pync__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmk4v2j .style-klv8pync__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmk4v2j .style-klv8pync__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmk4v2j .style-klv8pync__root[disabled] {
  background: #e2e2e2;
}

#comp-klmk4v2j
  .style-klv8pync__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmk4v2j .style-klv8pync__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmk4v2j .style-klv8pync__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmk4v2j .style-klv8pync__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klmk4v2j .style-klv8pync__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmk521a .style-klv8q43o__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmk521a .style-klv8q43o__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmk521a .style-klv8q43o__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmk521a .style-klv8q43o__root[disabled] {
  background: #e2e2e2;
}

#comp-klmk521a
  .style-klv8q43o__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmk521a .style-klv8q43o__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmk521a .style-klv8q43o__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmk521a .style-klv8q43o__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klmk521a .style-klv8q43o__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}


#comp-klavdzm4 svg [data-color="1"] {fill: #FFFFFF;} #comp-klavdzm4 svg [data-color="2"] {fill: #FFFFFF;}
#comp-klavg0oq svg [data-color="1"] {fill: #FFFFFF;}
#comp-klavlm8x svg [data-color="1"] {fill: #FFFFFF;}
#comp-km8atp8b svg [data-color="1"] {fill: #FFFFFF;}
#comp-klmjkwnp svg [data-color="1"] {fill: #454A6E;}
#comp-klmjkwnt2 svg [data-color="1"] {fill: #454A6E;}
#comp-klmjkwo0 svg [data-color="1"] {fill: #454A6E;}
