[data-mesh-id="comp-klqprd9rinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprda2"] {
  position: relative;
  margin: 0px 0px 15px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprda6"] {
  position: relative;
  margin: 0px 0px 15px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprda8"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdaj"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdal1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdan1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdap1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdar1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdat1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdav1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprday2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdb02"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdb22"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdb42"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdb8"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdba1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-klqprdbd"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprd9rinlineContent-gridContainer"]
  > [id="comp-kmdplhpg"] {
  position: relative;
  margin: 0px 0px 21px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdbq"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdbx"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdbz"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdc1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdc3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdc5"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdc7"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdc91"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdcc"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdce"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdch"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdbm1inlineContent-gridContainer"]
  > [id="comp-klqprdcj1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdd9"] {
  position: relative;
  margin: 46px 0px 60px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdda1"] {
  position: relative;
  margin: 46px 0px 54px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddc"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddd1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddj"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddl1"] {
  position: relative;
  margin: 0px 0px 32px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddn1"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddp"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddr"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprddw2"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprde12"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprde72"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprde9"] {
  position: relative;
  margin: 0px 0px 36px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdea1"] {
  position: relative;
  margin: 0px 0px 29px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdeb2"] {
  position: relative;
  margin: 0px 0px 31px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdei"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdeo"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprdd12inlineContent-gridContainer"]
  > [id="comp-klqprdeq1"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprddrinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klqprddrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprddrinlineContent-gridContainer"]
  > [id="comp-klqprddt"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprddrinlineContent-gridContainer"]
  > [id="comp-klqprddv"] {
  position: relative;
  margin: 0px 0px 13px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprddw2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klqprddw2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprddw2inlineContent-gridContainer"]
  > [id="comp-klqprddy1"] {
  position: relative;
  margin: 23px 0px -2px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprddw2inlineContent-gridContainer"]
  > [id="comp-klqprde01"] {
  position: relative;
  margin: 0px 0px 3px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprde12inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klqprde12inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klqprde12inlineContent-gridContainer"]
  > [id="comp-klqprde31"] {
  position: relative;
  margin: 24px 0px -11px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klqprde12inlineContent-gridContainer"]
  > [id="comp-klqprde6"] {
  position: relative;
  margin: 0px 0px 11px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 3404px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-kmafps9d"] {
  position: relative;
  margin: 9px 0px 29px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprd9f"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdbk"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdcl1"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdcr"] {
  position: relative;
  margin: 0px 0px -14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdcw1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdes"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdeu"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdev"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdex"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdey3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdf01"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdf2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdf42"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdf6"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-gridContainer"]
  > [id="comp-klqprdf7"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containernf6h4inlineContent-wedge-8"] {
  visibility: hidden;
  height: 611px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containernf6h4inlineContent-wedge-10"] {
  visibility: hidden;
  height: 1363px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containernf6h4inlineContent-wedge-12"] {
  visibility: hidden;
  height: 1631px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containernf6h4inlineContent-wedge-14"] {
  visibility: hidden;
  height: 2217px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klqprdct2 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafps9d {
  width: 310px;
  height: 38px;
}
#comp-klqprdcl1 {
  width: 136px;
  height: 40px;
}
#comp-klqprdcr {
  width: 136px;
  height: 134px;
}
#comp-klqprdes {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqprdeu {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqprdev {
  width: 192px;
  height: 52px;
}
#comp-klqprdex {
  width: 192px;
  height: 52px;
}
#comp-klqprdey3 {
  width: 192px;
  height: 52px;
}
#comp-klqprdf01 {
  width: 192px;
  height: 52px;
}
#comp-klqprdf2 {
  width: 192px;
  height: 52px;
}
#comp-klqprdf42 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqprdf6 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqprdf7 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqprda2 {
  width: 5px;
  height: 246px;
}
#comp-klqprda6 {
  width: 5px;
  height: 246px;
}
#comp-klqprda8 {
  width: 20px;
  height: 19px;
}
#comp-klqprdaj {
  width: 20px;
  height: 19px;
}
#comp-klqprdal1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdan1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdap1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdar1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdat1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdav1 {
  width: 20px;
  height: 19px;
}
#comp-klqprday2 {
  width: 20px;
  height: 19px;
}
#comp-klqprdb02 {
  width: 20px;
  height: 19px;
}
#comp-klqprdb22 {
  width: 20px;
  height: 19px;
}
#comp-klqprdb42 {
  width: 20px;
  height: 19px;
}
#comp-klqprdb8 {
  width: 20px;
  height: 19px;
}
#comp-klqprdba1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdbd {
  width: 20px;
  height: 19px;
}
#comp-kmdplhpg {
  width: 600px;
  height: 290px;
}
#comp-klqprdbq {
  width: 382px;
  height: 245px;
}
#comp-klqprdbx {
  width: 320px;
  height: 232px;
}
#comp-klqprdbz {
  width: 20px;
  height: 19px;
}
#comp-klqprdc1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdc3 {
  width: 20px;
  height: 19px;
}
#comp-klqprdc5 {
  width: 20px;
  height: 19px;
}
#comp-klqprdc7 {
  width: 20px;
  height: 19px;
}
#comp-klqprdc91 {
  width: 20px;
  height: 19px;
}
#comp-klqprdcc {
  width: 20px;
  height: 19px;
}
#comp-klqprdce {
  width: 20px;
  height: 19px;
}
#comp-klqprdch {
  width: 20px;
  height: 19px;
}
#comp-klqprdcj1 {
  width: 20px;
  height: 19px;
}
#comp-klqprdd9 {
  width: 224px;
  height: 115px;
}
#comp-klqprdda1 {
  width: 224px;
  height: 121px;
}
#comp-klqprddc {
  width: 979px;
  height: 365px;
  scroll-margin-top: 100px;
}
#comp-klqprddd1 {
  width: 979px;
  height: 5px;
}
#comp-klqprddj {
  width: 921px;
  height: 634px;
  scroll-margin-top: 100px;
}
#comp-klqprddl1 {
  width: 123px;
  height: 40px;
}
#comp-klqprddn1 {
  width: 979px;
  height: 5px;
}
#comp-klqprddp {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klqprde72 {
  width: 979px;
  height: 5px;
}
#comp-klqprde9 {
  width: 979px;
  height: 538px;
  scroll-margin-top: 95px;
}
#comp-klqprdea1 {
  width: 979px;
  height: 5px;
}
#comp-klqprdeb2 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-klqprdei {
  width: 121px;
  height: 40px;
}
#comp-klqprdeo {
  width: 121px;
  height: 40px;
}
#comp-klqprdeq1 {
  width: 121px;
  height: 40px;
}
#comp-klqprddt {
  width: 58px;
  height: 40px;
}
#comp-klqprddv {
  width: 194px;
  height: 59px;
}
#comp-klqprddy1 {
  width: 43px;
  height: 40px;
}
#comp-klqprde01 {
  width: 207px;
  height: 82px;
}
#comp-klqprde31 {
  width: 32px;
  height: 40px;
}
#comp-klqprde6 {
  width: 207px;
  height: 82px;
}
#nf6h4 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klqprd9f {
  width: 980px;
}
#comp-klqprdbk {
  width: 980px;
}
#comp-klqprdcw1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klqprd9r {
  width: 980px;
}
#comp-klqprdbm1 {
  width: 980px;
}
#comp-klqprdd12 {
  width: 980px;
}
#comp-klqprddr {
  width: 223px;
}
#comp-klqprddw2 {
  width: 223px;
}
#comp-klqprde12 {
  width: 223px;
}
#comp-klqprdct2-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafps9d {
  height: auto;
}
#comp-klqprdcl1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klqprdcr {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 134px;
  --width: 136px;
}
#comp-klqprdct2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klqprda2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klqprda6 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klqprda8 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdaj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdal1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdan1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdap1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdar1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdat1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdav1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprday2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdb02 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdb22 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdb42 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdb8 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdba1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdbd {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdplhpg {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klqprdbq {
  --min-height: 185px;
  height: auto;
}
#comp-klqprdbx {
  --min-height: 210px;
  height: auto;
}
#comp-klqprdbz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdc1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdc3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdc5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdc7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdc91 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdcc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdce {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdch {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdcj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klqprdd9 {
  height: auto;
}
#comp-klqprdda1 {
  --min-height: 121px;
  height: auto;
}
#comp-klqprddc {
  --min-height: 313px;
  height: auto;
}
#comp-klqprddd1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klqprddj {
  --min-height: 324px;
  height: auto;
}
#comp-klqprddl1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klqprddn1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klqprddp {
  --min-height: 78px;
  height: auto;
}
#comp-klqprde72 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klqprde9 {
  --min-height: 306px;
  height: auto;
}
#comp-klqprdea1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klqprddt {
  --opacity: 1;
}
#comp-klqprddv {
  /* height: auto; */
}
#comp-klqprddy1 {
  --opacity: 1;
}
#comp-klqprde01 {
  --min-height: 67px;
  height: auto;
}
#comp-klqprde31 {
  --opacity: 1;
}
#comp-klqprde6 {
  height: auto;
}
#nf6h4 {
  width: auto;
  /* min-height: 3404px; */
}
#comp-klqprd9f {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klqprdbk {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klqprdcw1 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klqprd9r {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klqprdbm1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klqprdd12 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klqprddr {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klqprddw2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klqprde12 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_nf6h4 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdev .style-klv980do__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdev .style-klv980do__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klqprdev .style-klv980do__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klqprdev .style-klv980do__root:disabled {
  background: #e2e2e2;
}

#comp-klqprdev .style-klv980do__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdev .style-klv980do__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdev .style-klv980do__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klqprdev .style-klv980do__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klqprdev .style-klv980do__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klqprdev .style-klv980do__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klqprdev .style-klv980do__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdex .style-klv985xu__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdex .style-klv985xu__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klqprdex .style-klv985xu__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klqprdex .style-klv985xu__root:disabled {
  background: #e2e2e2;
}

#comp-klqprdex .style-klv985xu__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdex .style-klv985xu__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdex .style-klv985xu__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klqprdex .style-klv985xu__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klqprdex .style-klv985xu__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klqprdex .style-klv985xu__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klqprdex .style-klv985xu__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdey3 .style-klv98bnj__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdey3 .style-klv98bnj__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klqprdey3 .style-klv98bnj__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klqprdey3 .style-klv98bnj__root:disabled {
  background: #e2e2e2;
}

#comp-klqprdey3
  .style-klv98bnj__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdey3 .style-klv98bnj__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdey3 .style-klv98bnj__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klqprdey3 .style-klv98bnj__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klqprdey3 .style-klv98bnj__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klqprdey3 .style-klv98bnj__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klqprdey3 .style-klv98bnj__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdf01 .style-klv98jxv__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdf01 .style-klv98jxv__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klqprdf01 .style-klv98jxv__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klqprdf01 .style-klv98jxv__root:disabled {
  background: #e2e2e2;
}

#comp-klqprdf01
  .style-klv98jxv__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdf01 .style-klv98jxv__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdf01 .style-klv98jxv__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klqprdf01 .style-klv98jxv__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klqprdf01 .style-klv98jxv__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klqprdf01 .style-klv98jxv__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdf2 .style-klv98q9s__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdf2 .style-klv98q9s__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klqprdf2 .style-klv98q9s__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klqprdf2 .style-klv98q9s__root:disabled {
  background: #e2e2e2;
}

#comp-klqprdf2 .style-klv98q9s__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdf2 .style-klv98q9s__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdf2 .style-klv98q9s__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klqprdf2 .style-klv98q9s__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klqprdf2 .style-klv98q9s__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klqprdf2 .style-klv98q9s__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klqprdf2 .style-klv98q9s__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdei .style-klv9amxe__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdei .style-klv9amxe__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klqprdei .style-klv9amxe__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klqprdei .style-klv9amxe__root[disabled] {
  background: #e2e2e2;
}

#comp-klqprdei
  .style-klv9amxe__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdei .style-klv9amxe__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdei .style-klv9amxe__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klqprdei .style-klv9amxe__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klqprdei .style-klv9amxe__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdeo .style-klv9aszp__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdeo .style-klv9aszp__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klqprdeo .style-klv9aszp__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klqprdeo .style-klv9aszp__root[disabled] {
  background: #e2e2e2;
}

#comp-klqprdeo
  .style-klv9aszp__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdeo .style-klv9aszp__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdeo .style-klv9aszp__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klqprdeo .style-klv9aszp__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klqprdeo .style-klv9aszp__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klqprdeq1 .style-klv9aykr__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klqprdeq1 .style-klv9aykr__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klqprdeq1 .style-klv9aykr__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klqprdeq1 .style-klv9aykr__root[disabled] {
  background: #e2e2e2;
}

#comp-klqprdeq1
  .style-klv9aykr__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klqprdeq1
  .style-klv9aykr__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klqprdeq1 .style-klv9aykr__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klqprdeq1 .style-klv9aykr__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klqprdeq1 .style-klv9aykr__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}
#comp-klavdzm4 svg [data-color="1"] {fill: #FFFFFF;} #comp-klavdzm4 svg [data-color="2"] {fill: #FFFFFF;}
#comp-klavg0oq svg [data-color="1"] {fill: #FFFFFF;}
#comp-klavlm8x svg [data-color="1"] {fill: #FFFFFF;}
#comp-km8atp8b svg [data-color="1"] {fill: #FFFFFF;}
#comp-klqprddt svg [data-color="1"] {fill: #454A6E;}
#comp-klqprddy1 svg [data-color="1"] {fill: #454A6E;}
#comp-klqprde31 svg [data-color="1"] {fill: #454A6E;}
