.qDqoW {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
}

[data-mesh-id="comp-kldi36jeinlineContent"] {
  height: auto;
  /* width: 1542px; */
}
[data-mesh-id="comp-kldi36jeinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kldi36jeinlineContent-gridContainer"]
  > [id="comp-kldi36kl"] {
  position: relative;
  margin: 9px 0px 10px 0;
  /* left: 476px; */
  grid-area: 1 / 1 / 2 / 2;
  /* justify-self: start;
  align-self: start; */
}
[data-mesh-id="comp-klvaew0finlineContent"] {
  height: auto;
  width: 100%;
  position: static;
  min-height: 4444px;
}
[data-mesh-id^="comp-kldhx7ek__"][data-mesh-id$="inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id^="comp-kldhx7ek__"][data-mesh-id$="inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-kldhx7fs"] {
  position: relative;
  margin: 6px 0px -19px 0;
  left: 19px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-kle1111c"] {
  position: relative;
  margin: 21px 0px -2px 0;
  left: 162px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-kldhx7g71"] {
  position: relative;
  margin: 13px 0px -12px 0;
  left: 303px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-kle0d8zx"] {
  position: relative;
  margin: 13px 0px -1px 0;
  left: 570px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-kldifvas"] {
  position: relative;
  margin: 17px 0px 2px 0;
  left: 840px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id^="comp-kldhx7ek__"] > [id^="comp-klnlb3g7"] {
  position: relative;
    margin: 0px 0px 34px 0;
    left: 840px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}
[data-mesh-id="comp-km92tolzinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-km92tolzinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-km92tolzinlineContent-gridContainer"]
  > [id="comp-km92uxip"] {
  position: relative;
  margin: 23px 0px 58px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 3027px;
  grid-template-rows: repeat(64, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="WRchTxt18-4or"] {
  position: relative;
  margin: 38px 0px 69px calc((100% - 980px) * 0.5);
  left: 272px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kldi36je"] {
  position: relative;
  /* margin: 0px 0px 1px calc((100% - 980px) * 0.5); */
  /* left: -272px; */
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 100%;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klvaevwo"] {
  position: relative;
  /* margin: 0px 0px 34px calc((100% - 980px) * 0.5); */
  left: 0px;
  grid-area: 2 / 1 / 65 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kldhx7dd"] {
  position: relative;
  margin: 41px 0px 10px calc((100% - 980px) * 0.5);
  left: -5px;
  grid-area: 2 / 1 / 64 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klgbk4kj"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klgdgsal"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klgdrafg"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kli68rb4"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klijgwwo"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kljjsaqa"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klkscbjj"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klkv7lm5"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 16 / 1 / 17 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klm7ch33"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 18 / 1 / 19 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klmbalxq"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 20 / 1 / 21 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klmeuufd"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 22 / 1 / 23 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klmj2sub"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 24 / 1 / 25 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klnipb1m"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 26 / 1 / 27 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klnnqv39"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 28 / 1 / 29 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klnvdm50"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 30 / 1 / 31 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klqpgey7"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 32 / 1 / 33 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klrv7c7b"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 34 / 1 / 35 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klt4crdf"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 36 / 1 / 37 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kltxcdqk"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 38 / 1 / 39 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kluon984"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 40 / 1 / 41 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-klw8rqyh"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 42 / 1 / 43 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmg4c3tp"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 44 / 1 / 45 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmhzfmdi"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 46 / 1 / 47 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmkmk5xm"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 48 / 1 / 49 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmmodc5h"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 50 / 1 / 51 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmnf2g85"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 52 / 1 / 53 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmovyqn9"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 54 / 1 / 55 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmp7dcgg"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 56 / 1 / 57 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmqaww5y"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 58 / 1 / 59 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmqrirnb"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 60 / 1 / 61 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-kmud2qhm"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 62 / 1 / 63 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-gridContainer"]
  > [id="comp-km92toi1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 65 / 1 / 66 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containercee5inlineContent-wedge-4"] {
  visibility: hidden;
  height: 148px;
  width: 0;
  grid-area: 2 / 1 / 4 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-6"] {
  visibility: hidden;
  height: 255px;
  width: 0;
  grid-area: 2 / 1 / 6 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-8"] {
  visibility: hidden;
  height: 362px;
  width: 0;
  grid-area: 2 / 1 / 8 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-10"] {
  visibility: hidden;
  height: 469px;
  width: 0;
  grid-area: 2 / 1 / 10 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-12"] {
  visibility: hidden;
  height: 568px;
  width: 0;
  grid-area: 2 / 1 / 12 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-14"] {
  visibility: hidden;
  height: 675px;
  width: 0;
  grid-area: 2 / 1 / 14 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-16"] {
  visibility: hidden;
  height: 782px;
  width: 0;
  grid-area: 2 / 1 / 16 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-18"] {
  visibility: hidden;
  height: 888px;
  width: 0;
  grid-area: 2 / 1 / 18 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-20"] {
  visibility: hidden;
  height: 996px;
  width: 0;
  grid-area: 2 / 1 / 20 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-22"] {
  visibility: hidden;
  height: 1103px;
  width: 0;
  grid-area: 2 / 1 / 22 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-24"] {
  visibility: hidden;
  height: 1210px;
  width: 0;
  grid-area: 2 / 1 / 24 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-26"] {
  visibility: hidden;
  height: 1317px;
  width: 0;
  grid-area: 2 / 1 / 26 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-28"] {
  visibility: hidden;
  height: 1424px;
  width: 0;
  grid-area: 2 / 1 / 28 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-30"] {
  visibility: hidden;
  height: 1531px;
  width: 0;
  grid-area: 2 / 1 / 30 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-32"] {
  visibility: hidden;
  height: 1638px;
  width: 0;
  grid-area: 2 / 1 / 32 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-34"] {
  visibility: hidden;
  height: 1745px;
  width: 0;
  grid-area: 2 / 1 / 34 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-36"] {
  visibility: hidden;
  height: 1852px;
  width: 0;
  grid-area: 2 / 1 / 36 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-38"] {
  visibility: hidden;
  height: 1959px;
  width: 0;
  grid-area: 2 / 1 / 38 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-40"] {
  visibility: hidden;
  height: 2066px;
  width: 0;
  grid-area: 2 / 1 / 40 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-42"] {
  visibility: hidden;
  height: 2173px;
  width: 0;
  grid-area: 2 / 1 / 42 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-44"] {
  visibility: hidden;
  height: 2280px;
  width: 0;
  grid-area: 2 / 1 / 44 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-46"] {
  visibility: hidden;
  height: 2387px;
  width: 0;
  grid-area: 2 / 1 / 46 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-48"] {
  visibility: hidden;
  height: 2493px;
  width: 0;
  grid-area: 2 / 1 / 48 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-50"] {
  visibility: hidden;
  height: 2603px;
  width: 0;
  grid-area: 2 / 1 / 50 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-52"] {
  visibility: hidden;
  height: 2708px;
  width: 0;
  grid-area: 2 / 1 / 52 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-54"] {
  visibility: hidden;
  height: 2815px;
  width: 0;
  grid-area: 2 / 1 / 54 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-56"] {
  visibility: hidden;
  height: 2930px;
  width: 0;
  grid-area: 2 / 1 / 56 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-58"] {
  visibility: hidden;
  height: 3037px;
  width: 0;
  grid-area: 2 / 1 / 58 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-60"] {
  visibility: hidden;
  height: 3136px;
  width: 0;
  grid-area: 2 / 1 / 60 / 2;
}
[data-mesh-id="Containercee5inlineContent-wedge-62"] {
  visibility: hidden;
  height: 3243px;
  width: 0;
  grid-area: 2 / 1 / 62 / 2;
}
#comp-kljnor20 {
  transform: rotate(270deg);
  width: 13px;
  height: 28px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 102.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#WRchTxt18-4or {
  width: 435px;
  height: 30px;
}
#comp-klgbk4kj {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgdgsal {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgdrafg {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli68rb4 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klijgwwo {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljjsaqa {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkscbjj {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkv7lm5 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klm7ch33 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbalxq {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmeuufd {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmj2sub {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnipb1m {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnqv39 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnvdm50 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klqpgey7 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klrv7c7b {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klt4crdf {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxcdqk {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kluon984 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klw8rqyh {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmg4c3tp {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmhzfmdi {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmk5xm {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmmodc5h {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmnf2g85 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmovyqn9 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7dcgg {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqaww5y {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrirnb {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmud2qhm {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kldi36kl {
  /* width: 570px; */
  height: 117px;
}
#comp-kldhx7fs,
[id^="comp-kldhx7fs__"] {
  width: 81px;
  height: 82px;
}
#comp-kle1111c,
[id^="comp-kle1111c__"] {
  width: 104px;
  height: 50px;
}
#comp-kldhx7g71,
[id^="comp-kldhx7g71__"] {
  width: 302px;
  height: 68px;
}
#comp-kle0d8zx,
[id^="comp-kle0d8zx__"] {
  width: 255px;
  height: 57px;
}
#comp-kldifvas,
[id^="comp-kldifvas__"] {
  width: 104px;
  height: 40px;
}
#comp-klnlb3g7,
[id^="comp-klnlb3g7__"] {
  width: 51px;
  height: 30px;
}
#comp-km92uxip {
  width: 980px;
  height: 1659px;
}
#cee5 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kldi36je {
  /* width: 1542px; */
}
#comp-klvaevwo {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kldhx7dd {
  width: 983px;
}
#comp-km92toi1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klvaew0f {
  width: 980px;
}
#comp-kldhx7ek,
[id^="comp-kldhx7ek__"] {
  width: 980px;
}
#comp-km92tolz {
  width: 980px;
}
#comp-kljnor20-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#WRchTxt18-4or {
  height: auto;
}
#comp-kljnor20 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kldi36kl {
  --min-height: 31px;
  height: auto;
}
[id^="comp-kldhx7fs__"] {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 82px;
  --width: 81px;
}
[id^="comp-kle1111c__"] {
  height: auto;
}
[id^="comp-kldhx7g71__"] {
  --min-height: 68px;
  height: auto;
}
[id^="comp-kle0d8zx__"] {
  --min-height: 5px;
  height: auto;
}
#comp-km92uxip {
  height: auto;
}
#cee5 {
  --bg: 255, 255, 255;
  --alpha-bg: 1;
  --shc-mutated-brightness: 128, 128, 128;
  width: auto;
  min-height: 3027px;
}
#comp-kldi36je {
  --bg: 60, 64, 82;
  --alpha-bg: 1;
  --shc-mutated-brightness: 30, 32, 41;
}
#comp-klvaevwo {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kldhx7dd {
  --brw: 0px;
  --brd: 50, 65, 88;
  --bg: 61, 155, 233;
  --rd: 0px;
  --shd: none;
  --alpha-brd: 0;
  --alpha-bg: 0;
  --boxShadowToggleOn-shd: none;
  --direction: ltr;
  --justify-content: flex-start;
  --margin: -4px -4px;
  --item-margin: 4px 4px;
}
#comp-km92toi1 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klvaew0f {
  --bg-overlay-color: rgb(250, 250, 250);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
[id^="comp-kldhx7ek__"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
#comp-km92tolz {
  --bg-overlay-color: rgb(250, 250, 250);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#pageBackground_cee5 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --fill-layer-background-overlay-color: transparent;
  --fill-layer-background-overlay-position: absolute;
}
[id="comp-kldhx7fs__item1"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-j9sbjmlt"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-j9sbjizh"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kljk0yp8"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kljk0zq1"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kljk121x"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kljk12uj"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kljk13fa"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klm72huj"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klmb1vjc"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klmekjxp"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klmj1q29"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klnig34q"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klnnowa2"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klnv3m8l"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klqp4a52"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klruzqfc"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klt4cmam"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kltxb2z0"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kluo6gll"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-klw8jic5"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmg45ovr"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmhze2uf"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmkmim3c"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmmob32o"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmnevi60"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmovu2ua"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmp7ctlz"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmqawpc4"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmqrhhcj"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7fs__item-kmud2f1k"] {
  --height: 82px;
  --width: 81px;
}
[id="comp-kldhx7ek__item1"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-j9sbjmlt"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-j9sbjizh"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kljk0yp8"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kljk0zq1"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kljk121x"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kljk12uj"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kljk13fa"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klm72huj"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klmb1vjc"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klmekjxp"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klmj1q29"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klnig34q"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klnnowa2"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klnv3m8l"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klqp4a52"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klruzqfc"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klt4cmam"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kltxb2z0"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kluo6gll"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-klw8jic5"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmg45ovr"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmhze2uf"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmkmim3c"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmmob32o"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmnevi60"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmovu2ua"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmp7ctlz"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmqawpc4"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmqrhhcj"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
}
[id="comp-kldhx7ek__item-kmud2f1k"] {
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1)
    rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0px;
} /* END STYLABLE DIRECTIVE RULES */

[id^="comp-kldifvas__"]
  .style-klv6rtdv__root:hover
  .StylableButton1881452515__icon {
  fill: #454a6e;
}

/* START STYLABLE DIRECTIVE RULES */

[id^="comp-kldifvas__"] .style-klv6rtdv__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #384ad3;
  background: #324158;
  border-radius: 3px;
}

[id^="comp-kldifvas__"] .style-klv6rtdv__root:hover {
  border: 1px solid #ffffff;
  background: #def78f;
}

[id^="comp-kldifvas__"]
  .style-klv6rtdv__root:hover
  .StylableButton1881452515__label {
  color: #454a6e;
  font-weight: 400;
}

[id^="comp-kldifvas__"] .style-klv6rtdv__root:disabled {
  background: #e2e2e2;
}

[id^="comp-kldifvas__"]
  .style-klv6rtdv__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

[id^="comp-kldifvas__"]
  .style-klv6rtdv__root:disabled
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

[id^="comp-kldifvas__"]
  .style-klv6rtdv__root
  .StylableButton1881452515__container {
  transition: inherit;
}

[id^="comp-kldifvas__"] .style-klv6rtdv__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.1em;
  margin: 0px 2px 0px 0px;
  font-style: normal;
  color: #ffffff;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

[id^="comp-kldifvas__"] .style-klv6rtdv__root .StylableButton1881452515__icon {
  transition: inherit;
  display: initial;
  margin: 0px 0px 0px 2px;
  width: 12px;
  height: 12px;
  fill: #ffffff;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  [id^="comp-kldifvas__"]
    .style-klv6rtdv__root
    .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

[id^="comp-klnlb3g7__"]
  .style-klnlffl0__root:hover
  .StylableButton1881452515__icon {
  fill: #ffffff;
}

/* START STYLABLE DIRECTIVE RULES */

[id^="comp-klnlb3g7__"] .style-klnlffl0__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  background: #ffffff;
  border: 1px solid #ffffff;
}

[id^="comp-klnlb3g7__"] .style-klnlffl0__root:hover {
  border: 1px solid #ffffff;
  background: #ffffff;
}

[id^="comp-klnlb3g7__"]
  .style-klnlffl0__root:hover
  .StylableButton1881452515__label {
  color: #454a6e;
  font-weight: 700;
  font-size: 13px;
}

[id^="comp-klnlb3g7__"] .style-klnlffl0__root:disabled {
  background: #e2e2e2;
}

[id^="comp-klnlb3g7__"]
  .style-klnlffl0__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

[id^="comp-klnlb3g7__"]
  .style-klnlffl0__root:disabled
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

[id^="comp-klnlb3g7__"]
  .style-klnlffl0__root
  .StylableButton1881452515__container {
  transition: inherit;
}

[id^="comp-klnlb3g7__"] .style-klnlffl0__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.1em;
  margin: 0px 2px 0px 0px;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 400;
  color: #454a6e;
  font-size: 13px;
  text-align: center;
}

[id^="comp-klnlb3g7__"] .style-klnlffl0__root .StylableButton1881452515__icon {
  transition: inherit;
  display: initial;
  margin: 0px 0px 0px 2px;
  width: 12px;
  height: 12px;
  fill: #ffffff;
}
