[data-mesh-id="comp-klksdlslinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlsw"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlsz"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlt1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlt71"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlt92"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltb"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltd"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlte2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltg"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlth2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltj1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltl1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltn2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltp1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdlts"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltu"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-klksdltw"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlslinlineContent-gridContainer"]
  > [id="comp-kmdpb34v"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlu8"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlua1"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlub3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlud2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdluf"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdluh"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdluj1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlul"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlum2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdluo"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlup2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlu42inlineContent-gridContainer"]
  > [id="comp-klksdlur"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(13, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlv81"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlv92"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvb"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvd"] {
  position: relative;
  margin: 0px 0px 19px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlve2"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvg1"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvk1"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvl2"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvn"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlvt1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlw01"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlw52"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlw7"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlw82"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlwa"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlwd"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlwf1"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-gridContainer"]
  > [id="comp-klksdlwg3"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlv4inlineContent-wedge-11"] {
  visibility: hidden;
  height: 1297px;
  width: 0;
  grid-area: 1 / 1 / 11 / 2;
}
[data-mesh-id="comp-klksdlvninlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klksdlvninlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlvninlineContent-gridContainer"]
  > [id="comp-klksdlvp"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlvninlineContent-gridContainer"]
  > [id="comp-klksdlvq2"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 32px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlvt1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klksdlvt1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlvt1inlineContent-gridContainer"]
  > [id="comp-klksdlvx"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlvt1inlineContent-gridContainer"]
  > [id="comp-klksdlvz"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlw01inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klksdlw01inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klksdlw01inlineContent-gridContainer"]
  > [id="comp-klksdlw2"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klksdlw01inlineContent-gridContainer"]
  > [id="comp-klksdlw41"] {
  position: relative;
  margin: 0px 0px 35px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 2420px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-kmafunph"] {
  position: relative;
  margin: 9px 0px 21px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlsg"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlu2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlus3"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdluu3"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlv02"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwi1"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwj1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwk2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwm"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwn2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwp1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwq3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlws1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwt1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-gridContainer"]
  > [id="comp-klksdlwu2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeri3lmpinlineContent-wedge-8"] {
  visibility: hidden;
  height: 433px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containeri3lmpinlineContent-wedge-10"] {
  visibility: hidden;
  height: 953px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containeri3lmpinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1297px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containeri3lmpinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1426px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klksdlux2 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafunph {
  width: 310px;
  height: 38px;
}
#comp-klksdlus3 {
  width: 136px;
  height: 40px;
}
#comp-klksdluu3 {
  width: 136px;
  height: 135px;
}
#comp-klksdlwi1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klksdlwj1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klksdlwk2 {
  width: 192px;
  height: 52px;
}
#comp-klksdlwm {
  width: 192px;
  height: 52px;
}
#comp-klksdlwn2 {
  width: 192px;
  height: 52px;
}
#comp-klksdlwp1 {
  width: 192px;
  height: 52px;
}
#comp-klksdlwq3 {
  width: 192px;
  height: 52px;
}
#comp-klksdlws1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klksdlwt1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klksdlwu2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klksdlsw {
  width: 5px;
  height: 246px;
}
#comp-klksdlsz {
  width: 5px;
  height: 246px;
}
#comp-klksdlt1 {
  width: 20px;
  height: 19px;
}
#comp-klksdlt71 {
  width: 20px;
  height: 19px;
}
#comp-klksdlt92 {
  width: 20px;
  height: 19px;
}
#comp-klksdltb {
  width: 20px;
  height: 19px;
}
#comp-klksdltd {
  width: 20px;
  height: 19px;
}
#comp-klksdlte2 {
  width: 20px;
  height: 19px;
}
#comp-klksdltg {
  width: 20px;
  height: 19px;
}
#comp-klksdlth2 {
  width: 20px;
  height: 19px;
}
#comp-klksdltj1 {
  width: 20px;
  height: 19px;
}
#comp-klksdltl1 {
  width: 20px;
  height: 19px;
}
#comp-klksdltn2 {
  width: 20px;
  height: 19px;
}
#comp-klksdltp1 {
  width: 20px;
  height: 19px;
}
#comp-klksdlts {
  width: 20px;
  height: 19px;
}
#comp-klksdltu {
  width: 20px;
  height: 19px;
}
#comp-klksdltw {
  width: 20px;
  height: 19px;
}
#comp-kmdpb34v {
  width: 600px;
  height: 290px;
}
#comp-klksdlu8 {
  width: 382px;
  height: 245px;
}
#comp-klksdlua1 {
  width: 320px;
  height: 232px;
}
#comp-klksdlub3 {
  width: 20px;
  height: 19px;
}
#comp-klksdlud2 {
  width: 20px;
  height: 19px;
}
#comp-klksdluf {
  width: 20px;
  height: 19px;
}
#comp-klksdluh {
  width: 20px;
  height: 19px;
}
#comp-klksdluj1 {
  width: 20px;
  height: 19px;
}
#comp-klksdlul {
  width: 20px;
  height: 19px;
}
#comp-klksdlum2 {
  width: 20px;
  height: 19px;
}
#comp-klksdluo {
  width: 20px;
  height: 19px;
}
#comp-klksdlup2 {
  width: 20px;
  height: 19px;
}
#comp-klksdlur {
  width: 20px;
  height: 19px;
}
#comp-klksdlv81 {
  width: 979px;
  height: 77px;
  scroll-margin-top: 100px;
}
#comp-klksdlv92 {
  width: 979px;
  height: 288px;
}
#comp-klksdlvb {
  width: 979px;
  height: 5px;
}
#comp-klksdlvd {
  width: 979px;
  height: 96px;
  scroll-margin-top: 95px;
}
#comp-klksdlve2 {
  width: 979px;
  height: 326px;
}
#comp-klksdlvg1 {
  width: 123px;
  height: 40px;
}
#comp-klksdlvk1 {
  width: 979px;
  height: 5px;
}
#comp-klksdlvl2 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klksdlw52 {
  width: 979px;
  height: 5px;
}
#comp-klksdlw7 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klksdlw82 {
  width: 979px;
  height: 5px;
}
#comp-klksdlwa {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-klksdlwd {
  width: 121px;
  height: 40px;
}
#comp-klksdlwf1 {
  width: 121px;
  height: 40px;
}
#comp-klksdlwg3 {
  width: 121px;
  height: 40px;
}
#comp-klksdlvp {
  width: 58px;
  height: 40px;
}
#comp-klksdlvq2 {
  width: 157px;
  height: 43px;
}
#comp-klksdlvx {
  width: 43px;
  height: 40px;
}
#comp-klksdlvz {
  width: 151px;
  height: 43px;
}
#comp-klksdlw2 {
  width: 32px;
  height: 40px;
}
#comp-klksdlw41 {
  width: 143px;
  height: 42px;
}
#i3lmp {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klksdlsg {
  width: 980px;
}
#comp-klksdlu2 {
  width: 980px;
}
#comp-klksdlv02 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klksdlsl {
  width: 980px;
}
#comp-klksdlu42 {
  width: 980px;
}
#comp-klksdlv4 {
  width: 980px;
}
#comp-klksdlvn {
  width: 223px;
}
#comp-klksdlvt1 {
  width: 223px;
}
#comp-klksdlw01 {
  width: 223px;
}
#comp-klksdlux2-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafunph {
  height: auto;
}
#comp-klksdlus3 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klksdluu3 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klksdlux2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klksdlsw {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klksdlsz {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klksdlt1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlt71 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlt92 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltd {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlte2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlth2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltl1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltn2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltp1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlts {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltu {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdltw {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpb34v {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klksdlu8 {
  --min-height: 185px;
  height: auto;
}
#comp-klksdlua1 {
  --min-height: 210px;
  height: auto;
}
#comp-klksdlub3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlud2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdluf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdluh {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdluj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlul {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlum2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdluo {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlup2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlur {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klksdlv81 {
  height: auto;
}
#comp-klksdlv92 {
  height: auto;
}
#comp-klksdlvb {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klksdlvd {
  height: auto;
}
#comp-klksdlve2 {
  height: auto;
}
#comp-klksdlvg1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klksdlvk1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klksdlvl2 {
  --min-height: 78px;
  height: auto;
}
#comp-klksdlw52 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klksdlw7 {
  --min-height: 78px;
  height: auto;
}
#comp-klksdlw82 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klksdlvp {
  --opacity: 1;
}
#comp-klksdlvq2 {
  height: auto;
}
#comp-klksdlvx {
  --opacity: 1;
}
#comp-klksdlvz {
  height: auto;
}
#comp-klksdlw2 {
  --opacity: 1;
}
#comp-klksdlw41 {
  height: auto;
}
#i3lmp {
  width: auto;
  /* min-height: 2420px; */
}
#comp-klksdlsg {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klksdlu2 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klksdlv02 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klksdlsl {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klksdlu42 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klksdlv4 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klksdlvn {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klksdlvt1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klksdlw01 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_i3lmp {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwk2 .style-klv86hfg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwk2 .style-klv86hfg__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klksdlwk2 .style-klv86hfg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klksdlwk2 .style-klv86hfg__root:disabled {
  background: #e2e2e2;
}

#comp-klksdlwk2
  .style-klv86hfg__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwk2 .style-klv86hfg__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwk2 .style-klv86hfg__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klksdlwk2 .style-klv86hfg__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klksdlwk2 .style-klv86hfg__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klksdlwk2 .style-klv86hfg__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klksdlwk2 .style-klv86hfg__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwm .style-klv86t9d__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwm .style-klv86t9d__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klksdlwm .style-klv86t9d__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klksdlwm .style-klv86t9d__root:disabled {
  background: #e2e2e2;
}

#comp-klksdlwm .style-klv86t9d__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwm .style-klv86t9d__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwm .style-klv86t9d__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klksdlwm .style-klv86t9d__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klksdlwm .style-klv86t9d__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klksdlwm .style-klv86t9d__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klksdlwm .style-klv86t9d__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwn2 .style-klv8712e__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwn2 .style-klv8712e__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klksdlwn2 .style-klv8712e__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klksdlwn2 .style-klv8712e__root:disabled {
  background: #e2e2e2;
}

#comp-klksdlwn2
  .style-klv8712e__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwn2 .style-klv8712e__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwn2 .style-klv8712e__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klksdlwn2 .style-klv8712e__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klksdlwn2 .style-klv8712e__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klksdlwn2 .style-klv8712e__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klksdlwn2 .style-klv8712e__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwp1 .style-klv879sk__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwp1 .style-klv879sk__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klksdlwp1 .style-klv879sk__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klksdlwp1 .style-klv879sk__root:disabled {
  background: #e2e2e2;
}

#comp-klksdlwp1
  .style-klv879sk__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwp1 .style-klv879sk__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwp1 .style-klv879sk__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klksdlwp1 .style-klv879sk__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klksdlwp1 .style-klv879sk__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klksdlwp1 .style-klv879sk__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwq3 .style-klv87flg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwq3 .style-klv87flg__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klksdlwq3 .style-klv87flg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klksdlwq3 .style-klv87flg__root:disabled {
  background: #e2e2e2;
}

#comp-klksdlwq3
  .style-klv87flg__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwq3 .style-klv87flg__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwq3 .style-klv87flg__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klksdlwq3 .style-klv87flg__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klksdlwq3 .style-klv87flg__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klksdlwq3 .style-klv87flg__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klksdlwq3 .style-klv87flg__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwd .style-klv890u8__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwd .style-klv890u8__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klksdlwd .style-klv890u8__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klksdlwd .style-klv890u8__root[disabled] {
  background: #e2e2e2;
}

#comp-klksdlwd
  .style-klv890u8__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwd .style-klv890u8__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwd .style-klv890u8__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klksdlwd .style-klv890u8__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klksdlwd .style-klv890u8__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwf1 .style-klv896wg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwf1 .style-klv896wg__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klksdlwf1 .style-klv896wg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klksdlwf1 .style-klv896wg__root[disabled] {
  background: #e2e2e2;
}

#comp-klksdlwf1
  .style-klv896wg__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwf1
  .style-klv896wg__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwf1 .style-klv896wg__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klksdlwf1 .style-klv896wg__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klksdlwf1 .style-klv896wg__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klksdlwg3 .style-klv89dq9__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klksdlwg3 .style-klv89dq9__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klksdlwg3 .style-klv89dq9__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klksdlwg3 .style-klv89dq9__root[disabled] {
  background: #e2e2e2;
}

#comp-klksdlwg3
  .style-klv89dq9__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klksdlwg3
  .style-klv89dq9__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klksdlwg3 .style-klv89dq9__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klksdlwg3 .style-klv89dq9__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klksdlwg3 .style-klv89dq9__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}


#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klksdlvp svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klksdlvx svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klksdlw2 svg [data-color="1"] {
  fill: #454a6e;
}
