#comp-kmafsjqp {
  height: auto;
}
#comp-kli6t90a {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kljrs2pt {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kli6t8xt {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kli6t8xz1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kli6t8y11 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kli6t8y3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yd {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yh {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yl1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yn1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yp1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yr1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kll56q69 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yv2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8yy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8z0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8z2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8z41 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdp439t {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kli6t8zh {
  --min-height: 185px;
  height: auto;
}
#comp-kli6t8zn1 {
  --min-height: 210px;
  height: auto;
}
#comp-kli6t8zr {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8zt {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8zv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t8zw2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t901 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t903 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t9042 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t9061 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kll577ly {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kll57j9f {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kli6t90o1 {
  height: auto;
}
#comp-kli6t90q {
  height: auto;
}
#comp-kli6t90r1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kli6t90w {
  height: auto;
}
#comp-kli6t9102 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kli6t913 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kli6t9141 {
  --min-height: 78px;
  height: auto;
}
#comp-kli6t91o1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kli6t91r {
  --min-height: 78px;
  height: auto;
}
#comp-kli6t91s1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kli6t9171 {
  --opacity: 1;
}
#comp-kli6t9192 {
  height: auto;
}
#comp-kli6t91d1 {
  --opacity: 1;
}
#comp-kli6t91g2 {
  height: auto;
}
#comp-kli6t91k {
  --opacity: 1;
}
#comp-kli6t91m {
  height: auto;
}
#yip46 {
  width: auto;
  min-height: 1478px;
}
#comp-kli6t8vx {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kli6t8za {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kli6t90e1 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kli6t8x1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kli6t8zd {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kli6t90j2 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kli6t916 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kli6t91b2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kli6t91i1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_yip46 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t92e .style-klv7k7b6__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}
[data-mesh-id="comp-kli6t8x1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(6, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8xt"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 1px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8xz1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8y11"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8y3"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yd"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yf"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yh"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yj"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yl1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yn1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yp1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yr1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kll56q69"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yv2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8yy"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8z0"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8z2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kli6t8z41"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8x1inlineContent-gridContainer"]
  > [id="comp-kmdp439t"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zh"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zn1"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zr"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zt"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zv"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t8zw2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t901"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t903"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t9042"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kli6t9061"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kll577ly"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t8zdinlineContent-gridContainer"]
  > [id="comp-kll57j9f"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t90o1"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t90q"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t90r1"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t90w"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t9102"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t913"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t9141"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t916"] {
  position: relative;
  margin: 0px 0px 46px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91b2"] {
  position: relative;
  margin: 0px 0px 46px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91i1"] {
  position: relative;
  margin: 0px 0px 46px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91o1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91r"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91s1"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t91u"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t9211"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t927"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t90j2inlineContent-gridContainer"]
  > [id="comp-kli6t9282"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 766px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t916inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kli6t916inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t916inlineContent-gridContainer"]
  > [id="comp-kli6t9171"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t916inlineContent-gridContainer"]
  > [id="comp-kli6t9192"] {
  position: relative;
  margin: 0px 0px 32px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t91b2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kli6t91b2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t91b2inlineContent-gridContainer"]
  > [id="comp-kli6t91d1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t91b2inlineContent-gridContainer"]
  > [id="comp-kli6t91g2"] {
  position: relative;
  margin: 0px 0px 32px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t91i1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kli6t91i1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kli6t91i1inlineContent-gridContainer"]
  > [id="comp-kli6t91k"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kli6t91i1inlineContent-gridContainer"]
  > [id="comp-kli6t91m"] {
  position: relative;
  margin: 0px 0px 31px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 1478px;
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kmafsjqp"] {
  position: relative;
  margin: 9px 0px 37px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t8vx"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t8za"] {
  position: relative;
  margin: 104px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t90a"] {
  position: relative;
  margin: 130px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t90e1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92a1"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92d"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92e"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92i2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92k"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92m"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92o"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92p1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92q1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-gridContainer"]
  > [id="comp-kli6t92r1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryip46inlineContent-wedge-6"] {
  visibility: hidden;
  height: 352px;
  width: 0;
  grid-area: 4 / 1 / 6 / 2;
}
[data-mesh-id="Containeryip46inlineContent-wedge-8"] {
  visibility: hidden;
  height: 720px;
  width: 0;
  grid-area: 4 / 1 / 8 / 2;
}
[data-mesh-id="Containeryip46inlineContent-wedge-10"] {
  visibility: hidden;
  height: 1020px;
  width: 0;
  grid-area: 4 / 1 / 10 / 2;
}
[data-mesh-id="Containeryip46inlineContent-wedge-12"] {
  visibility: hidden;
  height: 1165px;
  width: 0;
  grid-area: 4 / 1 / 12 / 2;
}
#comp-kljrs2pt {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafsjqp {
  width: 344px;
  height: 38px;
}
#comp-kli6t90a {
  width: 136px;
  height: 40px;
}
#comp-kli6t92a1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli6t92d {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli6t92e {
  width: 192px;
  height: 52px;
}
#comp-kli6t92i2 {
  width: 192px;
  height: 52px;
}
#comp-kli6t92k {
  width: 192px;
  height: 52px;
}
#comp-kli6t92m {
  width: 192px;
  height: 52px;
}
#comp-kli6t92o {
  width: 192px;
  height: 52px;
}
#comp-kli6t92p1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli6t92q1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli6t92r1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kli6t8xt {
  width: 136px;
  height: 135px;
}
#comp-kli6t8xz1 {
  width: 5px;
  height: 246px;
}
#comp-kli6t8y11 {
  width: 5px;
  height: 246px;
}
#comp-kli6t8y3 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yd {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yf {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yh {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yj {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yl1 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yn1 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yp1 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yr1 {
  width: 20px;
  height: 19px;
}
#comp-kll56q69 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yv2 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8yy {
  width: 20px;
  height: 19px;
}
#comp-kli6t8z0 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8z2 {
  width: 20px;
  height: 19px;
}
#comp-kli6t8z41 {
  width: 20px;
  height: 19px;
}
#comp-kmdp439t {
  width: 600px;
  height: 290px;
}
#comp-kli6t8zh {
  width: 382px;
  height: 245px;
}
#comp-kli6t8zn1 {
  width: 320px;
  height: 232px;
}
#comp-kli6t8zr {
  width: 20px;
  height: 19px;
}
#comp-kli6t8zt {
  width: 20px;
  height: 19px;
}
#comp-kli6t8zv {
  width: 20px;
  height: 19px;
}
#comp-kli6t8zw2 {
  width: 20px;
  height: 19px;
}
#comp-kli6t901 {
  width: 20px;
  height: 19px;
}
#comp-kli6t903 {
  width: 20px;
  height: 19px;
}
#comp-kli6t9042 {
  width: 20px;
  height: 19px;
}
#comp-kli6t9061 {
  width: 20px;
  height: 19px;
}
#comp-kll577ly {
  width: 20px;
  height: 19px;
}
#comp-kll57j9f {
  width: 20px;
  height: 19px;
}
#comp-kli6t90o1 {
  width: 979px;
  height: 96px;
  scroll-margin-top: 100px;
}
#comp-kli6t90q {
  width: 979px;
  height: 173px;
}
#comp-kli6t90r1 {
  width: 979px;
  height: 5px;
}
#comp-kli6t90w {
  width: 979px;
  height: 269px;
  scroll-margin-top: 95px;
}
#comp-kli6t9102 {
  width: 123px;
  height: 40px;
}
#comp-kli6t913 {
  width: 979px;
  height: 5px;
}
#comp-kli6t9141 {
  width: 979px;
  height: 96px;
  scroll-margin-top: 95px;
}
#comp-kli6t91o1 {
  width: 979px;
  height: 5px;
}
#comp-kli6t91r {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-kli6t91s1 {
  width: 979px;
  height: 5px;
}
#comp-kli6t91u {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-kli6t9211 {
  width: 121px;
  height: 40px;
}
#comp-kli6t927 {
  width: 121px;
  height: 40px;
}
#comp-kli6t9282 {
  width: 121px;
  height: 40px;
}
#comp-kli6t9171 {
  width: 58px;
  height: 40px;
}
#comp-kli6t9192 {
  width: 151px;
  height: 45px;
}
#comp-kli6t91d1 {
  width: 43px;
  height: 40px;
}
#comp-kli6t91g2 {
  width: 151px;
  height: 45px;
}
#comp-kli6t91k {
  width: 32px;
  height: 40px;
}
#comp-kli6t91m {
  width: 143px;
  height: 46px;
}
#yip46 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kli6t8vx {
  width: 980px;
}
#comp-kli6t8za {
  width: 980px;
}
#comp-kli6t90e1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kli6t8x1 {
  width: 980px;
}
#comp-kli6t8zd {
  width: 980px;
}
#comp-kli6t90j2 {
  width: 980px;
}
#comp-kli6t916 {
  width: 223px;
}
#comp-kli6t91b2 {
  width: 223px;
}
#comp-kli6t91i1 {
  width: 223px;
}
#comp-kljrs2pt-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kli6t92e .style-klv7k7b6__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kli6t92e .style-klv7k7b6__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kli6t92e .style-klv7k7b6__root:disabled {
  background: #e2e2e2;
}

#comp-kli6t92e .style-klv7k7b6__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t92e .style-klv7k7b6__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t92e .style-klv7k7b6__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kli6t92e .style-klv7k7b6__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kli6t92e .style-klv7k7b6__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kli6t92e .style-klv7k7b6__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kli6t92e .style-klv7k7b6__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t92i2 .style-klv7kd2z__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t92i2 .style-klv7kd2z__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kli6t92i2 .style-klv7kd2z__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kli6t92i2 .style-klv7kd2z__root:disabled {
  background: #e2e2e2;
}

#comp-kli6t92i2
  .style-klv7kd2z__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t92i2 .style-klv7kd2z__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t92i2 .style-klv7kd2z__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kli6t92i2 .style-klv7kd2z__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  font-family: nimbus-sans-tw01con, sans-serif;
}

#comp-kli6t92i2 .style-klv7kd2z__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kli6t92i2 .style-klv7kd2z__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kli6t92i2 .style-klv7kd2z__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t92k .style-klv7kjlg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t92k .style-klv7kjlg__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kli6t92k .style-klv7kjlg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kli6t92k .style-klv7kjlg__root:disabled {
  background: #e2e2e2;
}

#comp-kli6t92k .style-klv7kjlg__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t92k .style-klv7kjlg__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t92k .style-klv7kjlg__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kli6t92k .style-klv7kjlg__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kli6t92k .style-klv7kjlg__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kli6t92k .style-klv7kjlg__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kli6t92k .style-klv7kjlg__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t92m .style-klv7ksog__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t92m .style-klv7ksog__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kli6t92m .style-klv7ksog__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kli6t92m .style-klv7ksog__root:disabled {
  background: #e2e2e2;
}

#comp-kli6t92m .style-klv7ksog__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t92m .style-klv7ksog__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t92m .style-klv7ksog__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kli6t92m .style-klv7ksog__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kli6t92m .style-klv7ksog__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kli6t92m .style-klv7ksog__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t92o .style-klv7kz6o__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t92o .style-klv7kz6o__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kli6t92o .style-klv7kz6o__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kli6t92o .style-klv7kz6o__root:disabled {
  background: #e2e2e2;
}

#comp-kli6t92o .style-klv7kz6o__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t92o .style-klv7kz6o__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t92o .style-klv7kz6o__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kli6t92o .style-klv7kz6o__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kli6t92o .style-klv7kz6o__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kli6t92o .style-klv7kz6o__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kli6t92o .style-klv7kz6o__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t9211 .style-klv7mdot__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t9211 .style-klv7mdot__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kli6t9211 .style-klv7mdot__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kli6t9211 .style-klv7mdot__root[disabled] {
  background: #e2e2e2;
}

#comp-kli6t9211
  .style-klv7mdot__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t9211
  .style-klv7mdot__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t9211 .style-klv7mdot__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kli6t9211 .style-klv7mdot__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kli6t9211 .style-klv7mdot__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t927 .style-klv7mkxp__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t927 .style-klv7mkxp__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kli6t927 .style-klv7mkxp__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kli6t927 .style-klv7mkxp__root[disabled] {
  background: #e2e2e2;
}

#comp-kli6t927
  .style-klv7mkxp__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t927 .style-klv7mkxp__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t927 .style-klv7mkxp__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kli6t927 .style-klv7mkxp__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kli6t927 .style-klv7mkxp__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kli6t9282 .style-klv7mqmt__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kli6t9282 .style-klv7mqmt__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kli6t9282 .style-klv7mqmt__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kli6t9282 .style-klv7mqmt__root[disabled] {
  background: #e2e2e2;
}

#comp-kli6t9282
  .style-klv7mqmt__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kli6t9282
  .style-klv7mqmt__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kli6t9282 .style-klv7mqmt__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kli6t9282 .style-klv7mqmt__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kli6t9282 .style-klv7mqmt__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kli6t9171 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kli6t91d1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kli6t91k svg [data-color="1"] {
  fill: #454a6e;
}
