._10k60 {
  box-sizing: border-box;
  border-top: var(--lnw, 2px) solid
    rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
  height: 0;
}

._3ucik {
  --container-corvid-border-color: rgba(
    var(--brd, var(--color_15)),
    var(--alpha-brd, 1)
  );
  --container-corvid-border-size: var(--brw, 1px);
  --container-corvid-background-color: rgba(
    var(--bg, var(--color_11)),
    var(--alpha-bg, 1)
  );
}
._15Xjo {
  border: var(--container-corvid-border-width, var(--brw, 1px)) solid
    var(
      --container-corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    );
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
  border-radius: var(--rd, 5px);
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._2_Pya {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
._1s0Ge {
  transition: 0.2s ease-in;
  transform: translateY(-100%);
}
._3-JNd {
  transition: 0.2s;
  transform: translateY(0);
}
.FxFZJ {
  transition: 0.2s ease-in;
  opacity: 0;
}
.FxFZJ._3wrTP {
  z-index: -1 !important;
}
.lSyDa {
  transition: 0.2s;
  opacity: 1;
}
._1jI8r {
  height: auto;
}
._1jI8r,
._2qN73 {
  position: relative;
  width: 100%;
}
body:not(.device-mobile-optimized) ._1M8CM {
  margin-left: calc((100% - var(--site-width)) / 2);
  width: var(--site-width);
}
.UZpZM[data-focuscycled="active"] {
  outline: 1px solid transparent;
}
.UZpZM[data-focuscycled="active"]:not(:focus-within) {
  outline: 2px solid transparent;
  transition: outline 0.01s ease;
}
._17W7D,
.UZpZM ._1M8CM {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.s0eeT {
  cursor: pointer;
}
.TG-Zk {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: var(--opacity);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  stroke: var(--stroke);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  transform: var(--flip);
  filter: var(--drop-shadow, none);
}
.TG-Zk,
.TG-Zk svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.TG-Zk svg {
  width: var(--svg-calculated-width, 100%);
  height: var(--svg-calculated-height, 100%);
  padding: var(--svg-calculated-padding, 0);
  margin: auto;
}
._1UnNA * {
  vector-effect: non-scaling-stroke;
}
._27iav svg,
._37OKp svg {
  overflow: visible !important;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .TG-Zk._37OKp {
      will-change: filter;
    }
  }
}
._2HrZd {
  opacity: 0;
}
._2fuJI {
  transition: opacity var(--transition-duration) cubic-bezier(0.37, 0, 0.63, 1);
}
._2fuJI,
.g0xNe {
  opacity: 1;
}
.PeTAs {
  transition: opacity var(--transition-duration) cubic-bezier(0.37, 0, 0.63, 1);
}
._1IGjY,
.PeTAs {
  opacity: 0;
}
.Ic0Mb {
  transition: opacity var(--transition-duration) cubic-bezier(0.64, 0, 0.78, 0);
}
.Ic0Mb,
.WjNI2 {
  opacity: 1;
}
.Y5LuX {
  opacity: 0;
  transition: opacity var(--transition-duration) cubic-bezier(0.22, 1, 0.36, 1);
}
._3P3IS {
  transform: translateX(100%);
}
._1vZD6 {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1vZD6,
.AM-g_ {
  transform: translateX(0);
}
._1MVJv {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1MVJv,
._2uVRM {
  transform: translateX(-100%);
}
._2kt-u {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._2kt-u,
._3f6Db {
  transform: translateX(0);
}
._3u3Qg {
  transform: translateX(100%);
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._2LoMk {
  transform: translateY(100%);
}
._3VRRq {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._3VRRq,
._8b5uM {
  transform: translateY(0);
}
._1c8N5 {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1c8N5,
._1SRt2 {
  transform: translateY(-100%);
}
.mMep- {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._3jOkM,
.mMep- {
  transform: translateY(0);
}
._1hGK7 {
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
.StylableButton1872886392__root {
  -archetype: box;
  cursor: pointer;
  border: none;
  display: block;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
}
.StylableButton1872886392__root[disabled] {
  pointer-events: none;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBackgroundColor {
  background-color: var(--corvid-background-color) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderColor {
  border-color: var(--corvid-border-color) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderRadius {
  border-radius: var(--corvid-border-radius) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderWidth {
  border-width: var(--corvid-border-width) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasColor,
.StylableButton1872886392__root.StylableButton1872886392--hasColor
  .StylableButton1872886392__label {
  color: var(--corvid-color) !important;
}
.StylableButton1872886392__link {
  -archetype: box;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}
.StylableButton1872886392__container {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease, visibility 0s;
}
.StylableButton1872886392__label {
  -archetype: text;
  -controller-part-type: LayoutChildDisplayDropdown,
    LayoutFlexChildSpacing(first);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  min-width: 1.8em;
  max-width: 100%;
  transition: inherit;
}
.StylableButton1872886392__icon {
  -archetype: icon;
  -controller-part-type: LayoutChildDisplayDropdown,
    LayoutFlexChildSpacing(last);
  min-width: 1px;
  height: 50px;
  transition: inherit;
  flex-shrink: 0;
}
.StylableButton1872886392__icon > div,
.StylableButton1872886392__icon svg {
  display: flex;
  width: inherit;
  height: inherit;
}
ol.font_100,
ul.font_100 {
  color: #080808;
  font-family: "Arial, Helvetica, sans-serif", serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
}
ol.font_100 li,
ul.font_100 li {
  margin-bottom: 12px;
}
ol.wix-list-text-align,
ul.wix-list-text-align {
  list-style-position: inside;
}
ol.wix-list-text-align h1,
ol.wix-list-text-align h2,
ol.wix-list-text-align h3,
ol.wix-list-text-align h4,
ol.wix-list-text-align h5,
ol.wix-list-text-align h6,
ol.wix-list-text-align p,
ul.wix-list-text-align h1,
ul.wix-list-text-align h2,
ul.wix-list-text-align h3,
ul.wix-list-text-align h4,
ul.wix-list-text-align h5,
ul.wix-list-text-align h6,
ul.wix-list-text-align p {
  display: inline;
}
._2tuyK {
  cursor: pointer;
}
.XcBF6 {
  min-height: var(--min-height);
}
.XcBF6 ._1cEyW {
  position: relative;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.XcBF6 ._1cEyW ul {
  list-style: disc inside;
}
.XcBF6 ._1cEyW li {
  margin-bottom: 12px;
}
._2bafp blockquote,
._2bafp h1,
._2bafp h2,
._2bafp h3,
._2bafp h4,
._2bafp h5,
._2bafp h6,
._2bafp p {
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X {
  min-height: var(--min-height);
}
.lJm9X ._1cEyW {
  position: relative;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.lJm9X ._1cEyW ol,
.lJm9X ._1cEyW ul {
  padding-left: 1.3em;
  margin-left: 0.5em;
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X ._1cEyW ol[dir="rtl"],
.lJm9X ._1cEyW ul[dir="rtl"] {
  padding-right: 1.3em;
  margin-right: 0.5em;
}
.lJm9X ._1cEyW ul {
  list-style-type: disc;
}
.lJm9X ._1cEyW ol {
  list-style-type: decimal;
}
.lJm9X ._1cEyW ol[dir="rtl"],
.lJm9X ._1cEyW ul[dir="rtl"] {
  padding-right: 1.3em;
  margin-right: 0.5em;
}
.lJm9X ._1cEyW ol ul,
.lJm9X ._1cEyW ul ul {
  list-style-type: circle;
  line-height: normal;
}
.lJm9X ._1cEyW ol ol ul,
.lJm9X ._1cEyW ol ul ul,
.lJm9X ._1cEyW ul ol ul,
.lJm9X ._1cEyW ul ul ul {
  list-style-type: square;
  line-height: normal;
}
.lJm9X ._1cEyW li {
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
.lJm9X ._1cEyW h1,
.lJm9X ._1cEyW h2,
.lJm9X ._1cEyW h3,
.lJm9X ._1cEyW h4,
.lJm9X ._1cEyW h5,
.lJm9X ._1cEyW h6,
.lJm9X ._1cEyW p {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X ._1cEyW a {
  color: inherit;
}
._2bafp,
.afVXQ {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  pointer-events: none;
  min-height: var(--min-height);
}
._2bafp > *,
.afVXQ > * {
  pointer-events: auto;
}
._2bafp li,
.afVXQ li {
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
._2bafp ol,
._2bafp ul,
.afVXQ ol,
.afVXQ ul {
  padding-left: 1.3em;
  padding-right: 0;
  margin-left: 0.5em;
  margin-right: 0;
  line-height: normal;
  letter-spacing: normal;
}
._2bafp ul,
.afVXQ ul {
  list-style-type: disc;
}
._2bafp ol,
.afVXQ ol {
  list-style-type: decimal;
}
._2bafp ol ul,
._2bafp ul ul,
.afVXQ ol ul,
.afVXQ ul ul {
  list-style-type: circle;
}
._2bafp ol ol ul,
._2bafp ol ul ul,
._2bafp ul ol ul,
._2bafp ul ul ul,
.afVXQ ol ol ul,
.afVXQ ol ul ul,
.afVXQ ul ol ul,
.afVXQ ul ul ul {
  list-style-type: square;
}
._2bafp ol[dir="rtl"],
._2bafp ol[dir="rtl"] ol,
._2bafp ol[dir="rtl"] ul,
._2bafp ul[dir="rtl"],
._2bafp ul[dir="rtl"] ol,
._2bafp ul[dir="rtl"] ul,
.afVXQ ol[dir="rtl"],
.afVXQ ol[dir="rtl"] ol,
.afVXQ ol[dir="rtl"] ul,
.afVXQ ul[dir="rtl"],
.afVXQ ul[dir="rtl"] ol,
.afVXQ ul[dir="rtl"] ul {
  padding-left: 0;
  padding-right: 1.3em;
  margin-left: 0;
  margin-right: 0.5em;
}
._2bafp blockquote,
._2bafp h1,
._2bafp h2,
._2bafp h3,
._2bafp h4,
._2bafp h5,
._2bafp h6,
._2bafp p,
.afVXQ blockquote,
.afVXQ h1,
.afVXQ h2,
.afVXQ h3,
.afVXQ h4,
.afVXQ h5,
.afVXQ h6,
.afVXQ p {
  margin: 0;
}
._2bafp a,
.afVXQ a {
  color: inherit;
}
.GFY_- {
  pointer-events: none;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
._2Yk_Z {
  cursor: pointer;
}
._3tDhR {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
._3tDhR > div {
  justify-self: stretch !important;
  align-self: stretch !important;
}
._2oJTp {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - var(--wix-ads-height));
  margin-top: var(--wix-ads-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
._1PGFM,
._2oJTp {
  pointer-events: none;
  z-index: var(--pinned-layer-in-container, var(--above-all-in-container));
}
[data-mesh-id="comp-kmkmc75minlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc75u"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc75y"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc760"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76b"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76d"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76f"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76i"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76k"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76o2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76q2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76s2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76u2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc76y"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc771"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc7732"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc7752"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc7771"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc75minlineContent-gridContainer"]
  > [id="comp-kmkmc7791"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77l"] {
  position: relative;
  margin: 13px 0px 27px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77m1"] {
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77o"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77q"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77s"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77u3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77w3"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc77z1"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc7821"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc7851"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc789"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc77ginlineContent-gridContainer"]
  > [id="comp-kmkmc78d"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79h"] {
  position: relative;
  margin: 46px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79j"] {
  position: relative;
  margin: 46px 0px 10px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79m"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79o"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79t"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc79x"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7a01"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7a3"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7a6"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7af"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7ak"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7ap"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7ar"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7at"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7aw1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7b3"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7b9"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7952inlineContent-gridContainer"]
  > [id="comp-kmkmc7bb1"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7a6inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmkmc7a6inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc7a6inlineContent-gridContainer"]
  > [id="comp-kmkmc7a8"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7a6inlineContent-gridContainer"]
  > [id="comp-kmkmc7aa1"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7afinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmkmc7afinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc7afinlineContent-gridContainer"]
  > [id="comp-kmkmc7ah"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7afinlineContent-gridContainer"]
  > [id="comp-kmkmc7ai2"] {
  position: relative;
  margin: 0px 0px 10px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7akinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmkmc7akinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmkmc7akinlineContent-gridContainer"]
  > [id="comp-kmkmc7al2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmkmc7akinlineContent-gridContainer"]
  > [id="comp-kmkmc7an2"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 3104px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc752"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc75b"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc77c2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc78h"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc78n"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc78w"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bd"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bg"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bh1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bj"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bk1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bm"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bo"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bq"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7br"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-gridContainer"]
  > [id="comp-kmkmc7bs1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containeryb4fcinlineContent-wedge-8"] {
  visibility: hidden;
  height: 794px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containeryb4fcinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1421px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containeryb4fcinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1698px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containeryb4fcinlineContent-wedge-14"] {
  visibility: hidden;
  height: 2017px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-kmkmc78r {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmkmc752 {
  width: 328px;
  height: 38px;
}
#comp-kmkmc78h {
  width: 136px;
  height: 40px;
}
#comp-kmkmc78n {
  width: 136px;
  height: 135px;
}
#comp-kmkmc7bd {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmc7bg {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmc7bh1 {
  width: 192px;
  height: 52px;
}
#comp-kmkmc7bj {
  width: 192px;
  height: 52px;
}
#comp-kmkmc7bk1 {
  width: 192px;
  height: 52px;
}
#comp-kmkmc7bm {
  width: 192px;
  height: 52px;
}
#comp-kmkmc7bo {
  width: 192px;
  height: 52px;
}
#comp-kmkmc7bq {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmc7br {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmc7bs1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmkmc75u {
  width: 5px;
  height: 246px;
}
#comp-kmkmc75y {
  width: 5px;
  height: 246px;
}
#comp-kmkmc760 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76b {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76d {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76f {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76i {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76k {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76o2 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76q2 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76s2 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76u2 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc76y {
  width: 20px;
  height: 19px;
}
#comp-kmkmc771 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7732 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7752 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7771 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7791 {
  width: 600px;
  height: 290px;
}
#comp-kmkmc77l {
  width: 382px;
  height: 245px;
}
#comp-kmkmc77m1 {
  width: 320px;
  height: 232px;
}
#comp-kmkmc77o {
  width: 20px;
  height: 19px;
}
#comp-kmkmc77q {
  width: 20px;
  height: 19px;
}
#comp-kmkmc77s {
  width: 20px;
  height: 19px;
}
#comp-kmkmc77u3 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc77w3 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc77z1 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7821 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc7851 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc789 {
  width: 20px;
  height: 19px;
}
#comp-kmkmc78d {
  width: 20px;
  height: 19px;
}
#comp-kmkmc79h {
  width: 224px;
  height: 115px;
}
#comp-kmkmc79j {
  width: 261px;
  height: 121px;
}
#comp-kmkmc79m {
  width: 979px;
  height: 541px;
  scroll-margin-top: 100px;
}
#comp-kmkmc79o {
  width: 979px;
  height: 5px;
}
#comp-kmkmc79t {
  width: 979px;
  height: 525px;
  scroll-margin-top: 100px;
}
#comp-kmkmc79x {
  width: 123px;
  height: 40px;
}
#comp-kmkmc7a01 {
  width: 979px;
  height: 5px;
}
#comp-kmkmc7a3 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-kmkmc7ap {
  width: 979px;
  height: 5px;
}
#comp-kmkmc7ar {
  width: 979px;
  height: 269px;
  scroll-margin-top: 100px;
}
#comp-kmkmc7at {
  width: 979px;
  height: 5px;
}
#comp-kmkmc7aw1 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-kmkmc7b3 {
  width: 121px;
  height: 40px;
}
#comp-kmkmc7b9 {
  width: 121px;
  height: 40px;
}
#comp-kmkmc7bb1 {
  width: 121px;
  height: 40px;
}
#comp-kmkmc7a8 {
  width: 58px;
  height: 40px;
}
#comp-kmkmc7aa1 {
  width: 194px;
  height: 43px;
}
#comp-kmkmc7ah {
  width: 43px;
  height: 40px;
}
#comp-kmkmc7ai2 {
  width: 207px;
  height: 67px;
}
#comp-kmkmc7al2 {
  width: 32px;
  height: 40px;
}
#comp-kmkmc7an2 {
  width: 207px;
  height: 43px;
}
#yb4fc {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmkmc75b {
  width: 980px;
}
#comp-kmkmc77c2 {
  width: 980px;
}
#comp-kmkmc78w {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmkmc75m {
  width: 980px;
}
#comp-kmkmc77g {
  width: 980px;
}
#comp-kmkmc7952 {
  width: 980px;
}
#comp-kmkmc7a6 {
  width: 223px;
}
#comp-kmkmc7af {
  width: 223px;
}
#comp-kmkmc7ak {
  width: 223px;
}
#comp-kmkmc78r-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}
.mlsxv {
  background-color: var(--bg-overlay-color);
}
._22Lsw,
.X-jRX {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
._1IGJ5 ._1AFfW {
  margin-left: calc(-0.5 * var(--lnw, 3px));
  width: 100%;
}
._1IGJ5 ._1AFfW {
  border-left: var(--lnw, 3px) solid
    rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
  height: 100%;
}
#comp-kmkmc79o {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmkmc752 {
  height: auto;
}
#comp-kmkmc78h {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmkmc78n {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kmkmc78r {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kmkmc75u {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmkmc75y {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmkmc760 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76b {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76d {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76f {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76i {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76k {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76o2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76q2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76s2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76u2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc76y {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc771 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7732 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7752 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7771 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7791 {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kmkmc77l {
  --min-height: 185px;
  height: auto;
}
#comp-kmkmc77m1 {
  --min-height: 210px;
  height: auto;
}
#comp-kmkmc77o {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc77q {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc77s {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc77u3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc77w3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc77z1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7821 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc7851 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc789 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc78d {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmkmc79h {
  height: auto;
}
#comp-kmkmc79j {
  --min-height: 121px;
  height: auto;
}
#comp-kmkmc79m {
  --min-height: 307px;
  height: auto;
}
#comp-kmkmc79o {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmkmc79t {
  --min-height: 324px;
  height: auto;
}
#comp-kmkmc79x {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmkmc7a01 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmkmc7a3 {
  --min-height: 78px;
  height: auto;
}
#comp-kmkmc7ap {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmkmc7ar {
  --min-height: 121px;
  height: auto;
}
#comp-kmkmc7at {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmkmc7a8 {
  --opacity: 1;
}
#comp-kmkmc7aa1 {
  height: auto;
}
#comp-kmkmc7ah {
  --opacity: 1;
}
#comp-kmkmc7ai2 {
  --min-height: 67px;
  height: auto;
}
#comp-kmkmc7al2 {
  --opacity: 1;
}
#comp-kmkmc7an2 {
  height: auto;
}
#yb4fc {
  width: auto;
  /* min-height: 3104px; */
}
#comp-kmkmc75b {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
}
#comp-kmkmc77c2 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
}
#comp-kmkmc78w {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
}
#comp-kmkmc75m {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmkmc77g {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmkmc7952 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmkmc7a6 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmkmc7af {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmkmc7ak {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_yb4fc {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bh1 .style-kmkmc7bi1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bh1 .style-kmkmc7bi1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root:hover .StylableButton1872886392__label {
  color: #ffffff;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root:disabled {
  background: #e2e2e2;
}

#comp-kmkmc7bh1
  .style-kmkmc7bi1__root:disabled
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bh1
  .style-kmkmc7bi1__root:disabled
  .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root .StylableButton1872886392__container {
  transition: inherit;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root .StylableButton1872886392__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root .StylableButton1872886392__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmkmc7bh1 .style-kmkmc7bi1__root:hover .StylableButton1872886392__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmkmc7bh1 .style-kmkmc7bi1__root .StylableButton1872886392__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bj .style-kmkmc7bj4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bj .style-kmkmc7bj4__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root:hover .StylableButton1872886392__label {
  color: #ffffff;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root:disabled {
  background: #e2e2e2;
}

#comp-kmkmc7bj
  .style-kmkmc7bj4__root:disabled
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root:disabled .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root .StylableButton1872886392__container {
  transition: inherit;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root .StylableButton1872886392__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root .StylableButton1872886392__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmkmc7bj .style-kmkmc7bj4__root:hover .StylableButton1872886392__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmkmc7bj .style-kmkmc7bj4__root .StylableButton1872886392__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bk1 .style-kmkmc7bl1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bk1 .style-kmkmc7bl1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root:hover .StylableButton1872886392__label {
  color: #ffffff;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root:disabled {
  background: #e2e2e2;
}

#comp-kmkmc7bk1
  .style-kmkmc7bl1__root:disabled
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bk1
  .style-kmkmc7bl1__root:disabled
  .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root .StylableButton1872886392__container {
  transition: inherit;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root .StylableButton1872886392__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root .StylableButton1872886392__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmkmc7bk1 .style-kmkmc7bl1__root:hover .StylableButton1872886392__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmkmc7bk1 .style-kmkmc7bl1__root .StylableButton1872886392__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bm .style-kmkmc7bn__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bm .style-kmkmc7bn__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmkmc7bm .style-kmkmc7bn__root:hover .StylableButton1872886392__label {
  color: #ffffff;
}

#comp-kmkmc7bm .style-kmkmc7bn__root:disabled {
  background: #e2e2e2;
}

#comp-kmkmc7bm .style-kmkmc7bn__root:disabled .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bm .style-kmkmc7bn__root:disabled .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bm .style-kmkmc7bn__root .StylableButton1872886392__container {
  transition: inherit;
}

#comp-kmkmc7bm .style-kmkmc7bn__root .StylableButton1872886392__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmkmc7bm .style-kmkmc7bn__root .StylableButton1872886392__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmkmc7bm .style-kmkmc7bn__root:hover .StylableButton1872886392__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bo .style-kmkmc7bp2__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bo .style-kmkmc7bp2__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root:hover .StylableButton1872886392__label {
  color: #ffffff;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root:disabled {
  background: #e2e2e2;
}

#comp-kmkmc7bo
  .style-kmkmc7bp2__root:disabled
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root:disabled .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root .StylableButton1872886392__container {
  transition: inherit;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root .StylableButton1872886392__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root .StylableButton1872886392__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmkmc7bo .style-kmkmc7bp2__root:hover .StylableButton1872886392__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmkmc7bo .style-kmkmc7bp2__root .StylableButton1872886392__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7b3 .style-kmkmc7b81__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7b3 .style-kmkmc7b81__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmkmc7b3 .style-kmkmc7b81__root:hover .StylableButton1872886392__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmkmc7b3 .style-kmkmc7b81__root[disabled] {
  background: #e2e2e2;
}

#comp-kmkmc7b3
  .style-kmkmc7b81__root[disabled]
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7b3
  .style-kmkmc7b81__root[disabled]
  .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7b3 .style-kmkmc7b81__root .StylableButton1872886392__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmkmc7b3 .style-kmkmc7b81__root .StylableButton1872886392__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmkmc7b3 .style-kmkmc7b81__root .StylableButton1872886392__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7b9 .style-kmkmc7ba4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7b9 .style-kmkmc7ba4__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmkmc7b9 .style-kmkmc7ba4__root:hover .StylableButton1872886392__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmkmc7b9 .style-kmkmc7ba4__root[disabled] {
  background: #e2e2e2;
}

#comp-kmkmc7b9
  .style-kmkmc7ba4__root[disabled]
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7b9
  .style-kmkmc7ba4__root[disabled]
  .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7b9 .style-kmkmc7ba4__root .StylableButton1872886392__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmkmc7b9 .style-kmkmc7ba4__root .StylableButton1872886392__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmkmc7b9 .style-kmkmc7ba4__root .StylableButton1872886392__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bb1 .style-kmkmc7bc3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmkmc7bb1 .style-kmkmc7bc3__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmkmc7bb1 .style-kmkmc7bc3__root:hover .StylableButton1872886392__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmkmc7bb1 .style-kmkmc7bc3__root[disabled] {
  background: #e2e2e2;
}

#comp-kmkmc7bb1
  .style-kmkmc7bc3__root[disabled]
  .StylableButton1872886392__label {
  color: #8f8f8f;
}

#comp-kmkmc7bb1
  .style-kmkmc7bc3__root[disabled]
  .StylableButton1872886392__icon {
  fill: #8f8f8f;
}

#comp-kmkmc7bb1 .style-kmkmc7bc3__root .StylableButton1872886392__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmkmc7bb1 .style-kmkmc7bc3__root .StylableButton1872886392__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmkmc7bb1 .style-kmkmc7bc3__root .StylableButton1872886392__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}
#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kmkmc7a8 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmkmc7ah svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmkmc7al2 svg [data-color="1"] {
  fill: #454a6e;
}
