#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klkvfltk2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klkvfltq1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klkvfltw svg [data-color="1"] {
  fill: #454a6e;
}
[data-mesh-id="comp-klkvflql1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflqt1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflqw"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflqx2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflr12"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflr31"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflr72"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflr92"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrb"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrd"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflre3"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrg1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflri"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrj2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrl"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrn"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrp"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-klkvflrr"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflql1inlineContent-gridContainer"]
  > [id="comp-kmdprkj7"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvfls41"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvfls7"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvfls81"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsa"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsc"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsd2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsg"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsi"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsk"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsm"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflso"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflrzinlineContent-gridContainer"]
  > [id="comp-klkvflsp2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflt5"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflt61"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflt72"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflt91"] {
  position: relative;
  margin: 0px 0px 19px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflta2"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvfltc"] {
  position: relative;
  margin: 1035px 0px 58px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflte"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvfltf"] {
  position: relative;
  margin: 0px 0px -18px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvfltj"] {
  position: relative;
  margin: 0px 0px 67px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvfltp"] {
  position: relative;
  margin: 0px 0px 66px calc((100% - 980px) * 0.5);
  left: 380px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvfltt1"] {
  position: relative;
  margin: 0px 0px 66px calc((100% - 980px) * 0.5);
  left: 635px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflu1"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflu3"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkwjhpt"] {
  position: relative;
  margin: 185px 0px 10px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflu5"] {
  position: relative;
  margin: 0px 0px 45px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflu63"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflu9"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 91px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflub1"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvflt0inlineContent-gridContainer"]
  > [id="comp-klkvflud"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 771px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltjinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkvfltjinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvfltjinlineContent-gridContainer"]
  > [id="comp-klkvfltk2"] {
  position: relative;
  margin: 16px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltjinlineContent-gridContainer"]
  > [id="comp-klkvfltm2"] {
  position: relative;
  margin: 0px 0px 20px 0;
  left: 32px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltpinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkvfltpinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvfltpinlineContent-gridContainer"]
  > [id="comp-klkvfltq1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltpinlineContent-gridContainer"]
  > [id="comp-klkvflts"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltt1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkvfltt1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkvfltt1inlineContent-gridContainer"]
  > [id="comp-klkvfltw"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkvfltt1inlineContent-gridContainer"]
  > [id="comp-klkvfltz"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-kmag38b3"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflqg"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflrw"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflsr"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflst"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflsx"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluf1"] {
  position: relative;
  margin: 11px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflug2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluh2"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluj"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluk2"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflum"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflun1"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluo2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvflup2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-gridContainer"]
  > [id="comp-klkvfluq1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containere2x1binlineContent-wedge-8"] {
  visibility: hidden;
  height: 435px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containere2x1binlineContent-wedge-10"] {
  visibility: hidden;
  height: 1732px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containere2x1binlineContent-wedge-12"] {
  visibility: hidden;
  height: 2022px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containere2x1binlineContent-wedge-14"] {
  visibility: hidden;
  height: 2917px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klkvflsv {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag38b3 {
  width: 310px;
  height: 38px;
}
#comp-klkvflsr {
  width: 136px;
  height: 40px;
}
#comp-klkvflst {
  width: 136px;
  height: 135px;
}
#comp-klkvfluf1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkvflug2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkvfluh2 {
  width: 192px;
  height: 52px;
}
#comp-klkvfluj {
  width: 192px;
  height: 52px;
}
#comp-klkvfluk2 {
  width: 192px;
  height: 52px;
}
#comp-klkvflum {
  width: 192px;
  height: 52px;
}
#comp-klkvflun1 {
  width: 192px;
  height: 52px;
}
#comp-klkvfluo2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkvflup2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkvfluq1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkvflqt1 {
  width: 5px;
  height: 246px;
}
#comp-klkvflqw {
  width: 5px;
  height: 246px;
}
#comp-klkvflqx2 {
  width: 20px;
  height: 19px;
}
#comp-klkvflr12 {
  width: 20px;
  height: 19px;
}
#comp-klkvflr31 {
  width: 20px;
  height: 19px;
}
#comp-klkvflr72 {
  width: 20px;
  height: 19px;
}
#comp-klkvflr92 {
  width: 20px;
  height: 19px;
}
#comp-klkvflrb {
  width: 20px;
  height: 19px;
}
#comp-klkvflrd {
  width: 20px;
  height: 19px;
}
#comp-klkvflre3 {
  width: 20px;
  height: 19px;
}
#comp-klkvflrg1 {
  width: 20px;
  height: 19px;
}
#comp-klkvflri {
  width: 20px;
  height: 19px;
}
#comp-klkvflrj2 {
  width: 20px;
  height: 19px;
}
#comp-klkvflrl {
  width: 20px;
  height: 19px;
}
#comp-klkvflrn {
  width: 20px;
  height: 19px;
}
#comp-klkvflrp {
  width: 20px;
  height: 19px;
}
#comp-klkvflrr {
  width: 20px;
  height: 19px;
}
#comp-kmdprkj7 {
  width: 600px;
  height: 290px;
}
#comp-klkvfls41 {
  width: 382px;
  height: 245px;
}
#comp-klkvfls7 {
  width: 320px;
  height: 232px;
}
#comp-klkvfls81 {
  width: 20px;
  height: 19px;
}
#comp-klkvflsa {
  width: 20px;
  height: 19px;
}
#comp-klkvflsc {
  width: 20px;
  height: 19px;
}
#comp-klkvflsd2 {
  width: 20px;
  height: 19px;
}
#comp-klkvflsg {
  width: 20px;
  height: 19px;
}
#comp-klkvflsi {
  width: 20px;
  height: 19px;
}
#comp-klkvflsk {
  width: 20px;
  height: 19px;
}
#comp-klkvflsm {
  width: 20px;
  height: 19px;
}
#comp-klkvflso {
  width: 20px;
  height: 19px;
}
#comp-klkvflsp2 {
  width: 20px;
  height: 19px;
}
#comp-klkvflt5 {
  width: 979px;
  height: 77px;
  scroll-margin-top: 100px;
}
#comp-klkvflt61 {
  width: 979px;
  height: 288px;
}
#comp-klkvflt72 {
  width: 979px;
  height: 5px;
}
#comp-klkvflt91 {
  width: 979px;
  height: 134px;
  scroll-margin-top: 95px;
}
#comp-klkvflta2 {
  width: 979px;
  height: 1119px;
}
#comp-klkvfltc {
  width: 123px;
  height: 40px;
}
#comp-klkvflte {
  width: 979px;
  height: 5px;
}
#comp-klkvfltf {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klkvflu1 {
  width: 979px;
  height: 5px;
}
#comp-klkvflu3 {
  width: 979px;
  height: 883px;
  scroll-margin-top: 95px;
}
#comp-klkwjhpt {
  width: 600px;
  height: 204px;
}
#comp-klkvflu5 {
  width: 979px;
  height: 5px;
}
#comp-klkvflu63 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klkvflu9 {
  width: 121px;
  height: 40px;
}
#comp-klkvflub1 {
  width: 121px;
  height: 40px;
}
#comp-klkvflud {
  width: 121px;
  height: 40px;
}
#comp-klkvfltk2 {
  width: 58px;
  height: 40px;
}
#comp-klkvfltm2 {
  width: 159px;
  height: 62px;
}
#comp-klkvfltq1 {
  width: 43px;
  height: 40px;
}
#comp-klkvflts {
  width: 151px;
  height: 43px;
}
#comp-klkvfltw {
  width: 32px;
  height: 40px;
}
#comp-klkvfltz {
  width: 143px;
  height: 43px;
}
#e2x1b {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klkvflqg {
  width: 980px;
}
#comp-klkvflrw {
  width: 980px;
}
#comp-klkvflsx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klkvflql1 {
  width: 980px;
}
#comp-klkvflrz {
  width: 980px;
}
#comp-klkvflt0 {
  width: 980px;
}
#comp-klkvfltj {
  width: 223px;
}
#comp-klkvfltp {
  width: 223px;
}
#comp-klkvfltt1 {
  width: 223px;
}
#comp-klkvflsv-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag38b3 {
  height: auto;
}
#comp-klkvflsr {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klkvflst {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klkvflsv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klkvflqt1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klkvflqw {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klkvflqx2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflr12 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflr31 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflr72 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflr92 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrd {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflre3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrg1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflri {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrj2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrl {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrn {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrp {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflrr {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdprkj7 {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klkvfls41 {
  --min-height: 185px;
  height: auto;
}
#comp-klkvfls7 {
  --min-height: 210px;
  height: auto;
}
#comp-klkvfls81 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsa {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsd2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsi {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsk {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsm {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflso {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflsp2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkvflt5 {
  height: auto;
}
#comp-klkvflt61 {
  height: auto;
}
#comp-klkvflt72 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkvflt91 {
  height: auto;
}
#comp-klkvflta2 {
  --min-height: 1119px;
  height: auto;
}
#comp-klkvfltc {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klkvflte {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkvfltf {
  --min-height: 78px;
  height: auto;
}
#comp-klkvflu1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkvflu3 {
  --min-height: 762px;
  height: auto;
}
#comp-klkwjhpt {
  --rd: 5px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 5px;
  --sizeRd: 5px;
  --sizeBrw: 5px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 5px;
  --contentPaddingRight: 5px;
  --contentPaddingBottom: 5px;
  --contentPaddingTop: 5px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 0;
  --alpha-bgh: 1;
  --height: 204px;
  --width: 600px;
}
#comp-klkvflu5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkvfltk2 {
  --opacity: 1;
}
#comp-klkvfltq1 {
  --opacity: 1;
}
#comp-klkvflts {
  height: auto;
}
#comp-klkvfltw {
  --opacity: 1;
}
#comp-klkvfltz {
  height: auto;
}
#e2x1b {
  width: auto;
  min-height: 2420px;
}
#comp-klkvflqg {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkvflrw {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkvflsx {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkvflql1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkvflrz {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkvflt0 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkvfltj {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klkvfltp {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klkvfltt1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_e2x1b {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvfluh2 .style-klv9wpqu__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvfluh2 .style-klv9wpqu__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkvfluh2 .style-klv9wpqu__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkvfluh2 .style-klv9wpqu__root:disabled {
  background: #e2e2e2;
}

#comp-klkvfluh2
  .style-klv9wpqu__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvfluh2 .style-klv9wpqu__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvfluh2 .style-klv9wpqu__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkvfluh2 .style-klv9wpqu__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkvfluh2 .style-klv9wpqu__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkvfluh2 .style-klv9wpqu__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkvfluh2 .style-klv9wpqu__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvfluj .style-klv9wvh1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvfluj .style-klv9wvh1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkvfluj .style-klv9wvh1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkvfluj .style-klv9wvh1__root:disabled {
  background: #e2e2e2;
}

#comp-klkvfluj .style-klv9wvh1__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvfluj .style-klv9wvh1__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvfluj .style-klv9wvh1__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkvfluj .style-klv9wvh1__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkvfluj .style-klv9wvh1__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkvfluj .style-klv9wvh1__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkvfluj .style-klv9wvh1__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvfluk2 .style-klv9x2ea__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvfluk2 .style-klv9x2ea__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkvfluk2 .style-klv9x2ea__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkvfluk2 .style-klv9x2ea__root:disabled {
  background: #e2e2e2;
}

#comp-klkvfluk2
  .style-klv9x2ea__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvfluk2 .style-klv9x2ea__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvfluk2 .style-klv9x2ea__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkvfluk2 .style-klv9x2ea__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkvfluk2 .style-klv9x2ea__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkvfluk2 .style-klv9x2ea__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkvfluk2 .style-klv9x2ea__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvflum .style-klv9x7zc__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvflum .style-klv9x7zc__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkvflum .style-klv9x7zc__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkvflum .style-klv9x7zc__root:disabled {
  background: #e2e2e2;
}

#comp-klkvflum .style-klv9x7zc__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvflum .style-klv9x7zc__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvflum .style-klv9x7zc__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkvflum .style-klv9x7zc__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkvflum .style-klv9x7zc__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkvflum .style-klv9x7zc__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvflun1 .style-klv9xdjy__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvflun1 .style-klv9xdjy__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkvflun1 .style-klv9xdjy__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkvflun1 .style-klv9xdjy__root:disabled {
  background: #e2e2e2;
}

#comp-klkvflun1
  .style-klv9xdjy__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvflun1 .style-klv9xdjy__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvflun1 .style-klv9xdjy__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkvflun1 .style-klv9xdjy__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkvflun1 .style-klv9xdjy__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkvflun1 .style-klv9xdjy__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkvflun1 .style-klv9xdjy__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvflu9 .style-klva0hb5__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvflu9 .style-klva0hb5__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkvflu9 .style-klva0hb5__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkvflu9 .style-klva0hb5__root[disabled] {
  background: #e2e2e2;
}

#comp-klkvflu9
  .style-klva0hb5__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvflu9 .style-klva0hb5__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvflu9 .style-klva0hb5__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkvflu9 .style-klva0hb5__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkvflu9 .style-klva0hb5__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvflub1 .style-klva0oo3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvflub1 .style-klva0oo3__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkvflub1 .style-klva0oo3__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkvflub1 .style-klva0oo3__root[disabled] {
  background: #e2e2e2;
}

#comp-klkvflub1
  .style-klva0oo3__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvflub1
  .style-klva0oo3__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvflub1 .style-klva0oo3__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkvflub1 .style-klva0oo3__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkvflub1 .style-klva0oo3__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkvflud .style-klva0x28__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkvflud .style-klva0x28__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkvflud .style-klva0x28__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkvflud .style-klva0x28__root[disabled] {
  background: #e2e2e2;
}

#comp-klkvflud
  .style-klva0x28__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkvflud .style-klva0x28__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkvflud .style-klva0x28__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkvflud .style-klva0x28__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkvflud .style-klva0x28__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}
