[data-mesh-id="comp-kljkwnrhinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwns1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwns5"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwns7"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsg"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsi1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsk"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsm2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnso1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsq"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnss"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsv"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsw2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnsz"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnt1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnt3"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnt5"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kljkwnt62"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnrhinlineContent-gridContainer"]
  > [id="comp-kmdp90dm"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwntj2"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwntp"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwntq1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnts1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwntu1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnty"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwntz3"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnu11"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnu3"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnu7"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnu9"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwntf1inlineContent-gridContainer"]
  > [id="comp-kljkwnuc"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnuu"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnuv2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnuw3"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv1"] {
  position: relative;
  margin: 0px 0px 19px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv21"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv4"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv52"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv7"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnv9"] {
  position: relative;
  margin: 0px 0px 69px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvh"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvm2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvr1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvs2"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvu"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnvv1"] {
  position: relative;
  margin: 0px 0px 45px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnw1"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 92px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnw5"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnupinlineContent-gridContainer"]
  > [id="comp-kljkwnw7"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnv9inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kljkwnv9inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwnv9inlineContent-gridContainer"]
  > [id="comp-kljkwnvc"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnv9inlineContent-gridContainer"]
  > [id="comp-kljkwnvf"] {
  position: relative;
  margin: 0px 0px 35px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnvhinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kljkwnvhinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwnvhinlineContent-gridContainer"]
  > [id="comp-kljkwnvj1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnvhinlineContent-gridContainer"]
  > [id="comp-kljkwnvl1"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnvm2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kljkwnvm2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kljkwnvm2inlineContent-gridContainer"]
  > [id="comp-kljkwnvo"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kljkwnvm2inlineContent-gridContainer"]
  > [id="comp-kljkwnvq"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 2385px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kmaftnlj"] {
  position: relative;
  margin: 9px 0px 21px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnr6"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwntc1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnue"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnui"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnul"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnw82"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwb"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwc"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwe"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwf1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwi"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwj3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwl"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwm1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-gridContainer"]
  > [id="comp-kljkwnwn1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContaineryjdrxinlineContent-wedge-8"] {
  visibility: hidden;
  height: 301px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContaineryjdrxinlineContent-wedge-10"] {
  visibility: hidden;
  height: 743px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContaineryjdrxinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1057px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="ContaineryjdrxinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1186px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-kljrx1wp {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmaftnlj {
  width: 310px;
  height: 38px;
}
#comp-kljkwnue {
  width: 136px;
  height: 40px;
}
#comp-kljkwnui {
  width: 136px;
  height: 135px;
}
#comp-kljkwnw82 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljkwnwb {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljkwnwc {
  width: 192px;
  height: 52px;
}
#comp-kljkwnwe {
  width: 192px;
  height: 52px;
}
#comp-kljkwnwf1 {
  width: 192px;
  height: 52px;
}
#comp-kljkwnwi {
  width: 192px;
  height: 52px;
}
#comp-kljkwnwj3 {
  width: 192px;
  height: 52px;
}
#comp-kljkwnwl {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljkwnwm1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljkwnwn1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kljkwns1 {
  width: 5px;
  height: 246px;
}
#comp-kljkwns5 {
  width: 5px;
  height: 246px;
}
#comp-kljkwns7 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsg {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsi1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsk {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsm2 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnso1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsq {
  width: 20px;
  height: 19px;
}
#comp-kljkwnss {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsv {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsw2 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnsz {
  width: 20px;
  height: 19px;
}
#comp-kljkwnt1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnt3 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnt5 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnt62 {
  width: 20px;
  height: 19px;
}
#comp-kmdp90dm {
  width: 600px;
  height: 290px;
}
#comp-kljkwntj2 {
  width: 382px;
  height: 245px;
}
#comp-kljkwntp {
  width: 320px;
  height: 232px;
}
#comp-kljkwntq1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnts1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwntu1 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnty {
  width: 20px;
  height: 19px;
}
#comp-kljkwntz3 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnu11 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnu3 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnu7 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnu9 {
  width: 20px;
  height: 19px;
}
#comp-kljkwnuc {
  width: 20px;
  height: 19px;
}
#comp-kljkwnuu {
  width: 979px;
  height: 77px;
  scroll-margin-top: 100px;
}
#comp-kljkwnuv2 {
  width: 979px;
  height: 154px;
}
#comp-kljkwnuw3 {
  width: 979px;
  height: 5px;
}
#comp-kljkwnv1 {
  width: 979px;
  height: 96px;
  scroll-margin-top: 95px;
}
#comp-kljkwnv21 {
  width: 979px;
  height: 250px;
}
#comp-kljkwnv4 {
  width: 123px;
  height: 40px;
}
#comp-kljkwnv52 {
  width: 979px;
  height: 5px;
}
#comp-kljkwnv7 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-kljkwnvr1 {
  width: 979px;
  height: 5px;
}
#comp-kljkwnvs2 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-kljkwnvu {
  width: 979px;
  height: 5px;
}
#comp-kljkwnvv1 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-kljkwnw1 {
  width: 121px;
  height: 40px;
}
#comp-kljkwnw5 {
  width: 121px;
  height: 40px;
}
#comp-kljkwnw7 {
  width: 121px;
  height: 40px;
}
#comp-kljkwnvc {
  width: 58px;
  height: 40px;
}
#comp-kljkwnvf {
  width: 151px;
  height: 45px;
}
#comp-kljkwnvj1 {
  width: 43px;
  height: 40px;
}
#comp-kljkwnvl1 {
  width: 151px;
  height: 45px;
}
#comp-kljkwnvo {
  width: 32px;
  height: 40px;
}
#comp-kljkwnvq {
  width: 143px;
  height: 45px;
}
#yjdrx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kljkwnr6 {
  width: 980px;
}
#comp-kljkwntc1 {
  width: 980px;
}
#comp-kljkwnul {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kljkwnrh {
  width: 980px;
}
#comp-kljkwntf1 {
  width: 980px;
}
#comp-kljkwnup {
  width: 980px;
}
#comp-kljkwnv9 {
  width: 223px;
}
#comp-kljkwnvh {
  width: 223px;
}
#comp-kljkwnvm2 {
  width: 223px;
}
#comp-kljrx1wp-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmaftnlj {
  height: auto;
}
#comp-kljkwnue {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kljkwnui {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kljrx1wp {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kljkwns1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kljkwns5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kljkwns7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsi1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsk {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsm2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnso1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsq {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnss {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsw2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnsz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnt1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnt3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnt5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnt62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdp90dm {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kljkwntj2 {
  --min-height: 185px;
  height: auto;
}
#comp-kljkwntp {
  --min-height: 210px;
  height: auto;
}
#comp-kljkwntq1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnts1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwntu1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnty {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwntz3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnu11 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnu3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnu7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnu9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnuc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kljkwnuu {
  height: auto;
}
#comp-kljkwnuv2 {
  height: auto;
}
#comp-kljkwnuw3 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kljkwnv1 {
  height: auto;
}
#comp-kljkwnv21 {
  height: auto;
}
#comp-kljkwnv4 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kljkwnv52 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kljkwnv7 {
  --min-height: 78px;
  height: auto;
}
#comp-kljkwnvr1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kljkwnvs2 {
  --min-height: 78px;
  height: auto;
}
#comp-kljkwnvu {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kljkwnvc {
  --opacity: 1;
}
#comp-kljkwnvf {
  height: auto;
}
#comp-kljkwnvj1 {
  --opacity: 1;
}
#comp-kljkwnvl1 {
  height: auto;
}
#comp-kljkwnvo {
  --opacity: 1;
}
#comp-kljkwnvq {
  height: auto;
}
#yjdrx {
  width: auto;
  /* min-height: 2385px; */
}
#comp-kljkwnr6 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kljkwntc1 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kljkwnul {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kljkwnrh {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kljkwntf1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kljkwnup {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kljkwnv9 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kljkwnvh {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kljkwnvm2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_yjdrx {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnwc .style-klv7xl92__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnwc .style-klv7xl92__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kljkwnwc .style-klv7xl92__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kljkwnwc .style-klv7xl92__root:disabled {
  background: #e2e2e2;
}

#comp-kljkwnwc .style-klv7xl92__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnwc .style-klv7xl92__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnwc .style-klv7xl92__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kljkwnwc .style-klv7xl92__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kljkwnwc .style-klv7xl92__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kljkwnwc .style-klv7xl92__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kljkwnwc .style-klv7xl92__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnwe .style-klv7xsmu__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnwe .style-klv7xsmu__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kljkwnwe .style-klv7xsmu__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kljkwnwe .style-klv7xsmu__root:disabled {
  background: #e2e2e2;
}

#comp-kljkwnwe .style-klv7xsmu__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnwe .style-klv7xsmu__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnwe .style-klv7xsmu__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kljkwnwe .style-klv7xsmu__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kljkwnwe .style-klv7xsmu__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kljkwnwe .style-klv7xsmu__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kljkwnwe .style-klv7xsmu__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnwf1 .style-klv7xywn__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnwf1 .style-klv7xywn__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kljkwnwf1 .style-klv7xywn__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kljkwnwf1 .style-klv7xywn__root:disabled {
  background: #e2e2e2;
}

#comp-kljkwnwf1
  .style-klv7xywn__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnwf1 .style-klv7xywn__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnwf1 .style-klv7xywn__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kljkwnwf1 .style-klv7xywn__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kljkwnwf1 .style-klv7xywn__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kljkwnwf1 .style-klv7xywn__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kljkwnwf1 .style-klv7xywn__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnwi .style-klv7ybg2__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnwi .style-klv7ybg2__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kljkwnwi .style-klv7ybg2__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kljkwnwi .style-klv7ybg2__root:disabled {
  background: #e2e2e2;
}

#comp-kljkwnwi .style-klv7ybg2__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnwi .style-klv7ybg2__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnwi .style-klv7ybg2__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kljkwnwi .style-klv7ybg2__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kljkwnwi .style-klv7ybg2__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kljkwnwi .style-klv7ybg2__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kljkwnwi .style-klv7ybg2__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnwj3 .style-klv7yhe7__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnwj3 .style-klv7yhe7__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kljkwnwj3 .style-klv7yhe7__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kljkwnwj3 .style-klv7yhe7__root:disabled {
  background: #e2e2e2;
}

#comp-kljkwnwj3
  .style-klv7yhe7__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnwj3 .style-klv7yhe7__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnwj3 .style-klv7yhe7__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kljkwnwj3 .style-klv7yhe7__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kljkwnwj3 .style-klv7yhe7__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kljkwnwj3 .style-klv7yhe7__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kljkwnwj3 .style-klv7yhe7__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnw1 .style-klv7ztg4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnw1 .style-klv7ztg4__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kljkwnw1 .style-klv7ztg4__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kljkwnw1 .style-klv7ztg4__root[disabled] {
  background: #e2e2e2;
}

#comp-kljkwnw1
  .style-klv7ztg4__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnw1 .style-klv7ztg4__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnw1 .style-klv7ztg4__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kljkwnw1 .style-klv7ztg4__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kljkwnw1 .style-klv7ztg4__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnw5 .style-klv802qk__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnw5 .style-klv802qk__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kljkwnw5 .style-klv802qk__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kljkwnw5 .style-klv802qk__root[disabled] {
  background: #e2e2e2;
}

#comp-kljkwnw5
  .style-klv802qk__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnw5 .style-klv802qk__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnw5 .style-klv802qk__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kljkwnw5 .style-klv802qk__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kljkwnw5 .style-klv802qk__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kljkwnw7 .style-klv809jq__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kljkwnw7 .style-klv809jq__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kljkwnw7 .style-klv809jq__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kljkwnw7 .style-klv809jq__root[disabled] {
  background: #e2e2e2;
}

#comp-kljkwnw7
  .style-klv809jq__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kljkwnw7 .style-klv809jq__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kljkwnw7 .style-klv809jq__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kljkwnw7 .style-klv809jq__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kljkwnw7 .style-klv809jq__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kljkwnvc svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kljkwnvj1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kljkwnvo svg [data-color="1"] {
  fill: #454a6e;
}
