[data-mesh-id="comp-klniqwp2inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpb"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpd1"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpf"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpp1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpr2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpt2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpw"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwpy"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwq0"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwq2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwq32"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwq8"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwqa"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwqb2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwqd1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwqf"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-klniqwqg2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwp2inlineContent-gridContainer"]
  > [id="comp-kmdpin3l"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwqv1"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwr01"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwr3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwr5"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwr7"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwr9"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwra2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwrc1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwre1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwrg"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwri"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwqrinlineContent-gridContainer"]
  > [id="comp-klniqwrk1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqws3"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klnwx6n4"] {
  position: relative;
  margin: 47px 0px 57px calc((100% - 980px) * 0.5);
  left: 310px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqws41"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsa"] {
  position: relative;
  margin: 0px 0px 16px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsi"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsj1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsm"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsn2"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwso3"] {
  position: relative;
  margin: 0px 0px 38px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwst3"] {
  position: relative;
  margin: 0px 0px 38px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwsz"] {
  position: relative;
  margin: 0px 0px 38px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwt3"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwt41"] {
  position: relative;
  margin: 0px 0px 36px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwt52"] {
  position: relative;
  margin: 0px 0px 29px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwt7"] {
  position: relative;
  margin: 0px 0px 44px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwtc1"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwti"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwry1inlineContent-gridContainer"]
  > [id="comp-klniqwtj3"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwso3inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klniqwso3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwso3inlineContent-gridContainer"]
  > [id="comp-klniqwsq"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwso3inlineContent-gridContainer"]
  > [id="comp-klniqwss1"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwst3inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klniqwst3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwst3inlineContent-gridContainer"]
  > [id="comp-klniqwsv"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwst3inlineContent-gridContainer"]
  > [id="comp-klniqwsx"] {
  position: relative;
  margin: 0px 0px 9px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwszinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klniqwszinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klniqwszinlineContent-gridContainer"]
  > [id="comp-klniqwt0"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klniqwszinlineContent-gridContainer"]
  > [id="comp-klniqwt2"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 2636px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-kmag0t0a"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwor"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwqp"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwrm"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwrp"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwrt"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtl1"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtm1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtn1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtp1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtr"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwts3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtu1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtw1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwtx1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-gridContainer"]
  > [id="comp-klniqwty"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerbhe0dinlineContent-wedge-8"] {
  visibility: hidden;
  height: 546px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containerbhe0dinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1057px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containerbhe0dinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1323px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containerbhe0dinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1429px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klniqwrq2 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag0t0a {
  width: 310px;
  height: 38px;
}
#comp-klniqwrm {
  width: 136px;
  height: 40px;
}
#comp-klniqwrp {
  width: 136px;
  height: 135px;
}
#comp-klniqwtl1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klniqwtm1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klniqwtn1 {
  width: 192px;
  height: 52px;
}
#comp-klniqwtp1 {
  width: 192px;
  height: 52px;
}
#comp-klniqwtr {
  width: 192px;
  height: 52px;
}
#comp-klniqwts3 {
  width: 192px;
  height: 52px;
}
#comp-klniqwtu1 {
  width: 192px;
  height: 52px;
}
#comp-klniqwtw1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klniqwtx1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klniqwty {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klniqwpb {
  width: 5px;
  height: 246px;
}
#comp-klniqwpd1 {
  width: 5px;
  height: 246px;
}
#comp-klniqwpf {
  width: 20px;
  height: 19px;
}
#comp-klniqwpp1 {
  width: 20px;
  height: 19px;
}
#comp-klniqwpr2 {
  width: 20px;
  height: 19px;
}
#comp-klniqwpt2 {
  width: 20px;
  height: 19px;
}
#comp-klniqwpw {
  width: 20px;
  height: 19px;
}
#comp-klniqwpy {
  width: 20px;
  height: 19px;
}
#comp-klniqwq0 {
  width: 20px;
  height: 19px;
}
#comp-klniqwq2 {
  width: 20px;
  height: 19px;
}
#comp-klniqwq32 {
  width: 20px;
  height: 19px;
}
#comp-klniqwq8 {
  width: 20px;
  height: 19px;
}
#comp-klniqwqa {
  width: 20px;
  height: 19px;
}
#comp-klniqwqb2 {
  width: 20px;
  height: 19px;
}
#comp-klniqwqd1 {
  width: 20px;
  height: 19px;
}
#comp-klniqwqf {
  width: 20px;
  height: 19px;
}
#comp-klniqwqg2 {
  width: 20px;
  height: 19px;
}
#comp-kmdpin3l {
  width: 600px;
  height: 290px;
}
#comp-klniqwqv1 {
  width: 382px;
  height: 245px;
}
#comp-klniqwr01 {
  width: 320px;
  height: 232px;
}
#comp-klniqwr3 {
  width: 20px;
  height: 19px;
}
#comp-klniqwr5 {
  width: 20px;
  height: 19px;
}
#comp-klniqwr7 {
  width: 20px;
  height: 19px;
}
#comp-klniqwr9 {
  width: 20px;
  height: 19px;
}
#comp-klniqwra2 {
  width: 20px;
  height: 19px;
}
#comp-klniqwrc1 {
  width: 20px;
  height: 19px;
}
#comp-klniqwre1 {
  width: 20px;
  height: 19px;
}
#comp-klniqwrg {
  width: 20px;
  height: 19px;
}
#comp-klniqwri {
  width: 20px;
  height: 19px;
}
#comp-klniqwrk1 {
  width: 20px;
  height: 19px;
}
#comp-klniqws3 {
  width: 297px;
  height: 140px;
}
#comp-klnwx6n4 {
  width: 298px;
  height: 96px;
}
#comp-klniqws41 {
  width: 979px;
  height: 347px;
  scroll-margin-top: 100px;
}
#comp-klniqwsa {
  width: 979px;
  height: 5px;
}
#comp-klniqwsi {
  width: 979px;
  height: 422px;
  scroll-margin-top: 100px;
}
#comp-klniqwsj1 {
  width: 123px;
  height: 40px;
}
#comp-klniqwsm {
  width: 979px;
  height: 5px;
}
#comp-klniqwsn2 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klniqwt3 {
  width: 979px;
  height: 5px;
}
#comp-klniqwt41 {
  width: 979px;
  height: 58px;
  scroll-margin-top: 95px;
}
#comp-klniqwt52 {
  width: 979px;
  height: 5px;
}
#comp-klniqwt7 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}
#comp-klniqwtc1 {
  width: 121px;
  height: 40px;
}
#comp-klniqwti {
  width: 121px;
  height: 40px;
}
#comp-klniqwtj3 {
  width: 121px;
  height: 40px;
}
#comp-klniqwsq {
  width: 58px;
  height: 40px;
}
#comp-klniqwss1 {
  width: 158px;
  height: 43px;
}
#comp-klniqwsv {
  width: 43px;
  height: 40px;
}
#comp-klniqwsx {
  width: 151px;
  height: 67px;
}
#comp-klniqwt0 {
  width: 32px;
  height: 40px;
}
#comp-klniqwt2 {
  width: 143px;
  height: 43px;
}
#bhe0d {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klniqwor {
  width: 980px;
}
#comp-klniqwqp {
  width: 980px;
}
#comp-klniqwrt {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klniqwp2 {
  width: 980px;
}
#comp-klniqwqr {
  width: 980px;
}
#comp-klniqwry1 {
  width: 980px;
}
#comp-klniqwso3 {
  width: 223px;
}
#comp-klniqwst3 {
  width: 223px;
}
#comp-klniqwsz {
  width: 223px;
}
#comp-klniqwrq2-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag0t0a {
  height: auto;
}
#comp-klniqwrm {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klniqwrp {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klniqwrq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klniqwpb {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klniqwpd1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klniqwpf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwpp1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwpr2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwpt2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwpw {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwpy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwq0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwq32 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwq8 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwqa {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwqb2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwqd1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwqf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwqg2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpin3l {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klniqwqv1 {
  --min-height: 185px;
  height: auto;
}
#comp-klniqwr01 {
  --min-height: 210px;
  height: auto;
}
#comp-klniqwr3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwr5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwr7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwr9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwra2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwrc1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwre1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwrg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwri {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqwrk1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klniqws3 {
  height: auto;
}
#comp-klnwx6n4 {
  height: auto;
}
#comp-klniqws41 {
  --min-height: 347px;
  height: auto;
}
#comp-klniqwsa {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klniqwsi {
  --min-height: 419px;
  height: auto;
}
#comp-klniqwsj1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klniqwsm {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klniqwsn2 {
  --min-height: 78px;
  height: auto;
}
#comp-klniqwt3 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klniqwt41 {
  height: auto;
}
#comp-klniqwt52 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klniqwsq {
  --opacity: 1;
}
#comp-klniqwss1 {
  height: auto;
}
#comp-klniqwsv {
  --opacity: 1;
}
#comp-klniqwsx {
  --min-height: 67px;
  height: auto;
}
#comp-klniqwt0 {
  --opacity: 1;
}
#comp-klniqwt2 {
  height: auto;
}
#bhe0d {
  width: auto;
  /* min-height: 2636px; */
}
#comp-klniqwor {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klniqwqp {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klniqwrt {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klniqwp2 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klniqwqr {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klniqwry1 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klniqwso3 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klniqwst3 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klniqwsz {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_bhe0d {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtn1 .style-klv8ragg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtn1 .style-klv8ragg__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klniqwtn1 .style-klv8ragg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klniqwtn1 .style-klv8ragg__root:disabled {
  background: #e2e2e2;
}

#comp-klniqwtn1
  .style-klv8ragg__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtn1 .style-klv8ragg__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtn1 .style-klv8ragg__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klniqwtn1 .style-klv8ragg__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klniqwtn1 .style-klv8ragg__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klniqwtn1 .style-klv8ragg__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klniqwtn1 .style-klv8ragg__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtp1 .style-klv8rjf8__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtp1 .style-klv8rjf8__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klniqwtp1 .style-klv8rjf8__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klniqwtp1 .style-klv8rjf8__root:disabled {
  background: #e2e2e2;
}

#comp-klniqwtp1
  .style-klv8rjf8__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtp1 .style-klv8rjf8__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtp1 .style-klv8rjf8__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klniqwtp1 .style-klv8rjf8__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klniqwtp1 .style-klv8rjf8__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klniqwtp1 .style-klv8rjf8__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klniqwtp1 .style-klv8rjf8__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtr .style-klv8rq6e__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtr .style-klv8rq6e__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klniqwtr .style-klv8rq6e__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klniqwtr .style-klv8rq6e__root:disabled {
  background: #e2e2e2;
}

#comp-klniqwtr .style-klv8rq6e__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtr .style-klv8rq6e__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtr .style-klv8rq6e__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klniqwtr .style-klv8rq6e__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klniqwtr .style-klv8rq6e__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klniqwtr .style-klv8rq6e__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klniqwtr .style-klv8rq6e__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwts3 .style-klv8rwgt__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwts3 .style-klv8rwgt__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klniqwts3 .style-klv8rwgt__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klniqwts3 .style-klv8rwgt__root:disabled {
  background: #e2e2e2;
}

#comp-klniqwts3
  .style-klv8rwgt__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwts3 .style-klv8rwgt__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwts3 .style-klv8rwgt__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klniqwts3 .style-klv8rwgt__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klniqwts3 .style-klv8rwgt__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klniqwts3 .style-klv8rwgt__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtu1 .style-klv8s1t1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtu1 .style-klv8s1t1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klniqwtu1 .style-klv8s1t1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klniqwtu1 .style-klv8s1t1__root:disabled {
  background: #e2e2e2;
}

#comp-klniqwtu1
  .style-klv8s1t1__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtu1 .style-klv8s1t1__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtu1 .style-klv8s1t1__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klniqwtu1 .style-klv8s1t1__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klniqwtu1 .style-klv8s1t1__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klniqwtu1 .style-klv8s1t1__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klniqwtu1 .style-klv8s1t1__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtc1 .style-klv8thmh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtc1 .style-klv8thmh__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klniqwtc1 .style-klv8thmh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klniqwtc1 .style-klv8thmh__root[disabled] {
  background: #e2e2e2;
}

#comp-klniqwtc1
  .style-klv8thmh__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtc1
  .style-klv8thmh__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtc1 .style-klv8thmh__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klniqwtc1 .style-klv8thmh__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klniqwtc1 .style-klv8thmh__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwti .style-klv8to4f__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwti .style-klv8to4f__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klniqwti .style-klv8to4f__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klniqwti .style-klv8to4f__root[disabled] {
  background: #e2e2e2;
}

#comp-klniqwti
  .style-klv8to4f__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwti .style-klv8to4f__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwti .style-klv8to4f__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klniqwti .style-klv8to4f__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klniqwti .style-klv8to4f__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klniqwtj3 .style-klv8tuim__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klniqwtj3 .style-klv8tuim__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klniqwtj3 .style-klv8tuim__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klniqwtj3 .style-klv8tuim__root[disabled] {
  background: #e2e2e2;
}

#comp-klniqwtj3
  .style-klv8tuim__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klniqwtj3
  .style-klv8tuim__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klniqwtj3 .style-klv8tuim__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klniqwtj3 .style-klv8tuim__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klniqwtj3 .style-klv8tuim__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klniqwsq svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klniqwsv svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klniqwt0 svg [data-color="1"] {
  fill: #454a6e;
}
