[data-mesh-id="comp-kmp7rbi6inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbib1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbid1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbie2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbij"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbil"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbio"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbiq"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbir2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbit1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbiv"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbiw3"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbiz"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbj22"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbj42"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbj62"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbj82"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbja1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbi6inlineContent-gridContainer"]
  > [id="comp-kmp7rbjc1"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjm"] {
  position: relative;
  margin: 13px 0px 27px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjo"] {
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjq"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjs1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbju"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjw1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbjy"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbk1"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbk3"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbk5"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbk62"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbjh1inlineContent-gridContainer"]
  > [id="comp-kmp7rbk82"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 2381px; */
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbku"] {
  position: relative;
  margin: 46px 0px 56px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbkv1"] {
  position: relative;
  margin: 46px 0px 69px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbkx"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbky2"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbl02"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbl22"] {
  position: relative;
  margin: 0px 0px -3px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbl4"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbl5"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbl8"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rblc2"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbli"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rblo"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rblp2"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rblr"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbls1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rblw"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbm0"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbko2inlineContent-gridContainer"]
  > [id="comp-kmp7rbm2"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbl8inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmp7rbl8inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rbl8inlineContent-gridContainer"]
  > [id="comp-kmp7rbl92"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbl8inlineContent-gridContainer"]
  > [id="comp-kmp7rblb1"] {
  position: relative;
  margin: 0px 0px 37px 0;
  left: 7px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rblc2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmp7rblc2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rblc2inlineContent-gridContainer"]
  > [id="comp-kmp7rblf"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rblc2inlineContent-gridContainer"]
  > [id="comp-kmp7rblg2"] {
  position: relative;
  margin: 0px 0px 10px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbliinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmp7rbliinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmp7rbliinlineContent-gridContainer"]
  > [id="comp-kmp7rblj2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmp7rbliinlineContent-gridContainer"]
  > [id="comp-kmp7rblm"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  /* min-height: 3057px; */
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbhu"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbi0"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbje"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbke"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbkh"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbkl1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbm4"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbm51"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbm8"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbm93"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbmd"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbmf"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbmi"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbmk"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbml"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-gridContainer"]
  > [id="comp-kmp7rbmm1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerp8990inlineContent-wedge-8"] {
  visibility: hidden;
  height: 695px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containerp8990inlineContent-wedge-10"] {
  visibility: hidden;
  height: 1257px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containerp8990inlineContent-wedge-12"] {
  visibility: hidden;
  height: 1550px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containerp8990inlineContent-wedge-14"] {
  visibility: hidden;
  height: 1824px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-kmp7rbkj1 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmp7rbhu {
  width: 310px;
  height: 38px;
}
#comp-kmp7rbke {
  width: 136px;
  height: 40px;
}
#comp-kmp7rbkh {
  width: 136px;
  height: 135px;
}
#comp-kmp7rbm4 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7rbm51 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7rbm8 {
  width: 192px;
  height: 52px;
}
#comp-kmp7rbm93 {
  width: 192px;
  height: 52px;
}
#comp-kmp7rbmd {
  width: 192px;
  height: 52px;
}
#comp-kmp7rbmf {
  width: 192px;
  height: 52px;
}
#comp-kmp7rbmi {
  width: 192px;
  height: 52px;
}
#comp-kmp7rbmk {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7rbml {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7rbmm1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmp7rbib1 {
  width: 5px;
  height: 246px;
}
#comp-kmp7rbid1 {
  width: 5px;
  height: 246px;
}
#comp-kmp7rbie2 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbij {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbil {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbio {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbiq {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbir2 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbit1 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbiv {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbiw3 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbiz {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbj22 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbj42 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbj62 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbj82 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbja1 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbjc1 {
  width: 600px;
  height: 290px;
}
#comp-kmp7rbjm {
  width: 382px;
  height: 245px;
}
#comp-kmp7rbjo {
  width: 320px;
  height: 232px;
}
#comp-kmp7rbjq {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbjs1 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbju {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbjw1 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbjy {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbk1 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbk3 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbk5 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbk62 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbk82 {
  width: 20px;
  height: 19px;
}
#comp-kmp7rbku {
  width: 224px;
  height: 134px;
}
#comp-kmp7rbkv1 {
  width: 261px;
  height: 121px;
}
#comp-kmp7rbkx {
  width: 979px;
  height: 442px;
  scroll-margin-top: 100px;
}
#comp-kmp7rbky2 {
  width: 979px;
  height: 5px;
}
#comp-kmp7rbl02 {
  width: 123px;
  height: 40px;
}
#comp-kmp7rbl22 {
  width: 979px;
  height: 486px;
  scroll-margin-top: 95px;
}
#comp-kmp7rbl4 {
  width: 979px;
  height: 5px;
}
#comp-kmp7rbl5 {
  width: 979px;
  height: 40px;
  scroll-margin-top: 95px;
}
#comp-kmp7rblo {
  width: 979px;
  height: 5px;
}
#comp-kmp7rblp2 {
  width: 979px;
  height: 224px;
  scroll-margin-top: 95px;
}
#comp-kmp7rblr {
  width: 979px;
  height: 5px;
}
#comp-kmp7rbls1 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-kmp7rblw {
  width: 121px;
  height: 40px;
}
#comp-kmp7rbm0 {
  width: 121px;
  height: 40px;
}
#comp-kmp7rbm2 {
  width: 121px;
  height: 40px;
}
#comp-kmp7rbl92 {
  width: 58px;
  height: 40px;
}
#comp-kmp7rblb1 {
  width: 212px;
  height: 40px;
}
#comp-kmp7rblf {
  width: 43px;
  height: 40px;
}
#comp-kmp7rblg2 {
  width: 207px;
  height: 67px;
}
#comp-kmp7rblj2 {
  width: 32px;
  height: 40px;
}
#comp-kmp7rblm {
  width: 207px;
  height: 43px;
}
#p8990 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmp7rbi0 {
  width: 980px;
}
#comp-kmp7rbje {
  width: 980px;
}
#comp-kmp7rbkl1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmp7rbi6 {
  width: 980px;
}
#comp-kmp7rbjh1 {
  width: 980px;
}
#comp-kmp7rbko2 {
  width: 980px;
}
#comp-kmp7rbl8 {
  width: 223px;
}
#comp-kmp7rblc2 {
  width: 223px;
}
#comp-kmp7rbli {
  width: 223px;
}
#comp-kmp7rbkj1-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmp7rbhu {
  height: auto;
}
#comp-kmp7rbke {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmp7rbkh {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kmp7rbkj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kmp7rbib1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmp7rbid1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmp7rbie2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbij {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbil {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbio {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbiq {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbir2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbit1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbiv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbiw3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbiz {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbj22 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbj42 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbj62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbj82 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbja1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbjc1 {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kmp7rbjm {
  --min-height: 185px;
  height: auto;
}
#comp-kmp7rbjo {
  --min-height: 210px;
  height: auto;
}
#comp-kmp7rbjq {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbjs1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbju {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbjw1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbjy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbk1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbk3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbk5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbk62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbk82 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmp7rbku {
  height: auto;
}
#comp-kmp7rbkv1 {
  --min-height: 121px;
  height: auto;
}
#comp-kmp7rbkx {
  --min-height: 307px;
  height: auto;
}
#comp-kmp7rbky2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmp7rbl02 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmp7rbl22 {
  --min-height: 324px;
  height: auto;
}
#comp-kmp7rbl4 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmp7rbl5 {
  --min-height: 40px;
  height: auto;
}
#comp-kmp7rblo {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmp7rblp2 {
  --min-height: 121px;
  height: auto;
}
#comp-kmp7rblr {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmp7rbl92 {
  --opacity: 1;
}
#comp-kmp7rblb1 {
  height: auto;
}
#comp-kmp7rblf {
  --opacity: 1;
}
#comp-kmp7rblg2 {
  --min-height: 67px;
  height: auto;
}
#comp-kmp7rblj2 {
  --opacity: 1;
}
#comp-kmp7rblm {
  height: auto;
}
#p8990 {
  width: auto;
  /* min-height: 3057px; */
}
#comp-kmp7rbi0 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmp7rbje {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmp7rbkl1 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmp7rbi6 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmp7rbjh1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmp7rbko2 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmp7rbl8 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmp7rblc2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmp7rbli {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_p8990 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm8 .style-kmp7rbm91__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm8 .style-kmp7rbm91__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root:disabled {
  background: #e2e2e2;
}

#comp-kmp7rbm8
  .style-kmp7rbm91__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmp7rbm8 .style-kmp7rbm91__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmp7rbm8 .style-kmp7rbm91__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm93 .style-kmp7rbmc__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm93 .style-kmp7rbmc__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root:disabled {
  background: #e2e2e2;
}

#comp-kmp7rbm93
  .style-kmp7rbmc__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmp7rbm93 .style-kmp7rbmc__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmp7rbm93 .style-kmp7rbmc__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmd .style-kmp7rbme1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmd .style-kmp7rbme1__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmp7rbmd .style-kmp7rbme1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmp7rbmd .style-kmp7rbme1__root:disabled {
  background: #e2e2e2;
}

#comp-kmp7rbmd
  .style-kmp7rbme1__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbmd .style-kmp7rbme1__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbmd .style-kmp7rbme1__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmp7rbmd .style-kmp7rbme1__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmp7rbmd .style-kmp7rbme1__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmp7rbmd .style-kmp7rbme1__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmp7rbmd .style-kmp7rbme1__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmf .style-kmp7rbmh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmf .style-kmp7rbmh__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmp7rbmf .style-kmp7rbmh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmp7rbmf .style-kmp7rbmh__root:disabled {
  background: #e2e2e2;
}

#comp-kmp7rbmf .style-kmp7rbmh__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbmf .style-kmp7rbmh__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbmf .style-kmp7rbmh__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmp7rbmf .style-kmp7rbmh__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmp7rbmf .style-kmp7rbmh__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmp7rbmf .style-kmp7rbmh__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmi .style-kmp7rbmj2__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbmi .style-kmp7rbmj2__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root:disabled {
  background: #e2e2e2;
}

#comp-kmp7rbmi
  .style-kmp7rbmj2__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmp7rbmi .style-kmp7rbmj2__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmp7rbmi .style-kmp7rbmj2__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rblw .style-kmp7rblz1__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rblw .style-kmp7rblz1__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmp7rblw .style-kmp7rblz1__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmp7rblw .style-kmp7rblz1__root[disabled] {
  background: #e2e2e2;
}

#comp-kmp7rblw
  .style-kmp7rblz1__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rblw
  .style-kmp7rblz1__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rblw .style-kmp7rblz1__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmp7rblw .style-kmp7rblz1__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmp7rblw .style-kmp7rblz1__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm0 .style-kmp7rbm13__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm0 .style-kmp7rbm13__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmp7rbm0 .style-kmp7rbm13__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmp7rbm0 .style-kmp7rbm13__root[disabled] {
  background: #e2e2e2;
}

#comp-kmp7rbm0
  .style-kmp7rbm13__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbm0
  .style-kmp7rbm13__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbm0 .style-kmp7rbm13__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmp7rbm0 .style-kmp7rbm13__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmp7rbm0 .style-kmp7rbm13__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm2 .style-kmp7rbm32__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmp7rbm2 .style-kmp7rbm32__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmp7rbm2 .style-kmp7rbm32__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmp7rbm2 .style-kmp7rbm32__root[disabled] {
  background: #e2e2e2;
}

#comp-kmp7rbm2
  .style-kmp7rbm32__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmp7rbm2
  .style-kmp7rbm32__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmp7rbm2 .style-kmp7rbm32__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmp7rbm2 .style-kmp7rbm32__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmp7rbm2 .style-kmp7rbm32__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kmp7rbl92 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmp7rblf svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmp7rblj2 svg [data-color="1"] {
  fill: #454a6e;
}
