[data-mesh-id="comp-kmqrrr7jinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr7p"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr7u"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr7v2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr801"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr83"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr85"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr881"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8c"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8e"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8g"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8i"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8k"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8m"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8p"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8s"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8u"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8w"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr7jinlineContent-gridContainer"]
  > [id="comp-kmqrrr8y"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9b"] {
  position: relative;
  margin: 13px 0px 27px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9d"] {
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9e2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9i"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9l"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9o2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9q1"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9s"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9u"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrr9x"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrra0"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrr93inlineContent-gridContainer"]
  > [id="comp-kmqrrra41"] {
  position: relative;
  margin: 0px 0px 68px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrar"] {
  position: relative;
  margin: 46px 0px 56px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrras1"] {
  position: relative;
  margin: 46px 0px 69px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrau"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrraw"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrb11"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrb32"] {
  position: relative;
  margin: 0px 0px -3px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrbm1"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrbo"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrbq"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrc11"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrc62"] {
  position: relative;
  margin: 0px 0px 59px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrcg"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrcj"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrcm"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrcr"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrcz"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrd7"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrak2inlineContent-gridContainer"]
  > [id="comp-kmqrrrdc"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrbqinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmqrrrbqinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrrbqinlineContent-gridContainer"]
  > [id="comp-kmqrrrbu1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrbqinlineContent-gridContainer"]
  > [id="comp-kmqrrrby"] {
  position: relative;
  margin: 0px 0px 37px 0;
  left: 7px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrc11inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmqrrrc11inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrrc11inlineContent-gridContainer"]
  > [id="comp-kmqrrrc32"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrc11inlineContent-gridContainer"]
  > [id="comp-kmqrrrc51"] {
  position: relative;
  margin: 0px 0px 10px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrc62inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kmqrrrc62inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kmqrrrc62inlineContent-gridContainer"]
  > [id="comp-kmqrrrc9"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kmqrrrc62inlineContent-gridContainer"]
  > [id="comp-kmqrrrcd"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 3057px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrr6z"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrr78"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrr90"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrra62"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrra9"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrad"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdf"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdi"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdk"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdn"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdq"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdt"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdw"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrrdz"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrre1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-gridContainer"]
  > [id="comp-kmqrrre22"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfnxowinlineContent-wedge-8"] {
  visibility: hidden;
  height: 695px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContainerfnxowinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1353px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContainerfnxowinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1646px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="ContainerfnxowinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1984px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-kmqrrraa2 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmqrrr6z {
  width: 310px;
  height: 38px;
}
#comp-kmqrrra62 {
  width: 136px;
  height: 40px;
}
#comp-kmqrrra9 {
  width: 136px;
  height: 135px;
}
#comp-kmqrrrdf {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrrrdi {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrrrdk {
  width: 192px;
  height: 52px;
}
#comp-kmqrrrdn {
  width: 192px;
  height: 52px;
}
#comp-kmqrrrdq {
  width: 192px;
  height: 52px;
}
#comp-kmqrrrdt {
  width: 192px;
  height: 52px;
}
#comp-kmqrrrdw {
  width: 192px;
  height: 52px;
}
#comp-kmqrrrdz {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrrre1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrrre22 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmqrrr7p {
  width: 5px;
  height: 246px;
}
#comp-kmqrrr7u {
  width: 5px;
  height: 246px;
}
#comp-kmqrrr7v2 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr801 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr83 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr85 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr881 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8c {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8e {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8g {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8i {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8k {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8m {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8p {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8s {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8u {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8w {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr8y {
  width: 600px;
  height: 290px;
}
#comp-kmqrrr9b {
  width: 382px;
  height: 245px;
}
#comp-kmqrrr9d {
  width: 320px;
  height: 232px;
}
#comp-kmqrrr9e2 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9i {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9l {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9o2 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9q1 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9s {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9u {
  width: 20px;
  height: 19px;
}
#comp-kmqrrr9x {
  width: 20px;
  height: 19px;
}
#comp-kmqrrra0 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrra41 {
  width: 20px;
  height: 19px;
}
#comp-kmqrrrar {
  width: 235px;
  height: 134px;
}
#comp-kmqrrras1 {
  width: 261px;
  height: 121px;
}
#comp-kmqrrrau {
  width: 979px;
  height: 442px;
  scroll-margin-top: 100px;
}
#comp-kmqrrraw {
  width: 979px;
  height: 5px;
}
#comp-kmqrrrb11 {
  width: 123px;
  height: 40px;
}
#comp-kmqrrrb32 {
  width: 979px;
  height: 582px;
  scroll-margin-top: 95px;
}
#comp-kmqrrrbm1 {
  width: 979px;
  height: 5px;
}
#comp-kmqrrrbo {
  width: 979px;
  height: 40px;
  scroll-margin-top: 95px;
}
#comp-kmqrrrcg {
  width: 979px;
  height: 5px;
}
#comp-kmqrrrcj {
  width: 979px;
  height: 288px;
  scroll-margin-top: 95px;
}
#comp-kmqrrrcm {
  width: 979px;
  height: 5px;
}
#comp-kmqrrrcr {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-kmqrrrcz {
  width: 121px;
  height: 40px;
}
#comp-kmqrrrd7 {
  width: 121px;
  height: 40px;
}
#comp-kmqrrrdc {
  width: 121px;
  height: 40px;
}
#comp-kmqrrrbu1 {
  width: 58px;
  height: 40px;
}
#comp-kmqrrrby {
  width: 212px;
  height: 40px;
}
#comp-kmqrrrc32 {
  width: 43px;
  height: 40px;
}
#comp-kmqrrrc51 {
  width: 207px;
  height: 67px;
}
#comp-kmqrrrc9 {
  width: 32px;
  height: 40px;
}
#comp-kmqrrrcd {
  width: 207px;
  height: 43px;
}
#fnxow {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmqrrr78 {
  width: 980px;
}
#comp-kmqrrr90 {
  width: 980px;
}
#comp-kmqrrrad {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kmqrrr7j {
  width: 980px;
}
#comp-kmqrrr93 {
  width: 980px;
}
#comp-kmqrrrak2 {
  width: 980px;
}
#comp-kmqrrrbq {
  width: 223px;
}
#comp-kmqrrrc11 {
  width: 223px;
}
#comp-kmqrrrc62 {
  width: 223px;
}
#comp-kmqrrraa2-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmqrrr6z {
  height: auto;
}
#comp-kmqrrra62 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmqrrra9 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kmqrrraa2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kmqrrr7p {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmqrrr7u {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kmqrrr7v2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr801 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr83 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr85 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr881 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8c {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8e {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8g {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8i {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8k {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8m {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8p {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8s {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8u {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8w {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr8y {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kmqrrr9b {
  --min-height: 185px;
  height: auto;
}
#comp-kmqrrr9d {
  --min-height: 210px;
  height: auto;
}
#comp-kmqrrr9e2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9i {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9l {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9o2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9q1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9s {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9u {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrr9x {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrra0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrra41 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmqrrrar {
  height: auto;
}
#comp-kmqrrras1 {
  --min-height: 121px;
  height: auto;
}
#comp-kmqrrrau {
  --min-height: 307px;
  height: auto;
}
#comp-kmqrrraw {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmqrrrb11 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kmqrrrb32 {
  --min-height: 324px;
  height: auto;
}
#comp-kmqrrrbm1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmqrrrbo {
  --min-height: 40px;
  height: auto;
}
#comp-kmqrrrcg {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmqrrrcj {
  --min-height: 121px;
  height: auto;
}
#comp-kmqrrrcm {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kmqrrrbu1 {
  --opacity: 1;
}
#comp-kmqrrrby {
  height: auto;
}
#comp-kmqrrrc32 {
  --opacity: 1;
}
#comp-kmqrrrc51 {
  --min-height: 67px;
  height: auto;
}
#comp-kmqrrrc9 {
  --opacity: 1;
}
#comp-kmqrrrcd {
  height: auto;
}
#fnxow {
  width: auto;
  min-height: 3057px;
}
#comp-kmqrrr78 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmqrrr90 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmqrrrad {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kmqrrr7j {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmqrrr93 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmqrrrak2 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kmqrrrbq {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmqrrrc11 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kmqrrrc62 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 5px 5px 5px 5px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_fnxow {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdk .style-kmqrrrdm__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdk .style-kmqrrrdm__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmqrrrdk .style-kmqrrrdm__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmqrrrdk .style-kmqrrrdm__root:disabled {
  background: #e2e2e2;
}

#comp-kmqrrrdk .style-kmqrrrdm__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdk .style-kmqrrrdm__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdk .style-kmqrrrdm__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmqrrrdk .style-kmqrrrdm__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmqrrrdk .style-kmqrrrdm__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmqrrrdk .style-kmqrrrdm__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmqrrrdk .style-kmqrrrdm__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdn .style-kmqrrrdp__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdn .style-kmqrrrdp__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmqrrrdn .style-kmqrrrdp__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmqrrrdn .style-kmqrrrdp__root:disabled {
  background: #e2e2e2;
}

#comp-kmqrrrdn .style-kmqrrrdp__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdn .style-kmqrrrdp__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdn .style-kmqrrrdp__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmqrrrdn .style-kmqrrrdp__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmqrrrdn .style-kmqrrrdp__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmqrrrdn .style-kmqrrrdp__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmqrrrdn .style-kmqrrrdp__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdq .style-kmqrrrds__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdq .style-kmqrrrds__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmqrrrdq .style-kmqrrrds__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmqrrrdq .style-kmqrrrds__root:disabled {
  background: #e2e2e2;
}

#comp-kmqrrrdq .style-kmqrrrds__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdq .style-kmqrrrds__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdq .style-kmqrrrds__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmqrrrdq .style-kmqrrrds__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmqrrrdq .style-kmqrrrds__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmqrrrdq .style-kmqrrrds__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmqrrrdq .style-kmqrrrds__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdt .style-kmqrrrdv__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdt .style-kmqrrrdv__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmqrrrdt .style-kmqrrrdv__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmqrrrdt .style-kmqrrrdv__root:disabled {
  background: #e2e2e2;
}

#comp-kmqrrrdt .style-kmqrrrdv__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdt .style-kmqrrrdv__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdt .style-kmqrrrdv__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmqrrrdt .style-kmqrrrdv__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmqrrrdt .style-kmqrrrdv__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmqrrrdt .style-kmqrrrdv__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdw .style-kmqrrrdy__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdw .style-kmqrrrdy__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kmqrrrdw .style-kmqrrrdy__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kmqrrrdw .style-kmqrrrdy__root:disabled {
  background: #e2e2e2;
}

#comp-kmqrrrdw .style-kmqrrrdy__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdw .style-kmqrrrdy__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdw .style-kmqrrrdy__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kmqrrrdw .style-kmqrrrdy__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kmqrrrdw .style-kmqrrrdy__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kmqrrrdw .style-kmqrrrdy__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kmqrrrdw .style-kmqrrrdy__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrcz .style-kmqrrrd51__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrcz .style-kmqrrrd51__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmqrrrcz .style-kmqrrrd51__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmqrrrcz .style-kmqrrrd51__root[disabled] {
  background: #e2e2e2;
}

#comp-kmqrrrcz
  .style-kmqrrrd51__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrcz
  .style-kmqrrrd51__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrcz .style-kmqrrrd51__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmqrrrcz .style-kmqrrrd51__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmqrrrcz .style-kmqrrrd51__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrd7 .style-kmqrrrda__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrd7 .style-kmqrrrda__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmqrrrd7 .style-kmqrrrda__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmqrrrd7 .style-kmqrrrda__root[disabled] {
  background: #e2e2e2;
}

#comp-kmqrrrd7
  .style-kmqrrrda__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrd7 .style-kmqrrrda__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrd7 .style-kmqrrrda__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmqrrrd7 .style-kmqrrrda__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmqrrrd7 .style-kmqrrrda__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdc .style-kmqrrrde__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kmqrrrdc .style-kmqrrrde__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kmqrrrdc .style-kmqrrrde__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kmqrrrdc .style-kmqrrrde__root[disabled] {
  background: #e2e2e2;
}

#comp-kmqrrrdc
  .style-kmqrrrde__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kmqrrrdc .style-kmqrrrde__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kmqrrrdc .style-kmqrrrde__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kmqrrrdc .style-kmqrrrde__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kmqrrrdc .style-kmqrrrde__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kmqrrrbu1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmqrrrc32 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kmqrrrc9 svg [data-color="1"] {
  fill: #454a6e;
}
