._2_Pya {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
._1s0Ge {
  transition: 0.2s ease-in;
  transform: translateY(-100%);
}
._3-JNd {
  transition: 0.2s;
  transform: translateY(0);
}
.FxFZJ {
  transition: 0.2s ease-in;
  opacity: 0;
  visibility: hidden;
}
.lSyDa {
  transition: 0.2s;
  opacity: 1;
}
._1jI8r {
  height: auto;
}
._1jI8r,
._2qN73 {
  position: relative;
  width: 100%;
}
body:not(.device-mobile-optimized) ._1M8CM {
  margin-left: calc((100% - var(--site-width)) / 2);
  width: var(--site-width);
}
._17W7D,
.UZpZM ._1M8CM {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.s0eeT {
  cursor: pointer;
}
.TG-Zk {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: var(--opacity);
  fill: var(--fill);
  fill-opacity: var(--fill-opacity);
  stroke: var(--stroke);
  stroke-opacity: var(--stroke-opacity);
  stroke-width: var(--stroke-width);
  transform: var(--flip);
  filter: var(--drop-shadow, none);
}
.TG-Zk,
.TG-Zk svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.TG-Zk svg {
  width: var(--svg-calculated-width, 100%);
  height: var(--svg-calculated-height, 100%);
  padding: var(--svg-calculated-padding, 0);
  margin: auto;
}
._1UnNA * {
  vector-effect: non-scaling-stroke;
}
._27iav svg,
._37OKp svg {
  overflow: visible !important;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .TG-Zk._37OKp {
      will-change: filter;
    }
  }
}
._2HrZd {
  opacity: 0;
}
._2fuJI {
  transition: opacity var(--transition-duration) cubic-bezier(0.37, 0, 0.63, 1);
}
._2fuJI,
.g0xNe {
  opacity: 1;
}
.PeTAs {
  transition: opacity var(--transition-duration) cubic-bezier(0.37, 0, 0.63, 1);
}
._1IGjY,
.PeTAs {
  opacity: 0;
}
.Ic0Mb {
  transition: opacity var(--transition-duration) cubic-bezier(0.64, 0, 0.78, 0);
}
.Ic0Mb,
.WjNI2 {
  opacity: 1;
}
.Y5LuX {
  opacity: 0;
  transition: opacity var(--transition-duration) cubic-bezier(0.22, 1, 0.36, 1);
}
._3P3IS {
  transform: translateX(100%);
}
._1vZD6 {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1vZD6,
.AM-g_ {
  transform: translateX(0);
}
._1MVJv {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1MVJv,
._2uVRM {
  transform: translateX(-100%);
}
._2kt-u {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._2kt-u,
._3f6Db {
  transform: translateX(0);
}
._3u3Qg {
  transform: translateX(100%);
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._2LoMk {
  transform: translateY(100%);
}
._3VRRq {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._3VRRq,
._8b5uM {
  transform: translateY(0);
}
._1c8N5 {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._1c8N5,
._1SRt2 {
  transform: translateY(-100%);
}
.mMep- {
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
._3jOkM,
.mMep- {
  transform: translateY(0);
}
._1hGK7 {
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
.StylableButton1872886392__root {
  -archetype: box;
  cursor: pointer;
  border: none;
  display: block;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
}
.StylableButton1872886392__root[disabled] {
  pointer-events: none;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBackgroundColor {
  background-color: var(--corvid-background-color) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderColor {
  border-color: var(--corvid-border-color) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderRadius {
  border-radius: var(--corvid-border-radius) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasBorderWidth {
  border-width: var(--corvid-border-width) !important;
}
.StylableButton1872886392__root.StylableButton1872886392--hasColor,
.StylableButton1872886392__root.StylableButton1872886392--hasColor
  .StylableButton1872886392__label {
  color: var(--corvid-color) !important;
}
.StylableButton1872886392__link {
  -archetype: box;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}
.StylableButton1872886392__container {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease, visibility 0s;
}
.StylableButton1872886392__label {
  -archetype: text;
  -controller-part-type: LayoutChildDisplayDropdown,
    LayoutFlexChildSpacing(first);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 1.8em;
  max-width: 100%;
  transition: inherit;
}
.StylableButton1872886392__icon {
  -archetype: icon;
  -controller-part-type: LayoutChildDisplayDropdown,
    LayoutFlexChildSpacing(last);
  min-width: 1px;
  height: 50px;
  transition: inherit;
  flex-shrink: 0;
}
.StylableButton1872886392__icon > div,
.StylableButton1872886392__icon svg {
  display: flex;
  width: inherit;
  height: inherit;
}
.GFY_- {
  pointer-events: none;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
._2Yk_Z {
  cursor: pointer;
}
ol.font_100,
ul.font_100 {
  color: #080808;
  font-family: "Arial, Helvetica, sans-serif", serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
}
ol.font_100 li,
ul.font_100 li {
  margin-bottom: 12px;
}
ol.wix-list-text-align,
ul.wix-list-text-align {
  list-style-position: inside;
}
ol.wix-list-text-align h1,
ol.wix-list-text-align h2,
ol.wix-list-text-align h3,
ol.wix-list-text-align h4,
ol.wix-list-text-align h5,
ol.wix-list-text-align h6,
ol.wix-list-text-align p,
ul.wix-list-text-align h1,
ul.wix-list-text-align h2,
ul.wix-list-text-align h3,
ul.wix-list-text-align h4,
ul.wix-list-text-align h5,
ul.wix-list-text-align h6,
ul.wix-list-text-align p {
  display: inline;
}
._2tuyK {
  cursor: pointer;
}
.XcBF6 ._1cEyW {
  position: relative;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.XcBF6 ._1cEyW ul {
  list-style: disc inside;
}
.XcBF6 ._1cEyW li {
  margin-bottom: 12px;
}
._2bafp blockquote,
._2bafp h1,
._2bafp h2,
._2bafp h3,
._2bafp h4,
._2bafp h5,
._2bafp h6,
._2bafp p {
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X ._1cEyW {
  position: relative;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.lJm9X ._1cEyW ol,
.lJm9X ._1cEyW ul {
  padding-left: 1.3em;
  margin-left: 0.5em;
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X ._1cEyW ol[dir="rtl"],
.lJm9X ._1cEyW ul[dir="rtl"] {
  padding-right: 1.3em;
  margin-right: 0.5em;
}
.lJm9X ._1cEyW ul {
  list-style-type: disc;
}
.lJm9X ._1cEyW ol {
  list-style-type: decimal;
}
.lJm9X ._1cEyW ol[dir="rtl"],
.lJm9X ._1cEyW ul[dir="rtl"] {
  padding-right: 1.3em;
  margin-right: 0.5em;
}
.lJm9X ._1cEyW ol ul,
.lJm9X ._1cEyW ul ul {
  list-style-type: circle;
  line-height: normal;
}
.lJm9X ._1cEyW ol ol ul,
.lJm9X ._1cEyW ol ul ul,
.lJm9X ._1cEyW ul ol ul,
.lJm9X ._1cEyW ul ul ul {
  list-style-type: square;
  line-height: normal;
}
.lJm9X ._1cEyW li {
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
.lJm9X ._1cEyW h1,
.lJm9X ._1cEyW h2,
.lJm9X ._1cEyW h3,
.lJm9X ._1cEyW h4,
.lJm9X ._1cEyW h5,
.lJm9X ._1cEyW h6,
.lJm9X ._1cEyW p {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.lJm9X ._1cEyW a {
  color: inherit;
}
._2bafp,
.afVXQ {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  pointer-events: none;
}
._2bafp > *,
.afVXQ > * {
  pointer-events: auto;
}
._2bafp li,
.afVXQ li {
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
._2bafp ol,
._2bafp ul,
.afVXQ ol,
.afVXQ ul {
  padding-left: 1.3em;
  padding-right: 0;
  margin-left: 0.5em;
  margin-right: 0;
  line-height: normal;
  letter-spacing: normal;
}
._2bafp ul,
.afVXQ ul {
  list-style-type: disc;
}
._2bafp ol,
.afVXQ ol {
  list-style-type: decimal;
}
._2bafp ol ul,
._2bafp ul ul,
.afVXQ ol ul,
.afVXQ ul ul {
  list-style-type: circle;
}
._2bafp ol ol ul,
._2bafp ol ul ul,
._2bafp ul ol ul,
._2bafp ul ul ul,
.afVXQ ol ol ul,
.afVXQ ol ul ul,
.afVXQ ul ol ul,
.afVXQ ul ul ul {
  list-style-type: square;
}
._2bafp ol[dir="rtl"],
._2bafp ol[dir="rtl"] ol,
._2bafp ol[dir="rtl"] ul,
._2bafp ul[dir="rtl"],
._2bafp ul[dir="rtl"] ol,
._2bafp ul[dir="rtl"] ul,
.afVXQ ol[dir="rtl"],
.afVXQ ol[dir="rtl"] ol,
.afVXQ ol[dir="rtl"] ul,
.afVXQ ul[dir="rtl"],
.afVXQ ul[dir="rtl"] ol,
.afVXQ ul[dir="rtl"] ul {
  padding-left: 0;
  padding-right: 1.3em;
  margin-left: 0;
  margin-right: 0.5em;
}
._2bafp blockquote,
._2bafp h1,
._2bafp h2,
._2bafp h3,
._2bafp h4,
._2bafp h5,
._2bafp h6,
._2bafp p,
.afVXQ blockquote,
.afVXQ h1,
.afVXQ h2,
.afVXQ h3,
.afVXQ h4,
.afVXQ h5,
.afVXQ h6,
.afVXQ p {
  margin: 0;
}
._2bafp a,
.afVXQ a {
  color: inherit;
}
._3tDhR {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
._3tDhR > div {
  justify-self: stretch !important;
  align-self: stretch !important;
}
._2oJTp {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - var(--wix-ads-height));
  margin-top: var(--wix-ads-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
._1PGFM,
._2oJTp {
  pointer-events: none;
  z-index: var(--pinned-layer-in-container, var(--above-all-in-container));
}

._2_2nr {
  --container-corvid-background-color: rgba(
    var(--bg, var(--color_11)),
    var(--alpha-bg, 1)
  );
}
._3oi4n {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
}

[data-mesh-id="comp-km20depdinlineContent"] {
  height: auto;
}
[data-mesh-id="comp-km20depdinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-km20depdinlineContent-gridContainer"]
  > [id="comp-km20depj"] {
  position: relative;
  margin: 34px 0px 35px 0;
  /* left: 480px; */
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2647px;
  grid-template-rows: repeat(8, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-km20depd"] {
  position: relative;
width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-km22y61x"] {
  position: relative;
  margin: 52px 0 41px 0;
  left: 0;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-km20depl1"] {
  position: relative;
  margin: 35px 0px 0 calc((100% - 980px) * 0.5);
  left: 84px;
  grid-area: 3 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-km239kes"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-km239wlb"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-gridContainer"]
  > [id="comp-kmo0kpzr"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 190px;
  grid-area: 2 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6h3vinlineContent-wedge-5"] {
  visibility: hidden;
  height: 958px;
  width: 0;
  grid-area: 3 / 1 / 6 / 2;
}
[data-mesh-id="Containert6h3vinlineContent-wedge-8"] {
  visibility: hidden;
  height: 1780px;
  width: 0;
  grid-area: 3 / 1 / 8 / 2;
}
#t6h3v {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-km22y61x {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-km20depl1 {
  width: 812px;
  height: 2414px;
}
#comp-km239kes {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-km239wlb {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kmo0kpzr {
  width: 600px;
  height: 358px;
}
#comp-km20depj {
  width: 563px;
  height: 52px;
}
#masterPage {
  --pinned-layers-in-page: 0;
}

#t6h3v {
  width: auto;
  min-height: 2647px;
}
#comp-km20depd {
  --bg: 60, 64, 82;
  --alpha-bg: 1;
  --shc-mutated-brightness: 30, 32, 41;
}
#comp-km20depl1 {
  min-height: 2414px;
  height: auto;
}
#comp-kmo0kpzr {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 358px;
  --width: 600px;
}
#comp-km20depj {
  min-height: 31px;
  height: auto;
}
#pageBackground_t6h3v {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --fill-layer-background-overlay-color: transparent;
  --fill-layer-background-overlay-position: absolute;
}
