[data-mesh-id="comp-klnnztnoinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztny2"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnzto21"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnzto4"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztod"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztoe2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztog2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztoi2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztok1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztoo"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztop2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztor"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztos2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztou"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztow"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztox3"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztp0"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-klnnztp12"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztnoinlineContent-gridContainer"]
  > [id="comp-kmdpjnfa"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpd1"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpg1"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztph3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpj1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpl"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpm2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpo"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpp2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpr1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpt"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpu1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztpainlineContent-gridContainer"]
  > [id="comp-klnnztpw"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqe1"] {
  position: relative;
  margin: 47px 0px 34px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnwuvc1"] {
  position: relative;
  margin: 47px 0px 10px calc((100% - 980px) * 0.5);
  left: 243px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqg"] {
  position: relative;
  margin: 0px 0px -1px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqh"] {
  position: relative;
  margin: 0px 0px 15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqm"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqo1"] {
  position: relative;
  margin: 0px 0px 32px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqs1"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqu"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqv1"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztqz1"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztr32"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztr82"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztra1"] {
  position: relative;
  margin: 0px 0px 36px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztrc"] {
  position: relative;
  margin: 0px 0px 29px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztrd"] {
  position: relative;
  margin: 0px 0px 58px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztrh"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztrj2"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqainlineContent-gridContainer"]
  > [id="comp-klnnztrl"] {
  position: relative;
  margin: 367px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqv1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klnnztqv1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztqv1inlineContent-gridContainer"]
  > [id="comp-klnnztqw2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqv1inlineContent-gridContainer"]
  > [id="comp-klnnztqy1"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqz1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klnnztqz1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztqz1inlineContent-gridContainer"]
  > [id="comp-klnnztr02"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztqz1inlineContent-gridContainer"]
  > [id="comp-klnnztr2"] {
  position: relative;
  margin: 0px 0px 10px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztr32inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klnnztr32inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klnnztr32inlineContent-gridContainer"]
  > [id="comp-klnnztr42"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klnnztr32inlineContent-gridContainer"]
  > [id="comp-klnnztr72"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-kmag13nw"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztnb"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztp8"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztpy"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztq01"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztq42"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrm2"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztro"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztro3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrq"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrs1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrt3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrv"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrw"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrx"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-gridContainer"]
  > [id="comp-klnnztrx3"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containert6nicinlineContent-wedge-8"] {
  visibility: hidden;
  height: 560px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containert6nicinlineContent-wedge-10"] {
  visibility: hidden;
  height: 994px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containert6nicinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1262px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containert6nicinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1387px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klnnztq21 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag13nw {
  width: 310px;
  height: 38px;
}
#comp-klnnztpy {
  width: 136px;
  height: 40px;
}
#comp-klnnztq01 {
  width: 136px;
  height: 135px;
}
#comp-klnnztrm2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnztro {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnztro3 {
  width: 192px;
  height: 52px;
}
#comp-klnnztrq {
  width: 192px;
  height: 52px;
}
#comp-klnnztrs1 {
  width: 192px;
  height: 52px;
}
#comp-klnnztrt3 {
  width: 192px;
  height: 52px;
}
#comp-klnnztrv {
  width: 192px;
  height: 52px;
}
#comp-klnnztrw {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnztrx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnztrx3 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klnnztny2 {
  width: 5px;
  height: 246px;
}
#comp-klnnzto21 {
  width: 5px;
  height: 246px;
}
#comp-klnnzto4 {
  width: 20px;
  height: 19px;
}
#comp-klnnztod {
  width: 20px;
  height: 19px;
}
#comp-klnnztoe2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztog2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztoi2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztok1 {
  width: 20px;
  height: 19px;
}
#comp-klnnztoo {
  width: 20px;
  height: 19px;
}
#comp-klnnztop2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztor {
  width: 20px;
  height: 19px;
}
#comp-klnnztos2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztou {
  width: 20px;
  height: 19px;
}
#comp-klnnztow {
  width: 20px;
  height: 19px;
}
#comp-klnnztox3 {
  width: 20px;
  height: 19px;
}
#comp-klnnztp0 {
  width: 20px;
  height: 19px;
}
#comp-klnnztp12 {
  width: 20px;
  height: 19px;
}
#comp-kmdpjnfa {
  width: 600px;
  height: 290px;
}
#comp-klnnztpd1 {
  width: 382px;
  height: 245px;
}
#comp-klnnztpg1 {
  width: 320px;
  height: 232px;
}
#comp-klnnztph3 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpj1 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpl {
  width: 20px;
  height: 19px;
}
#comp-klnnztpm2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpo {
  width: 20px;
  height: 19px;
}
#comp-klnnztpp2 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpr1 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpt {
  width: 20px;
  height: 19px;
}
#comp-klnnztpu1 {
  width: 20px;
  height: 19px;
}
#comp-klnnztpw {
  width: 20px;
  height: 19px;
}
#comp-klnnztqe1 {
  width: 224px;
  height: 96px;
}
#comp-klnwuvc1 {
  width: 224px;
  height: 58px;
}
#comp-klnnztqg {
  width: 979px;
  height: 384px;
  scroll-margin-top: 100px;
}
#comp-klnnztqh {
  width: 979px;
  height: 5px;
}
#comp-klnnztqm {
  width: 921px;
  height: 324px;
  scroll-margin-top: 100px;
}
#comp-klnnztqo1 {
  width: 123px;
  height: 40px;
}
#comp-klnnztqs1 {
  width: 979px;
  height: 5px;
}
#comp-klnnztqu {
  width: 979px;
  height: 78px;
  scroll-margin-top: 100px;
}
#comp-klnnztr82 {
  width: 979px;
  height: 5px;
}
#comp-klnnztra1 {
  width: 979px;
  height: 77px;
  scroll-margin-top: 95px;
}
#comp-klnnztrc {
  width: 979px;
  height: 5px;
}
#comp-klnnztrd {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-klnnztrh {
  width: 121px;
  height: 40px;
}
#comp-klnnztrj2 {
  width: 121px;
  height: 40px;
}
#comp-klnnztrl {
  width: 121px;
  height: 40px;
}
#comp-klnnztqw2 {
  width: 58px;
  height: 40px;
}
#comp-klnnztqy1 {
  width: 158px;
  height: 43px;
}
#comp-klnnztr02 {
  width: 43px;
  height: 40px;
}
#comp-klnnztr2 {
  width: 151px;
  height: 67px;
}
#comp-klnnztr42 {
  width: 32px;
  height: 40px;
}
#comp-klnnztr72 {
  width: 143px;
  height: 43px;
}
#t6nic {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klnnztnb {
  width: 980px;
}
#comp-klnnztp8 {
  width: 980px;
}
#comp-klnnztq42 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klnnztno {
  width: 980px;
}
#comp-klnnztpa {
  width: 980px;
}
#comp-klnnztqa {
  width: 980px;
}
#comp-klnnztqv1 {
  width: 223px;
}
#comp-klnnztqz1 {
  width: 223px;
}
#comp-klnnztr32 {
  width: 223px;
}
#comp-klnnztq21-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag13nw {
  height: auto;
}
#comp-klnnztpy {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-txth: 1;
  --alpha-brdh: 0;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --boxShadowToggleOn-shd: none;
  --alpha-txt: 1;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klnnztq01 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klnnztq21 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klnnztny2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klnnzto21 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klnnzto4 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztod {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztoe2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztog2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztoi2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztok1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztoo {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztop2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztor {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztos2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztou {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztow {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztox3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztp0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztp12 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpjnfa {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klnnztpd1 {
  --min-height: 185px;
  height: auto;
}
#comp-klnnztpg1 {
  --min-height: 210px;
  height: auto;
}
#comp-klnnztph3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpl {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpm2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpo {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpp2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpr1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpt {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpu1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztpw {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klnnztqe1 {
  height: auto;
}
#comp-klnwuvc1 {
  height: auto;
}
#comp-klnnztqg {
  --min-height: 347px;
  height: auto;
}
#comp-klnnztqh {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klnnztqm {
  --min-height: 324px;
  height: auto;
}
#comp-klnnztqo1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-txth: 1;
  --alpha-brdh: 0;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --boxShadowToggleOn-shd: none;
  --alpha-txt: 1;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klnnztqs1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klnnztqu {
  --min-height: 78px;
  height: auto;
}
#comp-klnnztr82 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klnnztra1 {
  height: auto;
}
#comp-klnnztrc {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klnnztqw2 {
  --opacity: 1;
}
#comp-klnnztqy1 {
  height: auto;
}
#comp-klnnztr02 {
  --opacity: 1;
}
#comp-klnnztr2 {
  --min-height: 67px;
  height: auto;
}
#comp-klnnztr42 {
  --opacity: 1;
}
#comp-klnnztr72 {
  height: auto;
}
#t6nic {
  width: auto;
}
#comp-klnnztnb {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klnnztp8 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klnnztq42 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klnnztno {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klnnztpa {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klnnztqa {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klnnztqv1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klnnztqz1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klnnztr32 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_t6nic {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztro3 .style-klv8uzeh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztro3 .style-klv8uzeh__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klnnztro3 .style-klv8uzeh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klnnztro3 .style-klv8uzeh__root:disabled {
  background: #e2e2e2;
}

#comp-klnnztro3
  .style-klv8uzeh__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztro3 .style-klv8uzeh__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztro3 .style-klv8uzeh__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klnnztro3 .style-klv8uzeh__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klnnztro3 .style-klv8uzeh__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klnnztro3 .style-klv8uzeh__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klnnztro3 .style-klv8uzeh__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrq .style-klv8vf6b__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrq .style-klv8vf6b__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klnnztrq .style-klv8vf6b__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klnnztrq .style-klv8vf6b__root:disabled {
  background: #e2e2e2;
}

#comp-klnnztrq .style-klv8vf6b__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrq .style-klv8vf6b__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrq .style-klv8vf6b__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klnnztrq .style-klv8vf6b__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klnnztrq .style-klv8vf6b__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klnnztrq .style-klv8vf6b__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klnnztrq .style-klv8vf6b__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrs1 .style-klv8vnh2__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrs1 .style-klv8vnh2__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klnnztrs1 .style-klv8vnh2__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klnnztrs1 .style-klv8vnh2__root:disabled {
  background: #e2e2e2;
}

#comp-klnnztrs1
  .style-klv8vnh2__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrs1 .style-klv8vnh2__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrs1 .style-klv8vnh2__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klnnztrs1 .style-klv8vnh2__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klnnztrs1 .style-klv8vnh2__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klnnztrs1 .style-klv8vnh2__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klnnztrs1 .style-klv8vnh2__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrt3 .style-klv8vu89__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrt3 .style-klv8vu89__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klnnztrt3 .style-klv8vu89__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klnnztrt3 .style-klv8vu89__root:disabled {
  background: #e2e2e2;
}

#comp-klnnztrt3
  .style-klv8vu89__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrt3 .style-klv8vu89__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrt3 .style-klv8vu89__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klnnztrt3 .style-klv8vu89__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klnnztrt3 .style-klv8vu89__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klnnztrt3 .style-klv8vu89__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrv .style-klv8wco0__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrv .style-klv8wco0__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klnnztrv .style-klv8wco0__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klnnztrv .style-klv8wco0__root:disabled {
  background: #e2e2e2;
}

#comp-klnnztrv .style-klv8wco0__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrv .style-klv8wco0__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrv .style-klv8wco0__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klnnztrv .style-klv8wco0__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klnnztrv .style-klv8wco0__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klnnztrv .style-klv8wco0__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klnnztrv .style-klv8wco0__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrh .style-klv8yhnh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrh .style-klv8yhnh__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klnnztrh .style-klv8yhnh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klnnztrh .style-klv8yhnh__root[disabled] {
  background: #e2e2e2;
}

#comp-klnnztrh
  .style-klv8yhnh__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrh .style-klv8yhnh__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrh .style-klv8yhnh__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klnnztrh .style-klv8yhnh__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klnnztrh .style-klv8yhnh__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrj2 .style-klv8ynos__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrj2 .style-klv8ynos__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klnnztrj2 .style-klv8ynos__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klnnztrj2 .style-klv8ynos__root[disabled] {
  background: #e2e2e2;
}

#comp-klnnztrj2
  .style-klv8ynos__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrj2
  .style-klv8ynos__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrj2 .style-klv8ynos__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klnnztrj2 .style-klv8ynos__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klnnztrj2 .style-klv8ynos__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klnnztrl .style-klv8ytxe__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klnnztrl .style-klv8ytxe__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klnnztrl .style-klv8ytxe__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klnnztrl .style-klv8ytxe__root[disabled] {
  background: #e2e2e2;
}

#comp-klnnztrl
  .style-klv8ytxe__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klnnztrl .style-klv8ytxe__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klnnztrl .style-klv8ytxe__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klnnztrl .style-klv8ytxe__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klnnztrl .style-klv8ytxe__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klnnztqw2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klnnztr02 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klnnztr42 svg [data-color="1"] {
  fill: #454a6e;
}
