[data-mesh-id="comp-klmbbrycinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbryk"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrym1"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbryq2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbryv"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbryx1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbryz2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrz12"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrz31"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrz5"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrz7"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrz82"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrza1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrzc"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrze1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrzg1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrzi1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-klmbbrzk2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrycinlineContent-gridContainer"]
  > [id="comp-kmdpetk0"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbrzv"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbrzx1"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbrzz"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs01"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs022"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs041"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs06"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs072"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs09"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs0b"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs0d1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbrzrinlineContent-gridContainer"]
  > [id="comp-klmbbs0f2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(11, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs0x"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs0y1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs0z2"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs111"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs15"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs17"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs19"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1b1"] {
  position: relative;
  margin: 0px 0px 66px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1g2"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1k3"] {
  position: relative;
  margin: 0px 0px 66px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1s"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1u"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1w"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs1y"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs211"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 91px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs232"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs0tinlineContent-gridContainer"]
  > [id="comp-klmbbs26"] {
  position: relative;
  margin: 359px 0px 64px calc((100% - 980px) * 0.5);
  left: 771px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1b1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmbbs1b1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbs1b1inlineContent-gridContainer"]
  > [id="comp-klmbbs1d2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1b1inlineContent-gridContainer"]
  > [id="comp-klmbbs1f1"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1g2inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmbbs1g2inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbs1g2inlineContent-gridContainer"]
  > [id="comp-klmbbs1i"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1g2inlineContent-gridContainer"]
  > [id="comp-klmbbs1j2"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1k3inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmbbs1k3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmbbs1k3inlineContent-gridContainer"]
  > [id="comp-klmbbs1m"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmbbs1k3inlineContent-gridContainer"]
  > [id="comp-klmbbs1q"] {
  position: relative;
  margin: 0px 0px 34px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-kmafwdcz"] {
  position: relative;
  margin: 11px 0px 27px calc((100% - 980px) * 0.5);
  left: 355px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbry6"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbrzo1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs0h1"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs0j1"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs0o"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs272"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs29"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2a"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2b2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2d"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2e2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2g"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2h1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2i1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-gridContainer"]
  > [id="comp-klmbbs2j"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerd3wjtinlineContent-wedge-8"] {
  visibility: hidden;
  height: 915px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="Containerd3wjtinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1833px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="Containerd3wjtinlineContent-wedge-12"] {
  visibility: hidden;
  height: 2141px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="Containerd3wjtinlineContent-wedge-14"] {
  visibility: hidden;
  height: 2403px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klmbbs0l1 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafwdcz {
  width: 310px;
  height: 38px;
}
#comp-klmbbs0h1 {
  width: 136px;
  height: 40px;
}
#comp-klmbbs0j1 {
  width: 136px;
  height: 135px;
}
#comp-klmbbs272 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbbs29 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbbs2a {
  width: 192px;
  height: 52px;
}
#comp-klmbbs2b2 {
  width: 192px;
  height: 52px;
}
#comp-klmbbs2d {
  width: 192px;
  height: 52px;
}
#comp-klmbbs2e2 {
  width: 192px;
  height: 52px;
}
#comp-klmbbs2g {
  width: 192px;
  height: 52px;
}
#comp-klmbbs2h1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbbs2i1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbbs2j {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmbbryk {
  width: 5px;
  height: 246px;
}
#comp-klmbbrym1 {
  width: 5px;
  height: 246px;
}
#comp-klmbbryq2 {
  width: 20px;
  height: 19px;
}
#comp-klmbbryv {
  width: 20px;
  height: 19px;
}
#comp-klmbbryx1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbryz2 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrz12 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrz31 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrz5 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrz7 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrz82 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrza1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrzc {
  width: 20px;
  height: 19px;
}
#comp-klmbbrze1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrzg1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrzi1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbrzk2 {
  width: 20px;
  height: 19px;
}
#comp-kmdpetk0 {
  width: 600px;
  height: 290px;
}
#comp-klmbbrzv {
  width: 382px;
  height: 245px;
}
#comp-klmbbrzx1 {
  width: 320px;
  height: 232px;
}
#comp-klmbbrzz {
  width: 20px;
  height: 19px;
}
#comp-klmbbs01 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs022 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs041 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs06 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs072 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs09 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs0b {
  width: 20px;
  height: 19px;
}
#comp-klmbbs0d1 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs0f2 {
  width: 20px;
  height: 19px;
}
#comp-klmbbs0x {
  width: 979px;
  height: 58px;
  scroll-margin-top: 100px;
}
#comp-klmbbs0y1 {
  width: 979px;
  height: 787px;
}
#comp-klmbbs0z2 {
  width: 979px;
  height: 5px;
}
#comp-klmbbs111 {
  width: 979px;
  height: 845px;
  scroll-margin-top: 95px;
}
#comp-klmbbs15 {
  width: 123px;
  height: 40px;
}
#comp-klmbbs17 {
  width: 979px;
  height: 5px;
}
#comp-klmbbs19 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klmbbs1s {
  width: 979px;
  height: 5px;
}
#comp-klmbbs1u {
  width: 979px;
  height: 211px;
  scroll-margin-top: 95px;
}
#comp-klmbbs1w {
  width: 979px;
  height: 5px;
}
#comp-klmbbs1y {
  width: 979px;
  height: 453px;
}
#comp-klmbbs211 {
  width: 121px;
  height: 40px;
}
#comp-klmbbs232 {
  width: 121px;
  height: 40px;
}
#comp-klmbbs26 {
  width: 121px;
  height: 40px;
}
#comp-klmbbs1d2 {
  width: 58px;
  height: 40px;
}
#comp-klmbbs1f1 {
  width: 158px;
  height: 43px;
}
#comp-klmbbs1i {
  width: 43px;
  height: 40px;
}
#comp-klmbbs1j2 {
  width: 151px;
  height: 48px;
}
#comp-klmbbs1m {
  width: 32px;
  height: 40px;
}
#comp-klmbbs1q {
  width: 143px;
  height: 43px;
}
#d3wjt {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmbbry6 {
  width: 980px;
}
#comp-klmbbrzo1 {
  width: 980px;
}
#comp-klmbbs0o {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmbbryc {
  width: 980px;
}
#comp-klmbbrzr {
  width: 980px;
}
#comp-klmbbs0t {
  width: 980px;
}
#comp-klmbbs1b1 {
  width: 223px;
}
#comp-klmbbs1g2 {
  width: 223px;
}
#comp-klmbbs1k3 {
  width: 223px;
}
#comp-klmbbs0l1-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafwdcz {
  height: auto;
}
#comp-klmbbs0h1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmbbs0j1 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klmbbs0l1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klmbbryk {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmbbrym1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmbbryq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbryv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbryx1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbryz2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrz12 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrz31 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrz5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrz7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrz82 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrza1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrzc {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrze1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrzg1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrzi1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbrzk2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpetk0 {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klmbbrzv {
  --min-height: 185px;
  height: auto;
}
#comp-klmbbrzx1 {
  --min-height: 210px;
  height: auto;
}
#comp-klmbbrzz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs01 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs022 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs041 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs06 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs072 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs09 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs0b {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs0d1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs0f2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmbbs0x {
  height: auto;
}
#comp-klmbbs0y1 {
  height: auto;
}
#comp-klmbbs0z2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmbbs111 {
  height: auto;
}
#comp-klmbbs15 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmbbs17 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmbbs19 {
  --min-height: 78px;
  height: auto;
}
#comp-klmbbs1s {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmbbs1u {
  --min-height: 78px;
  height: auto;
}
#comp-klmbbs1w {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmbbs1d2 {
  --opacity: 1;
}
#comp-klmbbs1f1 {
  height: auto;
}
#comp-klmbbs1i {
  --opacity: 1;
}
#comp-klmbbs1j2 {
  height: auto;
}
#comp-klmbbs1m {
  --opacity: 1;
}
#comp-klmbbs1q {
  height: auto;
}
#d3wjt {
  width: auto;
  min-height: 2420px;
}
#comp-klmbbry6 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmbbrzo1 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmbbs0o {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmbbryc {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmbbrzr {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmbbs0t {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmbbs1b1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmbbs1g2 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmbbs1k3 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_d3wjt {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs2a .style-klv8e8dj__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

#comp-klmbbs2a .style-klv8e8dj__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmbbs2a .style-klv8e8dj__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmbbs2a .style-klv8e8dj__root:disabled {
  background: #e2e2e2;
}

#comp-klmbbs2a .style-klv8e8dj__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs2a .style-klv8e8dj__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs2a .style-klv8e8dj__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmbbs2a .style-klv8e8dj__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmbbs2a .style-klv8e8dj__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmbbs2a .style-klv8e8dj__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmbbs2a .style-klv8e8dj__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs2b2 .style-klv8efgw__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs2b2 .style-klv8efgw__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmbbs2b2 .style-klv8efgw__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmbbs2b2 .style-klv8efgw__root:disabled {
  background: #e2e2e2;
}

#comp-klmbbs2b2
  .style-klv8efgw__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs2b2 .style-klv8efgw__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs2b2 .style-klv8efgw__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmbbs2b2 .style-klv8efgw__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmbbs2b2 .style-klv8efgw__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmbbs2b2 .style-klv8efgw__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmbbs2b2 .style-klv8efgw__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs2d .style-klv8ekl4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs2d .style-klv8ekl4__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmbbs2d .style-klv8ekl4__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmbbs2d .style-klv8ekl4__root:disabled {
  background: #e2e2e2;
}

#comp-klmbbs2d .style-klv8ekl4__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs2d .style-klv8ekl4__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs2d .style-klv8ekl4__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmbbs2d .style-klv8ekl4__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmbbs2d .style-klv8ekl4__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmbbs2d .style-klv8ekl4__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmbbs2d .style-klv8ekl4__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs2e2 .style-klv8eq05__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs2e2 .style-klv8eq05__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmbbs2e2 .style-klv8eq05__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmbbs2e2 .style-klv8eq05__root:disabled {
  background: #e2e2e2;
}

#comp-klmbbs2e2
  .style-klv8eq05__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs2e2 .style-klv8eq05__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs2e2 .style-klv8eq05__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmbbs2e2 .style-klv8eq05__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmbbs2e2 .style-klv8eq05__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmbbs2e2 .style-klv8eq05__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs2g .style-klv8ewra__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs2g .style-klv8ewra__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmbbs2g .style-klv8ewra__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmbbs2g .style-klv8ewra__root:disabled {
  background: #e2e2e2;
}

#comp-klmbbs2g .style-klv8ewra__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs2g .style-klv8ewra__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs2g .style-klv8ewra__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmbbs2g .style-klv8ewra__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmbbs2g .style-klv8ewra__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmbbs2g .style-klv8ewra__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmbbs2g .style-klv8ewra__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs211 .style-klv8gk7o__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs211 .style-klv8gk7o__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmbbs211 .style-klv8gk7o__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmbbs211 .style-klv8gk7o__root[disabled] {
  background: #e2e2e2;
}

#comp-klmbbs211
  .style-klv8gk7o__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs211
  .style-klv8gk7o__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs211 .style-klv8gk7o__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmbbs211 .style-klv8gk7o__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 15px;
}

#comp-klmbbs211 .style-klv8gk7o__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs232 .style-klv8gqbg__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs232 .style-klv8gqbg__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmbbs232 .style-klv8gqbg__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmbbs232 .style-klv8gqbg__root[disabled] {
  background: #e2e2e2;
}

#comp-klmbbs232
  .style-klv8gqbg__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs232
  .style-klv8gqbg__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs232 .style-klv8gqbg__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmbbs232 .style-klv8gqbg__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 15px;
}

#comp-klmbbs232 .style-klv8gqbg__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmbbs26 .style-klv8gzro__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmbbs26 .style-klv8gzro__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klmbbs26 .style-klv8gzro__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klmbbs26 .style-klv8gzro__root[disabled] {
  background: #e2e2e2;
}

#comp-klmbbs26
  .style-klv8gzro__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmbbs26 .style-klv8gzro__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmbbs26 .style-klv8gzro__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klmbbs26 .style-klv8gzro__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 15px;
}

#comp-klmbbs26 .style-klv8gzro__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klmbbs1d2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klmbbs1i svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klmbbs1m svg [data-color="1"] {
  fill: #454a6e;
}
