[data-mesh-id="comp-klgjj5nsinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(6, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5og"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 1px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgn6y6t"] {
  position: relative;
  margin: 0px 0px 37px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgn72ig"] {
  position: relative;
  margin: 0px 0px 37px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pc2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pl1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5po"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pq"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5ps"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pu"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pv2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5px"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5pz"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q02"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q41"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q6"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q8"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-klgjj5q92"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5nsinlineContent-gridContainer"]
  > [id="comp-kmdp0lep"] {
  position: relative;
  margin: 0px 0px 0px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5oj1"] {
  position: relative;
  margin: 21px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5pb"] {
  position: relative;
  margin: 0px 0px 34px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qb"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qf"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qh"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qj"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qd1"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qn"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qp"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qq2"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-klgjj5qs1"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5oz1inlineContent-gridContainer"]
  > [id="comp-kll5503w"] {
  position: relative;
  margin: 151px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(13, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgjj5r6"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgjj5r82"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klhxun0n"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgjj5rb1"] {
  position: relative;
  margin: 0px 0px 33px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgmg5v3"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgjj5rh"] {
  position: relative;
  margin: 0px 0px -7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgnnq0h"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klhxv14u"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: -4px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgp9bvu"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgozek4"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgpaxc6"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 376px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgpb053"] {
  position: relative;
  margin: 0px 0px 17px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klhxvay1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgpoklg"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klhxveuk"] {
  position: relative;
  margin: 0px 0px 32px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgq4snw"] {
  position: relative;
  margin: 0px 0px 11px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgqg83x"] {
  position: relative;
  margin: 359px 0px 65px calc((100% - 980px) * 0.5);
  left: 92px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgrbc9k"] {
  position: relative;
  margin: 359px 0px 65px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgjj5r21inlineContent-gridContainer"]
  > [id="comp-klgrbsy0"] {
  position: relative;
  margin: 359px 0px 65px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgozek4inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klgozek4inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgozek4inlineContent-gridContainer"]
  > [id="comp-klgp8ssm"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgozek4inlineContent-gridContainer"]
  > [id="comp-klgp11x1"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgpaxc6inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klgpaxc6inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgpaxc6inlineContent-gridContainer"]
  > [id="comp-klgpaxcx1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgpaxc6inlineContent-gridContainer"]
  > [id="comp-klgpaxd02"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgpb053inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klgpb053inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klgpb053inlineContent-gridContainer"]
  > [id="comp-klgpb05s"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klgpb053inlineContent-gridContainer"]
  > [id="comp-klgpb05u"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2686px;
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-kmafriyd"] {
  position: relative;
  margin: 9px 0px 37px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgjj5mr"] {
  position: relative;
  margin: 0px 0px 37px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgjj5ox"] {
  position: relative;
  margin: 104px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgjj5oo1"] {
  position: relative;
  margin: 130px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgjj5qv2"] {
  position: relative;
  margin: 23px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgnl683"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgnmjyh"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgn0i3o"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgn0xi3"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgn0zwt"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgn12ec"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgn15hg"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgpl9pr"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgpxyg1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-gridContainer"]
  > [id="comp-klgrdn6n"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="Containerrb5vminlineContent-wedge-6"] {
  visibility: hidden;
  height: 457px;
  width: 0;
  grid-area: 3 / 1 / 6 / 2;
}
[data-mesh-id="Containerrb5vminlineContent-wedge-8"] {
  visibility: hidden;
  height: 971px;
  width: 0;
  grid-area: 3 / 1 / 8 / 2;
}
[data-mesh-id="Containerrb5vminlineContent-wedge-10"] {
  visibility: hidden;
  height: 1258px;
  width: 0;
  grid-area: 3 / 1 / 10 / 2;
}
[data-mesh-id="Containerrb5vminlineContent-wedge-12"] {
  visibility: hidden;
  height: 1901px;
  width: 0;
  grid-area: 3 / 1 / 12 / 2;
}
#comp-kljrkt0q {
  transform: rotate(270deg);
  width: 12px;
  height: 28px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 102px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafriyd {
  width: 310px;
  height: 38px;
}
#comp-klgjj5oo1 {
  width: 136px;
  height: 40px;
}
#comp-klgnl683 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgnmjyh {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgn0i3o {
  width: 192px;
  height: 52px;
}
#comp-klgn0xi3 {
  width: 192px;
  height: 52px;
}
#comp-klgn0zwt {
  width: 192px;
  height: 52px;
}
#comp-klgn12ec {
  width: 192px;
  height: 52px;
}
#comp-klgn15hg {
  width: 192px;
  height: 52px;
}
#comp-klgpl9pr {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgpxyg1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgrdn6n {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klgjj5og {
  width: 136px;
  height: 135px;
}
#comp-klgn6y6t {
  width: 5px;
  height: 246px;
}
#comp-klgn72ig {
  width: 5px;
  height: 246px;
}
#comp-klgjj5pc2 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5pl1 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5po {
  width: 20px;
  height: 19px;
}
#comp-klgjj5pq {
  width: 20px;
  height: 19px;
}
#comp-klgjj5ps {
  width: 20px;
  height: 19px;
}
#comp-klgjj5pu {
  width: 20px;
  height: 19px;
}
#comp-klgjj5pv2 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5px {
  width: 20px;
  height: 19px;
}
#comp-klgjj5pz {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q02 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q2 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q41 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q6 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q8 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5q92 {
  width: 20px;
  height: 19px;
}
#comp-kmdp0lep {
  width: 600px;
  height: 289px;
}
#comp-klgjj5oj1 {
  width: 382px;
  height: 245px;
}
#comp-klgjj5pb {
  width: 320px;
  height: 232px;
}
#comp-klgjj5qb {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qf {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qh {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qj {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qd1 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qn {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qp {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qq2 {
  width: 20px;
  height: 19px;
}
#comp-klgjj5qs1 {
  width: 20px;
  height: 19px;
}
#comp-kll5503w {
  width: 20px;
  height: 19px;
}
#comp-klgjj5r6 {
  width: 979px;
  height: 115px;
  scroll-margin-top: 100px;
}
#comp-klgjj5r82 {
  width: 979px;
  height: 249px;
}
#comp-klhxun0n {
  width: 979px;
  height: 5px;
}
#comp-klgjj5rb1 {
  width: 979px;
  height: 192px;
  scroll-margin-top: 95px;
}
#comp-klgmg5v3 {
  width: 979px;
  height: 96px;
}
#comp-klgjj5rh {
  width: 979px;
  height: 102px;
}
#comp-klgnnq0h {
  width: 123px;
  height: 40px;
}
#comp-klhxv14u {
  width: 979px;
  height: 5px;
}
#comp-klgp9bvu {
  width: 979px;
  height: 96px;
  scroll-margin-top: 95px;
}
#comp-klhxvay1 {
  width: 979px;
  height: 5px;
}
#comp-klgpoklg {
  width: 979px;
  height: 589px;
  scroll-margin-top: 95px;
}
#comp-klhxveuk {
  width: 979px;
  height: 5px;
}
#comp-klgq4snw {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-klgqg83x {
  width: 121px;
  height: 40px;
}
#comp-klgrbc9k {
  width: 121px;
  height: 40px;
}
#comp-klgrbsy0 {
  width: 121px;
  height: 40px;
}
#comp-klgp8ssm {
  width: 58px;
  height: 40px;
}
#comp-klgp11x1 {
  width: 151px;
  height: 52px;
}
#comp-klgpaxcx1 {
  width: 43px;
  height: 40px;
}
#comp-klgpaxd02 {
  width: 151px;
  height: 52px;
}
#comp-klgpb05s {
  width: 32px;
  height: 40px;
}
#comp-klgpb05u {
  width: 143px;
  height: 52px;
}
#rb5vm {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klgjj5mr {
  width: 980px;
}
#comp-klgjj5ox {
  width: 980px;
}
#comp-klgjj5qv2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klgjj5ns {
  width: 980px;
}
#comp-klgjj5oz1 {
  width: 980px;
}
#comp-klgjj5r21 {
  width: 980px;
}
#comp-klgozek4 {
  width: 223px;
}
#comp-klgpaxc6 {
  width: 223px;
}
#comp-klgpb053 {
  width: 223px;
}
#comp-kljrkt0q-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafriyd {
  height: auto;
}
#comp-klgjj5oo1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kljrkt0q {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klgjj5og {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klgn6y6t {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klgn72ig {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klgjj5pc2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5pl1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5po {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5pq {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5ps {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5pu {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5pv2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5px {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5pz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q02 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q41 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q6 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q8 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5q92 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdp0lep {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 289px;
  --width: 600px;
}
#comp-klgjj5oj1 {
  --min-height: 185px;
  height: auto;
}
#comp-klgjj5pb {
  --min-height: 210px;
  height: auto;
}
#comp-klgjj5qb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qh {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qj {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qd1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qn {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qp {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5qs1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kll5503w {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klgjj5r6 {
  height: auto;
}
#comp-klgjj5r82 {
  height: auto;
}
#comp-klhxun0n {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klgjj5rb1 {
  height: auto;
}
#comp-klgmg5v3 {
  height: auto;
}
#comp-klgjj5rh {
  --min-height: 102px;
  height: auto;
}
#comp-klgnnq0h {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klhxv14u {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klgp9bvu {
  --min-height: 78px;
  height: auto;
}
#comp-klhxvay1 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klgpoklg {
  --min-height: 589px;
  height: auto;
}
#comp-klhxveuk {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klgp8ssm {
  --opacity: 1;
}
#comp-klgp11x1 {
  height: auto;
}
#comp-klgpaxcx1 {
  --opacity: 1;
}
#comp-klgpaxd02 {
  height: auto;
}
#comp-klgpb05s {
  --opacity: 1;
}
#comp-klgpb05u {
  height: auto;
}
#rb5vm {
  width: auto;
  min-height: 2686px;
}
#comp-klgjj5mr {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klgjj5ox {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klgjj5qv2 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klgjj5ns {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klgjj5oz1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klgjj5r21 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klgozek4 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klgpaxc6 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klgpb053 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_rb5vm {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgn0i3o .style-klv7eayc__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgn0i3o .style-klv7eayc__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klgn0i3o .style-klv7eayc__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klgn0i3o .style-klv7eayc__root:disabled {
  background: #e2e2e2;
}

#comp-klgn0i3o .style-klv7eayc__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgn0i3o .style-klv7eayc__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgn0i3o .style-klv7eayc__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klgn0i3o .style-klv7eayc__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 400;
  font-size: 26px;
}

#comp-klgn0i3o .style-klv7eayc__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klgn0i3o .style-klv7eayc__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klgn0i3o .style-klv7eayc__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgn0xi3 .style-klv7ekwq__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgn0xi3 .style-klv7ekwq__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klgn0xi3 .style-klv7ekwq__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klgn0xi3 .style-klv7ekwq__root:disabled {
  background: #e2e2e2;
}

#comp-klgn0xi3 .style-klv7ekwq__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgn0xi3 .style-klv7ekwq__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgn0xi3 .style-klv7ekwq__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klgn0xi3 .style-klv7ekwq__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klgn0xi3 .style-klv7ekwq__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klgn0xi3 .style-klv7ekwq__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klgn0xi3 .style-klv7ekwq__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgn0zwt .style-klv7esui__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgn0zwt .style-klv7esui__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klgn0zwt .style-klv7esui__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klgn0zwt .style-klv7esui__root:disabled {
  background: #e2e2e2;
}

#comp-klgn0zwt .style-klv7esui__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgn0zwt .style-klv7esui__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgn0zwt .style-klv7esui__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klgn0zwt .style-klv7esui__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klgn0zwt .style-klv7esui__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klgn0zwt .style-klv7esui__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klgn0zwt .style-klv7esui__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgn12ec .style-klv7ez8r__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgn12ec .style-klv7ez8r__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klgn12ec .style-klv7ez8r__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klgn12ec .style-klv7ez8r__root:disabled {
  background: #e2e2e2;
}

#comp-klgn12ec .style-klv7ez8r__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgn12ec .style-klv7ez8r__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgn12ec .style-klv7ez8r__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klgn12ec .style-klv7ez8r__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klgn12ec .style-klv7ez8r__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klgn12ec .style-klv7ez8r__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klgn12ec .style-klv7ez8r__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgn15hg .style-klv7f6q5__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgn15hg .style-klv7f6q5__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klgn15hg .style-klv7f6q5__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klgn15hg .style-klv7f6q5__root:disabled {
  background: #e2e2e2;
}

#comp-klgn15hg .style-klv7f6q5__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgn15hg .style-klv7f6q5__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgn15hg .style-klv7f6q5__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klgn15hg .style-klv7f6q5__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klgn15hg .style-klv7f6q5__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klgn15hg .style-klv7f6q5__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klgn15hg .style-klv7f6q5__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgqg83x .style-klv7gzia__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgqg83x .style-klv7gzia__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klgqg83x .style-klv7gzia__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klgqg83x .style-klv7gzia__root[disabled] {
  background: #e2e2e2;
}

#comp-klgqg83x
  .style-klv7gzia__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgqg83x .style-klv7gzia__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgqg83x .style-klv7gzia__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klgqg83x .style-klv7gzia__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klgqg83x .style-klv7gzia__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgrbc9k .style-klv7he8b__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgrbc9k .style-klv7he8b__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klgrbc9k .style-klv7he8b__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klgrbc9k .style-klv7he8b__root[disabled] {
  background: #e2e2e2;
}

#comp-klgrbc9k
  .style-klv7he8b__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgrbc9k .style-klv7he8b__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgrbc9k .style-klv7he8b__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klgrbc9k .style-klv7he8b__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klgrbc9k .style-klv7he8b__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klgrbsy0 .style-klv7hjvx__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klgrbsy0 .style-klv7hjvx__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klgrbsy0 .style-klv7hjvx__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klgrbsy0 .style-klv7hjvx__root[disabled] {
  background: #e2e2e2;
}

#comp-klgrbsy0
  .style-klv7hjvx__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klgrbsy0 .style-klv7hjvx__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klgrbsy0 .style-klv7hjvx__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klgrbsy0 .style-klv7hjvx__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klgrbsy0 .style-klv7hjvx__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klgp8ssm svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klgpaxcx1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klgpb05s svg [data-color="1"] {
  fill: #454a6e;
}
