[data-mesh-id="comp-klkpediuinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedjg"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedjn"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedjq"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedk7"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedka1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkc1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedke"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedki2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkk2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkm2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkp"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkr2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkt2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkw"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedkz"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedl2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-klkpedl5"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpediuinlineContent-gridContainer"]
  > [id="comp-kmdpa26p"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedli2"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedlp"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedlq1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedls1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedlv"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedlw2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedly2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedm1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedm3"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedm5"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedm7"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedlfinlineContent-gridContainer"]
  > [id="comp-klkpedm82"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(13, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedmy"] {
  position: relative;
  margin: 47px 0px 13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedn01"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedn41"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpednd"] {
  position: relative;
  margin: 0px 0px 19px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpednf"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedng1"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 428px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedni2"] {
  position: relative;
  margin: 0px 0px 18px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpednk1"] {
  position: relative;
  margin: 0px 0px -9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpednm"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 124px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpednx"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedo7"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedoh"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedok"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedon"] {
  position: relative;
  margin: 0px 0px 20px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 13 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedoq"] {
  position: relative;
  margin: 0px 0px 30px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedoy"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 95px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedp4"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 431px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-gridContainer"]
  > [id="comp-klkpedp6"] {
  position: relative;
  margin: 359px 0px 10px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedmqinlineContent-wedge-11"] {
  visibility: hidden;
  height: 1158px;
  width: 0;
  grid-area: 1 / 1 / 11 / 2;
}
[data-mesh-id="comp-klkpednminlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkpednminlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpednminlineContent-gridContainer"]
  > [id="comp-klkpednq"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 82px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpednminlineContent-gridContainer"]
  > [id="comp-klkpednu"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 32px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpednxinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkpednxinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpednxinlineContent-gridContainer"]
  > [id="comp-klkpedo0"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpednxinlineContent-gridContainer"]
  > [id="comp-klkpedo4"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedo7inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klkpedo7inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klkpedo7inlineContent-gridContainer"]
  > [id="comp-klkpedob1"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klkpedo7inlineContent-gridContainer"]
  > [id="comp-klkpedof"] {
  position: relative;
  margin: 0px 0px 30px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-kmafu8mw"] {
  position: relative;
  margin: 9px 0px 21px calc((100% - 980px) * 0.5);
  left: 335px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedh3"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedlc"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedmb"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedmd1"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedml1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedp8"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpa1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpb2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpd1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpf"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpg2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpi"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpl1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpm1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-gridContainer"]
  > [id="comp-klkpedpn1"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerzmdujinlineContent-wedge-8"] {
  visibility: hidden;
  height: 339px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContainerzmdujinlineContent-wedge-10"] {
  visibility: hidden;
  height: 799px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContainerzmdujinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1158px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="ContainerzmdujinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1612px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-klkpedmf1 {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafu8mw {
  width: 310px;
  height: 38px;
}
#comp-klkpedmb {
  width: 136px;
  height: 40px;
}
#comp-klkpedmd1 {
  width: 136px;
  height: 135px;
}
#comp-klkpedp8 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkpedpa1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkpedpb2 {
  width: 192px;
  height: 52px;
}
#comp-klkpedpd1 {
  width: 192px;
  height: 52px;
}
#comp-klkpedpf {
  width: 192px;
  height: 52px;
}
#comp-klkpedpg2 {
  width: 192px;
  height: 52px;
}
#comp-klkpedpi {
  width: 192px;
  height: 52px;
}
#comp-klkpedpl1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkpedpm1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkpedpn1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klkpedjg {
  width: 5px;
  height: 246px;
}
#comp-klkpedjn {
  width: 5px;
  height: 246px;
}
#comp-klkpedjq {
  width: 20px;
  height: 19px;
}
#comp-klkpedk7 {
  width: 20px;
  height: 19px;
}
#comp-klkpedka1 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkc1 {
  width: 20px;
  height: 19px;
}
#comp-klkpedke {
  width: 20px;
  height: 19px;
}
#comp-klkpedki2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkk2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkm2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkp {
  width: 20px;
  height: 19px;
}
#comp-klkpedkr2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkt2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedkw {
  width: 20px;
  height: 19px;
}
#comp-klkpedkz {
  width: 20px;
  height: 19px;
}
#comp-klkpedl2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedl5 {
  width: 20px;
  height: 19px;
}
#comp-kmdpa26p {
  width: 600px;
  height: 290px;
}
#comp-klkpedli2 {
  width: 382px;
  height: 245px;
}
#comp-klkpedlp {
  width: 320px;
  height: 232px;
}
#comp-klkpedlq1 {
  width: 20px;
  height: 19px;
}
#comp-klkpedls1 {
  width: 20px;
  height: 19px;
}
#comp-klkpedlv {
  width: 20px;
  height: 19px;
}
#comp-klkpedlw2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedly2 {
  width: 20px;
  height: 19px;
}
#comp-klkpedm1 {
  width: 20px;
  height: 19px;
}
#comp-klkpedm3 {
  width: 20px;
  height: 19px;
}
#comp-klkpedm5 {
  width: 20px;
  height: 19px;
}
#comp-klkpedm7 {
  width: 20px;
  height: 19px;
}
#comp-klkpedm82 {
  width: 20px;
  height: 19px;
}
#comp-klkpedmy {
  width: 979px;
  height: 77px;
  scroll-margin-top: 100px;
}
#comp-klkpedn01 {
  width: 979px;
  height: 192px;
}
#comp-klkpedn41 {
  width: 979px;
  height: 5px;
}
#comp-klkpednd {
  width: 979px;
  height: 134px;
  scroll-margin-top: 95px;
}
#comp-klkpednf {
  width: 979px;
  height: 230px;
}
#comp-klkpedng1 {
  width: 123px;
  height: 40px;
}
#comp-klkpedni2 {
  width: 979px;
  height: 5px;
}
#comp-klkpednk1 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klkpedoh {
  width: 979px;
  height: 5px;
}
#comp-klkpedok {
  width: 979px;
  height: 403px;
  scroll-margin-top: 95px;
}
#comp-klkpedon {
  width: 979px;
  height: 5px;
}
#comp-klkpedoq {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-klkpedoy {
  width: 121px;
  height: 40px;
}
#comp-klkpedp4 {
  width: 121px;
  height: 40px;
}
#comp-klkpedp6 {
  width: 121px;
  height: 40px;
}
#comp-klkpednq {
  width: 58px;
  height: 40px;
}
#comp-klkpednu {
  width: 157px;
  height: 43px;
}
#comp-klkpedo0 {
  width: 43px;
  height: 40px;
}
#comp-klkpedo4 {
  width: 151px;
  height: 43px;
}
#comp-klkpedob1 {
  width: 32px;
  height: 40px;
}
#comp-klkpedof {
  width: 143px;
  height: 46px;
}
#zmduj {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klkpedh3 {
  width: 980px;
}
#comp-klkpedlc {
  width: 980px;
}
#comp-klkpedml1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klkpediu {
  width: 980px;
}
#comp-klkpedlf {
  width: 980px;
}
#comp-klkpedmq {
  width: 980px;
}
#comp-klkpednm {
  width: 223px;
}
#comp-klkpednx {
  width: 223px;
}
#comp-klkpedo7 {
  width: 223px;
}
#comp-klkpedmf1-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafu8mw {
  height: auto;
}
#comp-klkpedmb {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klkpedmd1 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klkpedmf1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klkpedjg {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klkpedjn {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klkpedjq {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedk7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedka1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkc1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedke {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedki2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkk2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkm2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkp {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkr2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkt2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkw {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedkz {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedl2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedl5 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpa26p {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klkpedli2 {
  --min-height: 185px;
  height: auto;
}
#comp-klkpedlp {
  --min-height: 210px;
  height: auto;
}
#comp-klkpedlq1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedls1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedlv {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedlw2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedly2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedm1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedm3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedm5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedm7 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedm82 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klkpedmy {
  height: auto;
}
#comp-klkpedn01 {
  height: auto;
}
#comp-klkpedn41 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkpednd {
  height: auto;
}
#comp-klkpednf {
  height: auto;
}
#comp-klkpedng1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klkpedni2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkpednk1 {
  --min-height: 78px;
  height: auto;
}
#comp-klkpedoh {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkpedok {
  --min-height: 78px;
  height: auto;
}
#comp-klkpedon {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klkpednq {
  --opacity: 1;
}
#comp-klkpednu {
  height: auto;
}
#comp-klkpedo0 {
  --opacity: 1;
}
#comp-klkpedo4 {
  height: auto;
}
#comp-klkpedob1 {
  --opacity: 1;
}
#comp-klkpedof {
  height: auto;
}
#zmduj {
  width: auto;
  min-height: 2420px;
}
#comp-klkpedh3 {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkpedlc {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkpedml1 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klkpediu {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkpedlf {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkpedmq {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klkpednm {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klkpednx {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klkpedo7 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_zmduj {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedpb2 .style-klv81qm3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedpb2 .style-klv81qm3__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkpedpb2 .style-klv81qm3__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkpedpb2 .style-klv81qm3__root:disabled {
  background: #e2e2e2;
}

#comp-klkpedpb2
  .style-klv81qm3__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedpb2 .style-klv81qm3__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedpb2 .style-klv81qm3__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkpedpb2 .style-klv81qm3__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkpedpb2 .style-klv81qm3__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkpedpb2 .style-klv81qm3__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkpedpb2 .style-klv81qm3__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedpd1 .style-klv81yag__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedpd1 .style-klv81yag__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkpedpd1 .style-klv81yag__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkpedpd1 .style-klv81yag__root:disabled {
  background: #e2e2e2;
}

#comp-klkpedpd1
  .style-klv81yag__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedpd1 .style-klv81yag__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedpd1 .style-klv81yag__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkpedpd1 .style-klv81yag__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkpedpd1 .style-klv81yag__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkpedpd1 .style-klv81yag__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkpedpd1 .style-klv81yag__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedpf .style-klv8251t__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedpf .style-klv8251t__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkpedpf .style-klv8251t__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkpedpf .style-klv8251t__root:disabled {
  background: #e2e2e2;
}

#comp-klkpedpf .style-klv8251t__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedpf .style-klv8251t__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedpf .style-klv8251t__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkpedpf .style-klv8251t__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkpedpf .style-klv8251t__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkpedpf .style-klv8251t__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkpedpf .style-klv8251t__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedpg2 .style-klv82ahj__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedpg2 .style-klv82ahj__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkpedpg2 .style-klv82ahj__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkpedpg2 .style-klv82ahj__root:disabled {
  background: #e2e2e2;
}

#comp-klkpedpg2
  .style-klv82ahj__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedpg2 .style-klv82ahj__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedpg2 .style-klv82ahj__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkpedpg2 .style-klv82ahj__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkpedpg2 .style-klv82ahj__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkpedpg2 .style-klv82ahj__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedpi .style-klv82gay__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedpi .style-klv82gay__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klkpedpi .style-klv82gay__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klkpedpi .style-klv82gay__root:disabled {
  background: #e2e2e2;
}

#comp-klkpedpi .style-klv82gay__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedpi .style-klv82gay__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedpi .style-klv82gay__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klkpedpi .style-klv82gay__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klkpedpi .style-klv82gay__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klkpedpi .style-klv82gay__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klkpedpi .style-klv82gay__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedoy .style-klv83wvm__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedoy .style-klv83wvm__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkpedoy .style-klv83wvm__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkpedoy .style-klv83wvm__root[disabled] {
  background: #e2e2e2;
}

#comp-klkpedoy
  .style-klv83wvm__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedoy .style-klv83wvm__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedoy .style-klv83wvm__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkpedoy .style-klv83wvm__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkpedoy .style-klv83wvm__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedp4 .style-klv843u3__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedp4 .style-klv843u3__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkpedp4 .style-klv843u3__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkpedp4 .style-klv843u3__root[disabled] {
  background: #e2e2e2;
}

#comp-klkpedp4
  .style-klv843u3__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedp4 .style-klv843u3__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedp4 .style-klv843u3__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkpedp4 .style-klv843u3__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkpedp4 .style-klv843u3__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klkpedp6 .style-klv84a0j__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klkpedp6 .style-klv84a0j__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-klkpedp6 .style-klv84a0j__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-klkpedp6 .style-klv84a0j__root[disabled] {
  background: #e2e2e2;
}

#comp-klkpedp6
  .style-klv84a0j__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klkpedp6 .style-klv84a0j__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klkpedp6 .style-klv84a0j__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-klkpedp6 .style-klv84a0j__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-klkpedp6 .style-klv84a0j__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klkpednq svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klkpedo0 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klkpedob1 svg [data-color="1"] {
  fill: #454a6e;
}
