[data-mesh-id="comp-klmfefp6inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefpm"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefpp"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefpr1"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefpy"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefpz2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefq2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefq32"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefq51"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefq63"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefq81"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqa1"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqd"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqf"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqg2"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqi"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefqj3"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-klmfefql1"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefp6inlineContent-gridContainer"]
  > [id="comp-kmdpfxuo"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefqy2"] {
  position: relative;
  margin: 13px 0px 0px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefr11"] {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefr3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefr5"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefr62"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefr9"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefrb"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefrc3"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefre1"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefrf3"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefrj1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefqvinlineContent-gridContainer"]
  > [id="comp-klmfefrl2"] {
  position: relative;
  margin: 0px 0px 41px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(8, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefs41"] {
  position: relative;
  margin: 47px 0px 54px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klnx8aml"] {
  position: relative;
  margin: 47px 0px 10px calc((100% - 980px) * 0.5);
  left: 236px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsg"] {
  position: relative;
  margin: 0px 0px 6px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsi2"] {
  position: relative;
  margin: 0px 0px 1px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsk"] {
  position: relative;
  margin: 0px 0px 35px calc((100% - 980px) * 0.5);
  left: 430px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsm"] {
  position: relative;
  margin: 0px 0px 22px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefso2"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsq"] {
  position: relative;
  margin: 0px 0px 69px calc((100% - 980px) * 0.5);
  left: 123px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsu"] {
  position: relative;
  margin: 0px 0px 69px calc((100% - 980px) * 0.5);
  left: 379px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfefsy3"] {
  position: relative;
  margin: 0px 0px 69px calc((100% - 980px) * 0.5);
  left: 636px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfeft5"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefry3inlineContent-gridContainer"]
  > [id="comp-klmfeft6"] {
  position: relative;
  margin: 0px 0px 66px calc((100% - 980px) * 0.5);
  left: 2px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsqinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmfefsqinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefsqinlineContent-gridContainer"]
  > [id="comp-klmfefsr1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsqinlineContent-gridContainer"]
  > [id="comp-klmfefst"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 30px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsuinlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmfefsuinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefsuinlineContent-gridContainer"]
  > [id="comp-klmfefsv2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsuinlineContent-gridContainer"]
  > [id="comp-klmfefsx2"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 36px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsy3inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-klmfefsy3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-klmfefsy3inlineContent-gridContainer"]
  > [id="comp-klmfeft0"] {
  position: relative;
  margin: 24px 0px 9px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-klmfefsy3inlineContent-gridContainer"]
  > [id="comp-klmfeft2"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 40px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2272px;
  grid-template-rows: repeat(12, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-kmafya7q"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefot"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefqs"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefrn1"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefrr"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefrv2"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 14 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefth"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftj"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftl"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftm3"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefto"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftp2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftt"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfeftw"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-gridContainer"]
  > [id="comp-klmfefty"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerfuvfoinlineContent-wedge-8"] {
  visibility: hidden;
  height: 197px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContainerfuvfoinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1016px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContainerfuvfoinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1326px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
#comp-klmfefrt {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmafya7q {
  width: 310px;
  height: 38px;
}
#comp-klmfefrn1 {
  width: 136px;
  height: 40px;
}
#comp-klmfefrr {
  width: 136px;
  height: 135px;
}
#comp-klmfefth {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmfeftj {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmfeftl {
  width: 192px;
  height: 52px;
}
#comp-klmfeftm3 {
  width: 192px;
  height: 52px;
}
#comp-klmfefto {
  width: 192px;
  height: 52px;
}
#comp-klmfeftp2 {
  width: 192px;
  height: 52px;
}
#comp-klmfeftt {
  width: 192px;
  height: 52px;
}
#comp-klmfeftw {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmfefty {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-klmfefpm {
  width: 5px;
  height: 246px;
}
#comp-klmfefpp {
  width: 5px;
  height: 246px;
}
#comp-klmfefpr1 {
  width: 20px;
  height: 19px;
}
#comp-klmfefpy {
  width: 20px;
  height: 19px;
}
#comp-klmfefpz2 {
  width: 20px;
  height: 19px;
}
#comp-klmfefq2 {
  width: 20px;
  height: 19px;
}
#comp-klmfefq32 {
  width: 20px;
  height: 19px;
}
#comp-klmfefq51 {
  width: 20px;
  height: 19px;
}
#comp-klmfefq63 {
  width: 20px;
  height: 19px;
}
#comp-klmfefq81 {
  width: 20px;
  height: 19px;
}
#comp-klmfefqa1 {
  width: 20px;
  height: 19px;
}
#comp-klmfefqd {
  width: 20px;
  height: 19px;
}
#comp-klmfefqf {
  width: 20px;
  height: 19px;
}
#comp-klmfefqg2 {
  width: 20px;
  height: 19px;
}
#comp-klmfefqi {
  width: 20px;
  height: 19px;
}
#comp-klmfefqj3 {
  width: 20px;
  height: 19px;
}
#comp-klmfefql1 {
  width: 20px;
  height: 19px;
}
#comp-kmdpfxuo {
  width: 600px;
  height: 290px;
}
#comp-klmfefqy2 {
  width: 382px;
  height: 245px;
}
#comp-klmfefr11 {
  width: 320px;
  height: 232px;
}
#comp-klmfefr3 {
  width: 20px;
  height: 19px;
}
#comp-klmfefr5 {
  width: 20px;
  height: 19px;
}
#comp-klmfefr62 {
  width: 20px;
  height: 19px;
}
#comp-klmfefr9 {
  width: 20px;
  height: 19px;
}
#comp-klmfefrb {
  width: 20px;
  height: 19px;
}
#comp-klmfefrc3 {
  width: 20px;
  height: 19px;
}
#comp-klmfefre1 {
  width: 20px;
  height: 19px;
}
#comp-klmfefrf3 {
  width: 20px;
  height: 19px;
}
#comp-klmfefrj1 {
  width: 20px;
  height: 19px;
}
#comp-klmfefrl2 {
  width: 20px;
  height: 19px;
}
#comp-klmfefs41 {
  width: 201px;
  height: 96px;
  scroll-margin-top: 95px;
}
#comp-klnx8aml {
  width: 202px;
  height: 77px;
}
#comp-klmfefsg {
  width: 979px;
  height: 5px;
}
#comp-klmfefsi2 {
  width: 979px;
  height: 732px;
  scroll-margin-top: 95px;
}
#comp-klmfefsk {
  width: 123px;
  height: 40px;
}
#comp-klmfefsm {
  width: 979px;
  height: 5px;
}
#comp-klmfefso2 {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-klmfeft5 {
  width: 979px;
  height: 5px;
}
#comp-klmfeft6 {
  width: 979px;
  height: 173px;
  scroll-margin-top: 95px;
}
#comp-klmfefsr1 {
  width: 58px;
  height: 40px;
}
#comp-klmfefst {
  width: 158px;
  height: 43px;
}
#comp-klmfefsv2 {
  width: 43px;
  height: 40px;
}
#comp-klmfefsx2 {
  width: 151px;
  height: 43px;
}
#comp-klmfeft0 {
  width: 32px;
  height: 40px;
}
#comp-klmfeft2 {
  width: 143px;
  height: 43px;
}
#fuvfo {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmfefot {
  width: 980px;
}
#comp-klmfefqs {
  width: 980px;
}
#comp-klmfefrv2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-klmfefp6 {
  width: 980px;
}
#comp-klmfefqv {
  width: 980px;
}
#comp-klmfefry3 {
  width: 980px;
}
#comp-klmfefsq {
  width: 223px;
}
#comp-klmfefsu {
  width: 223px;
}
#comp-klmfefsy3 {
  width: 223px;
}
#comp-klmfefrt-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmafya7q {
  height: auto;
}
#comp-klmfefrn1 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmfefrr {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-klmfefrt {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-klmfefpm {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmfefpp {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-klmfefpr1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefpy {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefpz2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefq2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefq32 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefq51 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefq63 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefq81 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqa1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqd {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqf {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqg2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqi {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefqj3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefql1 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpfxuo {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-klmfefqy2 {
  --min-height: 185px;
  height: auto;
}
#comp-klmfefr11 {
  --min-height: 210px;
  height: auto;
}
#comp-klmfefr3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefr5 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefr62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefr9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefrb {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefrc3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefre1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefrf3 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefrj1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefrl2 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-klmfefs41 {
  height: auto;
}
#comp-klnx8aml {
  height: auto;
}
#comp-klmfefsg {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmfefsi2 {
  --min-height: 732px;
  height: auto;
}
#comp-klmfefsk {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-klmfefsm {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmfefso2 {
  --min-height: 78px;
  height: auto;
}
#comp-klmfeft5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-klmfeft6 {
  --min-height: 78px;
  height: auto;
}
#comp-klmfefsr1 {
  --opacity: 1;
}
#comp-klmfefst {
  height: auto;
}
#comp-klmfefsv2 {
  --opacity: 1;
}
#comp-klmfefsx2 {
  height: auto;
}
#comp-klmfeft0 {
  --opacity: 1;
}
#comp-klmfeft2 {
  height: auto;
}
#fuvfo {
  width: auto;
  min-height: 2272px;
}
#comp-klmfefot {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmfefqs {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmfefrv2 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-klmfefp6 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmfefqv {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmfefry3 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-klmfefsq {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmfefsu {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-klmfefsy3 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_fuvfo {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmfeftl .style-klv8jf56__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmfeftl .style-klv8jf56__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmfeftl .style-klv8jf56__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmfeftl .style-klv8jf56__root:disabled {
  background: #e2e2e2;
}

#comp-klmfeftl .style-klv8jf56__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmfeftl .style-klv8jf56__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmfeftl .style-klv8jf56__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmfeftl .style-klv8jf56__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmfeftl .style-klv8jf56__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmfeftl .style-klv8jf56__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmfeftl .style-klv8jf56__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmfeftm3 .style-klv8jlas__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmfeftm3 .style-klv8jlas__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmfeftm3 .style-klv8jlas__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmfeftm3 .style-klv8jlas__root:disabled {
  background: #e2e2e2;
}

#comp-klmfeftm3
  .style-klv8jlas__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmfeftm3 .style-klv8jlas__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmfeftm3 .style-klv8jlas__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmfeftm3 .style-klv8jlas__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmfeftm3 .style-klv8jlas__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmfeftm3 .style-klv8jlas__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmfeftm3 .style-klv8jlas__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmfefto .style-klv8jr0e__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmfefto .style-klv8jr0e__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmfefto .style-klv8jr0e__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmfefto .style-klv8jr0e__root:disabled {
  background: #e2e2e2;
}

#comp-klmfefto .style-klv8jr0e__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmfefto .style-klv8jr0e__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmfefto .style-klv8jr0e__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmfefto .style-klv8jr0e__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmfefto .style-klv8jr0e__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmfefto .style-klv8jr0e__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmfefto .style-klv8jr0e__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmfeftp2 .style-klv8jx3b__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmfeftp2 .style-klv8jx3b__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmfeftp2 .style-klv8jx3b__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmfeftp2 .style-klv8jx3b__root:disabled {
  background: #e2e2e2;
}

#comp-klmfeftp2
  .style-klv8jx3b__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmfeftp2 .style-klv8jx3b__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmfeftp2 .style-klv8jx3b__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmfeftp2 .style-klv8jx3b__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmfeftp2 .style-klv8jx3b__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmfeftp2 .style-klv8jx3b__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-klmfeftt .style-klv8k34y__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-klmfeftt .style-klv8k34y__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-klmfeftt .style-klv8k34y__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-klmfeftt .style-klv8k34y__root:disabled {
  background: #e2e2e2;
}

#comp-klmfeftt .style-klv8k34y__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-klmfeftt .style-klv8k34y__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-klmfeftt .style-klv8k34y__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-klmfeftt .style-klv8k34y__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-klmfeftt .style-klv8k34y__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-klmfeftt .style-klv8k34y__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-klmfeftt .style-klv8k34y__root .StylableButton1881452515__label {
    font-size: 13px;
  }
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klmfefsr1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klmfefsv2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klmfeft0 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-klkvflu5 {
  position: relative;
  margin: 0px 0px 45px calc((100% - 980px) * 0.5);
  left: -1px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}

#comp-klkvflu5 {
  width: 979px;
  height: 5px;
}
#comp-klkvflu5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}

#comp-klkvflu63 {
  width: 979px;
  height: 453px;
  scroll-margin-top: 100px;
}

#comp-klkvflu63 {
  position: relative;
    margin: 0px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
}
