[data-mesh-id="comp-kltxszsninlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -16px;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszt0"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 189px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszt5"] {
  position: relative;
  margin: 0px 0px 23px calc((100% - 980px) * 0.5);
  left: 602px;
  grid-area: 1 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszt62"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszti"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxsztk"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxsztm2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszto2"] {
  position: relative;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  left: 843px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxsztr"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxsztt2"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxsztw"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszty"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszu0"] {
  position: relative;
  margin: 0px 0px 28px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszu12"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszu32"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszu6"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszu9"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kltxszua3"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszsninlineContent-gridContainer"]
  > [id="comp-kmdpofg0"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 191px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent"] {
  height: auto;
  width: 100%;
  display: flex;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -132px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszuo"] {
  position: relative;
  margin: 13px 0px 8px calc((100% - 980px) * 0.5);
  left: 208px;
  grid-area: 1 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszuu"] {
  position: relative;
  margin: 0px 0px 34px calc((100% - 980px) * 0.5);
  left: 621px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszuv1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 764px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszux1"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 784px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszuz2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 804px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszv2"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 824px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszv4"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszv62"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 783px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszv82"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 803px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszva2"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 823px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszvc3"] {
  position: relative;
  margin: 152px 0px 27px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszuk1inlineContent-gridContainer"]
  > [id="comp-kltxszvg"] {
  position: relative;
  margin: 0px 0px 49px calc((100% - 980px) * 0.5);
  left: 844px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(10, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszw0"] {
  position: relative;
  margin: 46px 0px 57px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszw11"] {
  position: relative;
  margin: 46px 0px 70px calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszw31"] {
  position: relative;
  margin: 0px 0px 13px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszw5"] {
  position: relative;
  margin: 0px 0px 14px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszw82"] {
  position: relative;
  margin: 0px 0px 43px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwa"] {
  position: relative;
  margin: 796px 0px 55px calc((100% - 980px) * 0.5);
  left: 432px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwb2"] {
  position: relative;
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwe"] {
  position: relative;
  margin: 0px 0px -13px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwg"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 128px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwm"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 384px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwr1"] {
  position: relative;
  margin: 0px 0px 61px calc((100% - 980px) * 0.5);
  left: 640px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszwx"] {
  position: relative;
  margin: 0px 0px 7px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszx0"] {
  position: relative;
  margin: 0px 0px 12px calc((100% - 980px) * 0.5);
  left: 7px;
  grid-area: 9 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszx2"] {
  position: relative;
  margin: 0px 0px 34px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-klv9mdjx"] {
  position: relative;
  margin: 0px 0px 39px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszx9"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 96px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszxd2"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 432px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszvw1inlineContent-gridContainer"]
  > [id="comp-kltxszxg"] {
  position: relative;
  margin: 363px 0px 10px calc((100% - 980px) * 0.5);
  left: 768px;
  grid-area: 11 / 1 / 12 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwginlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kltxszwginlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszwginlineContent-gridContainer"]
  > [id="comp-kltxszwh2"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 80px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwginlineContent-gridContainer"]
  > [id="comp-kltxszwk2"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwminlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kltxszwminlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszwminlineContent-gridContainer"]
  > [id="comp-kltxszwo1"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 88px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwminlineContent-gridContainer"]
  > [id="comp-kltxszwq"] {
  position: relative;
  margin: 0px 0px 9px 0;
  left: 9px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwr1inlineContent"] {
  height: auto;
  width: 223px;
}
[data-mesh-id="comp-kltxszwr1inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-kltxszwr1inlineContent-gridContainer"]
  > [id="comp-kltxszwu"] {
  position: relative;
  margin: 23px 0px 10px 0;
  left: 95px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-kltxszwr1inlineContent-gridContainer"]
  > [id="comp-kltxszwv3"] {
  position: relative;
  margin: 0px 0px 33px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2420px;
  grid-template-rows: repeat(14, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kmag2ck7"] {
  position: relative;
  margin: 18px 0px 12px calc((100% - 980px) * 0.5);
  left: 359px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszsb"] {
  position: relative;
  margin: 16px 0px 9px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszui"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszvi2"] {
  position: relative;
  margin: 26px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszvm"] {
  position: relative;
  margin: 0px 0px -15px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszvr1"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 6 / 1 / 16 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxi2"] {
  position: relative;
  margin: 35px 0 10px 0;
  left: 0;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxk"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 8 / 1 / 9 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxl"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 10px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxm2"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 202px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxo"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 394px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxp1"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 586px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxt"] {
  position: relative;
  margin: 0px 0px -25px calc((100% - 980px) * 0.5);
  left: 778px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxu2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 10 / 1 / 11 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxv2"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 12 / 1 / 13 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-gridContainer"]
  > [id="comp-kltxszxx"] {
  position: relative;
  margin: 0px 0 10px 0;
  left: 0;
  grid-area: 14 / 1 / 15 / 2;
  justify-self: stretch;
  align-self: start;
}
[data-mesh-id="ContainerlsxesinlineContent-wedge-8"] {
  visibility: hidden;
  height: 614px;
  width: 0;
  grid-area: 6 / 1 / 8 / 2;
}
[data-mesh-id="ContainerlsxesinlineContent-wedge-10"] {
  visibility: hidden;
  height: 1524px;
  width: 0;
  grid-area: 6 / 1 / 10 / 2;
}
[data-mesh-id="ContainerlsxesinlineContent-wedge-12"] {
  visibility: hidden;
  height: 1813px;
  width: 0;
  grid-area: 6 / 1 / 12 / 2;
}
[data-mesh-id="ContainerlsxesinlineContent-wedge-14"] {
  visibility: hidden;
  height: 1959px;
  width: 0;
  grid-area: 6 / 1 / 14 / 2;
}
#comp-kltxszvo {
  transform: rotate(270deg);
  width: 12px;
  height: 29px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  margin-top: 101.5px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
}
#comp-kmag2ck7 {
  width: 310px;
  height: 38px;
}
#comp-kltxszvi2 {
  width: 136px;
  height: 40px;
}
#comp-kltxszvm {
  width: 136px;
  height: 135px;
}
#comp-kltxszxi2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxszxk {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxszxl {
  width: 192px;
  height: 52px;
}
#comp-kltxszxm2 {
  width: 192px;
  height: 52px;
}
#comp-kltxszxo {
  width: 192px;
  height: 52px;
}
#comp-kltxszxp1 {
  width: 192px;
  height: 52px;
}
#comp-kltxszxt {
  width: 192px;
  height: 52px;
}
#comp-kltxszxu2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxszxv2 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxszxx {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: initial;
  height: 21px;
}
#comp-kltxszt0 {
  width: 5px;
  height: 246px;
}
#comp-kltxszt5 {
  width: 5px;
  height: 246px;
}
#comp-kltxszt62 {
  width: 20px;
  height: 19px;
}
#comp-kltxszti {
  width: 20px;
  height: 19px;
}
#comp-kltxsztk {
  width: 20px;
  height: 19px;
}
#comp-kltxsztm2 {
  width: 20px;
  height: 19px;
}
#comp-kltxszto2 {
  width: 20px;
  height: 19px;
}
#comp-kltxsztr {
  width: 20px;
  height: 19px;
}
#comp-kltxsztt2 {
  width: 20px;
  height: 19px;
}
#comp-kltxsztw {
  width: 20px;
  height: 19px;
}
#comp-kltxszty {
  width: 20px;
  height: 19px;
}
#comp-kltxszu0 {
  width: 20px;
  height: 19px;
}
#comp-kltxszu12 {
  width: 20px;
  height: 19px;
}
#comp-kltxszu32 {
  width: 20px;
  height: 19px;
}
#comp-kltxszu6 {
  width: 20px;
  height: 19px;
}
#comp-kltxszu9 {
  width: 20px;
  height: 19px;
}
#comp-kltxszua3 {
  width: 20px;
  height: 19px;
}
#comp-kmdpofg0 {
  width: 600px;
  height: 290px;
}
#comp-kltxszuo {
  width: 382px;
  height: 245px;
}
#comp-kltxszuu {
  width: 320px;
  height: 232px;
}
#comp-kltxszuv1 {
  width: 20px;
  height: 19px;
}
#comp-kltxszux1 {
  width: 20px;
  height: 19px;
}
#comp-kltxszuz2 {
  width: 20px;
  height: 19px;
}
#comp-kltxszv2 {
  width: 20px;
  height: 19px;
}
#comp-kltxszv4 {
  width: 20px;
  height: 19px;
}
#comp-kltxszv62 {
  width: 20px;
  height: 19px;
}
#comp-kltxszv82 {
  width: 20px;
  height: 19px;
}
#comp-kltxszva2 {
  width: 20px;
  height: 19px;
}
#comp-kltxszvc3 {
  width: 20px;
  height: 19px;
}
#comp-kltxszvg {
  width: 20px;
  height: 19px;
}
#comp-kltxszw0 {
  width: 224px;
  height: 134px;
}
#comp-kltxszw11 {
  width: 224px;
  height: 121px;
}
#comp-kltxszw31 {
  width: 979px;
  height: 365px;
  scroll-margin-top: 95px;
}
#comp-kltxszw5 {
  width: 979px;
  height: 5px;
}
#comp-kltxszw82 {
  width: 979px;
  height: 848px;
  scroll-margin-top: 95px;
}
#comp-kltxszwa {
  width: 123px;
  height: 40px;
}
#comp-kltxszwb2 {
  width: 979px;
  height: 5px;
}
#comp-kltxszwe {
  width: 979px;
  height: 78px;
  scroll-margin-top: 95px;
}
#comp-kltxszwx {
  width: 979px;
  height: 5px;
}
#comp-kltxszx0 {
  width: 979px;
  height: 121px;
  scroll-margin-top: 95px;
}
#comp-kltxszx2 {
  width: 979px;
  height: 5px;
}
#comp-klv9mdjx {
  width: 979px;
  height: 453px;
  scroll-margin-top: 95px;
}
#comp-kltxszx9 {
  width: 121px;
  height: 40px;
}
#comp-kltxszxd2 {
  width: 121px;
  height: 40px;
}
#comp-kltxszxg {
  width: 121px;
  height: 40px;
}
#comp-kltxszwh2 {
  width: 58px;
  height: 40px;
}
#comp-kltxszwk2 {
  width: 194px;
  height: 43px;
}
#comp-kltxszwo1 {
  width: 43px;
  height: 40px;
}
#comp-kltxszwq {
  width: 207px;
  height: 67px;
}
#comp-kltxszwu {
  width: 32px;
  height: 40px;
}
#comp-kltxszwv3 {
  width: 207px;
  height: 43px;
}
#lsxes {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kltxszsb {
  width: 980px;
}
#comp-kltxszui {
  width: 980px;
}
#comp-kltxszvr1 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
#comp-kltxszsn {
  width: 980px;
}
#comp-kltxszuk1 {
  width: 980px;
}
#comp-kltxszvw1 {
  width: 980px;
}
#comp-kltxszwg {
  width: 223px;
}
#comp-kltxszwm {
  width: 223px;
}
#comp-kltxszwr1 {
  width: 223px;
}
#comp-kltxszvo-pinned-layer {
  z-index: calc(var(--pinned-layer-in-container, 0) + 0);
}
#masterPage {
  --pinned-layers-in-page: 1;
}

#comp-kmag2ck7 {
  height: auto;
}
#comp-kltxszvi2 {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: var(--color_11);
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kltxszvm {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
  --height: 135px;
  --width: 136px;
}
#comp-kltxszvo {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #bada55;
}
#comp-kltxszt0 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kltxszt5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --mrg: 1px;
  --alpha-brd: 1;
}
#comp-kltxszt62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszti {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxsztk {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxsztm2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszto2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxsztr {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxsztt2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxsztw {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszty {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszu0 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszu12 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszu32 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszu6 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszu9 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszua3 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kmdpofg0 {
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --brd: var(--color_11);
  --brw: 2px;
  --sizeRd: 10px 10px 10px 10px;
  --sizeBrw: 2px;
  --trans: opacity 0.4s ease 0s;
  --bgh: var(--color_15);
  --contentPaddingLeft: 2px;
  --contentPaddingRight: 2px;
  --contentPaddingBottom: 2px;
  --contentPaddingTop: 2px;
  --boxShadowToggleOn-shd: none;
  --alpha-brd: 1;
  --alpha-bgh: 0.25;
  --height: 290px;
  --width: 600px;
}
#comp-kltxszuo {
  --min-height: 185px;
  height: auto;
}
#comp-kltxszuu {
  --min-height: 210px;
  height: auto;
}
#comp-kltxszuv1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszux1 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszuz2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszv2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszv4 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszv62 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszv82 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszva2 {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszvc3 {
  --stroke-width: 0;
  --fill-opacity: 0.25;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszvg {
  --stroke-width: 0;
  --fill-opacity: 1;
  --stroke: #000000;
  --stroke-opacity: 1;
  --fill: #f2cb07;
}
#comp-kltxszw0 {
  height: auto;
}
#comp-kltxszw11 {
  --min-height: 121px;
  height: auto;
}
#comp-kltxszw31 {
  --min-height: 342px;
  height: auto;
}
#comp-kltxszw5 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kltxszw82 {
  --min-height: 848px;
  height: auto;
}
#comp-kltxszwa {
  --rd: 5px 5px 5px 5px;
  --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  --shd: none;
  --fnt: normal normal normal 18px/1.4em nimbus-sans-tw01con, sans-serif;
  --trans2: color 0.4s ease 0s;
  --txt: 255, 255, 255;
  --brw: 0px;
  --bg: 69, 74, 110;
  --brd: 84, 84, 84;
  --bgh: 222, 247, 143;
  --brdh: 249, 249, 249;
  --txth: 69, 74, 110;
  --bgd: 204, 204, 204;
  --alpha-bgd: 1;
  --brdd: 204, 204, 204;
  --alpha-brdd: 1;
  --txtd: 255, 255, 255;
  --alpha-txtd: 1;
  --alpha-bg: 1;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 0;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 35, 37, 55;
  --label-align: center;
  --label-text-align: center;
}
#comp-kltxszwb2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kltxszwe {
  --min-height: 78px;
  height: auto;
}
#comp-kltxszwx {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kltxszx0 {
  --min-height: 121px;
  height: auto;
}
#comp-kltxszx2 {
  --lnw: 1px;
  --brd: var(--color_16);
  --alpha-brd: 1;
  transform-origin: center 0.5px;
}
#comp-kltxszwh2 {
  --opacity: 1;
}
#comp-kltxszwk2 {
  height: auto;
}
#comp-kltxszwo1 {
  --opacity: 1;
}
#comp-kltxszwq {
  --min-height: 67px;
  height: auto;
}
#comp-kltxszwu {
  --opacity: 1;
}
#comp-kltxszwv3 {
  height: auto;
}
#lsxes {
  width: auto;
  min-height: 2420px;
}
#comp-kltxszsb {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kltxszui {
  --bg-overlay-color: transparent;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kltxszvr1 {
  --param_boolean_previewHover: false;
  --bg-overlay-color: transparent;
  --fill-layer-background-media-position: absolute;
  --fill-layer-background-media-pointer-events: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
}
#comp-kltxszsn {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kltxszuk1 {
  --bg-overlay-color: transparent;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kltxszvw1 {
  --bg-overlay-color: rgba(var(--color_12), 0.8);
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-kltxszwg {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kltxszwm {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#comp-kltxszwr1 {
  --brw: 2px;
  --brd: 69, 74, 110;
  --bg: var(--color_12);
  --rd: 10px 10px 10px 10px;
  --shd: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --shc-mutated-brightness: 116, 115, 115;
}
#pageBackground_lsxes {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxl .style-klv9jfkn__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxl .style-klv9jfkn__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kltxszxl .style-klv9jfkn__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kltxszxl .style-klv9jfkn__root:disabled {
  background: #e2e2e2;
}

#comp-kltxszxl .style-klv9jfkn__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxl .style-klv9jfkn__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxl .style-klv9jfkn__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kltxszxl .style-klv9jfkn__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kltxszxl .style-klv9jfkn__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kltxszxl .style-klv9jfkn__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kltxszxl .style-klv9jfkn__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxm2 .style-klv9jl1m__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxm2 .style-klv9jl1m__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kltxszxm2 .style-klv9jl1m__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kltxszxm2 .style-klv9jl1m__root:disabled {
  background: #e2e2e2;
}

#comp-kltxszxm2
  .style-klv9jl1m__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxm2 .style-klv9jl1m__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxm2 .style-klv9jl1m__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kltxszxm2 .style-klv9jl1m__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kltxszxm2 .style-klv9jl1m__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kltxszxm2 .style-klv9jl1m__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kltxszxm2 .style-klv9jl1m__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxo .style-klv9jrd4__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxo .style-klv9jrd4__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kltxszxo .style-klv9jrd4__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kltxszxo .style-klv9jrd4__root:disabled {
  background: #e2e2e2;
}

#comp-kltxszxo .style-klv9jrd4__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxo .style-klv9jrd4__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxo .style-klv9jrd4__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kltxszxo .style-klv9jrd4__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kltxszxo .style-klv9jrd4__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kltxszxo .style-klv9jrd4__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kltxszxo .style-klv9jrd4__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxp1 .style-klv9jz1k__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxp1 .style-klv9jz1k__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kltxszxp1 .style-klv9jz1k__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kltxszxp1 .style-klv9jz1k__root:disabled {
  background: #e2e2e2;
}

#comp-kltxszxp1
  .style-klv9jz1k__root:disabled
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxp1 .style-klv9jz1k__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxp1 .style-klv9jz1k__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kltxszxp1 .style-klv9jz1k__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kltxszxp1 .style-klv9jz1k__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kltxszxp1 .style-klv9jz1k__root:hover .StylableButton1881452515__icon {
  fill: #000000;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxt .style-klv9k5hd__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border: 1px solid #def78f;
  background: #454a6e;
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxt .style-klv9k5hd__root:hover {
  border: 1px solid #000000;
  background: linear-gradient(180deg, #5d6480 0%, #5d6480 100%), #ffffff;
}

#comp-kltxszxt .style-klv9k5hd__root:hover .StylableButton1881452515__label {
  color: #ffffff;
}

#comp-kltxszxt .style-klv9k5hd__root:disabled {
  background: #e2e2e2;
}

#comp-kltxszxt .style-klv9k5hd__root:disabled .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxt .style-klv9k5hd__root:disabled .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxt .style-klv9k5hd__root .StylableButton1881452515__container {
  transition: inherit;
}

#comp-kltxszxt .style-klv9k5hd__root .StylableButton1881452515__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-style: normal;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

#comp-kltxszxt .style-klv9k5hd__root .StylableButton1881452515__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-kltxszxt .style-klv9k5hd__root:hover .StylableButton1881452515__icon {
  fill: #000000;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-kltxszxt .style-klv9k5hd__root .StylableButton1881452515__label {
    font-size: 13px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszx9 .style-klv9s7xh__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszx9 .style-klv9s7xh__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kltxszx9 .style-klv9s7xh__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kltxszx9 .style-klv9s7xh__root[disabled] {
  background: #e2e2e2;
}

#comp-kltxszx9
  .style-klv9s7xh__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszx9 .style-klv9s7xh__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszx9 .style-klv9s7xh__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kltxszx9 .style-klv9s7xh__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kltxszx9 .style-klv9s7xh__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxd2 .style-klv9se6j__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxd2 .style-klv9se6j__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kltxszxd2 .style-klv9se6j__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kltxszxd2 .style-klv9se6j__root[disabled] {
  background: #e2e2e2;
}

#comp-kltxszxd2
  .style-klv9se6j__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxd2
  .style-klv9se6j__root[disabled]
  .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxd2 .style-klv9se6j__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kltxszxd2 .style-klv9se6j__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kltxszxd2 .style-klv9se6j__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-kltxszxg .style-klv9skla__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: #e8e6e6;
  border: 1px solid rgb(69, 74, 110);
  border-radius: 5px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-kltxszxg .style-klv9skla__root:hover {
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0);
  background: #454a6e;
}

#comp-kltxszxg .style-klv9skla__root:hover .StylableButton1881452515__label {
  color: #ffffff;
  letter-spacing: 0.25em;
}

#comp-kltxszxg .style-klv9skla__root[disabled] {
  background: #e2e2e2;
}

#comp-kltxszxg
  .style-klv9skla__root[disabled]
  .StylableButton1881452515__label {
  color: #8f8f8f;
}

#comp-kltxszxg .style-klv9skla__root[disabled] .StylableButton1881452515__icon {
  fill: #8f8f8f;
}

#comp-kltxszxg .style-klv9skla__root .StylableButton1881452515__container {
  transition: inherit;
  flex-direction: row;
  justify-content: center;
}

#comp-kltxszxg .style-klv9skla__root .StylableButton1881452515__label {
  transition: inherit;
  letter-spacing: 0.25em;
  display: initial;
  font-family: nimbus-sans-tw01con, sans-serif;
  font-weight: 700;
  color: #454a6e;
  font-size: 18px;
}

#comp-kltxszxg .style-klv9skla__root .StylableButton1881452515__icon {
  transition: inherit;
  fill: #000000;
  width: 11px;
  height: 11px;
  display: none;
}

#comp-klavdzm4 svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavdzm4 svg [data-color="2"] {
  fill: #ffffff;
}
#comp-klavg0oq svg [data-color="1"] {
  fill: #ffffff;
}
#comp-klavlm8x svg [data-color="1"] {
  fill: #ffffff;
}
#comp-km8atp8b svg [data-color="1"] {
  fill: #ffffff;
}
#comp-kltxszwh2 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kltxszwo1 svg [data-color="1"] {
  fill: #454a6e;
}
#comp-kltxszwu svg [data-color="1"] {
  fill: #454a6e;
}
